@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+KR:wght@400&Teko:wght@500&family=Fugaz+One&family=Anton&family=Noto+Serif+KR:wght@200&display=swap');

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
}



@media screen and (max-width:500px) and (min-width:200px) {
    html{
    overflow-x:hidden;
}
    /* MODEL-FORM */
    /*#wrap {
        position: relative;
        width: 100%;
        float: left;
        height: 70px;
        overflow-x: hidden;
    }

    #wrap header {
        width: 100%;
        float: left;
        height: 50px;
        position: fixed;
        z-index: 10;
        margin: 0 auto;
        background-color:#f1f1f1;
        -webkit-transition-duration: 0.4s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.4s;
        transition-timing-function: ease;
    }


    header .main-logo {
        position: absolute;
        width: 80px;
        left: 10px;
        padding-top: 10px;
    }

    header article a img {
        width: 80px;
    }

    header .model-logo {
        position: absolute;
        right: 0;
        top: 14px;
        right: 20px;
        background-color: rgba(0, 0, 0, .0);
        border-radius: 5px;
    }

    header .model-logo ul .menu a img {
        width: 80px;
    }


    header .model-logo ul .menu .hide {
        display: none;
        position: absolute;
        width: 300px;
        height: 1500px;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        right: -20px;
        background-color: #f1f1f1;
        text-align: right;
        overflow-y: scroll;
        top: 32px;
        padding-top:10px;
        border-bottom-left-radius: 15px;
    }
    header .model-logo ul .menu .hide li {
        margin-bottom: 20px;
    }

    header .model-logo ul .menu .hide li a {
        padding-right: 40px;
        color:#444;
        
    }
    header .model-logo ul .menu .hide li a:hover{
        border-bottom: 1px solid #000;
        font-weight: bold;
    }
    header .model-logo ul .menu .hide .etc-menu{
        background-color: #e1e1e1;
        padding-top:20px;
        height:500px;
    }
    header .model-logo ul .menu .hide .line {
        border-bottom: 0.5px solid #d4d4d4;
        margin: 0 auto;
        margin-bottom:-20px
        
    }


    header .menu-logo {
        position: absolute;
        right: 0;
        top: 11px;
        right: 20px;
        background-color: rgba(0, 0, 0, .0);
        -webkit-transition-duration: 0.1s;
        -webkit-transition-timing-function: ease;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        border-radius: 5px;
    }

    header .menu-logo a img {
        width: 25px;
    }

    .menu-model .menu a {
        cursor: pointer;
    }
    
    */
    .click-to-black{
        width:100%;
        height:100%;
        background: rgba(0,0,0,0.7);
        position:absolute;
        top:0;
        display: none;
        z-index: 9;
    }
    .header {
        width: 100%;
        height: 60px;
        background: #f1f1f1;
        position: fixed;
        z-index: 10;
        overflow: hidden;
    }

    .header .menu-btn {
        width: 49%;
        float: right;
        height: 100%;

    }

    .header .menu-btn a img {
        width: 80px;
        float: right;
        margin-top: 20px;
        margin-right: 10px;
        z-index: 2;
    }

    .header .logo-btn {
        width: 49%;
        float: left;
        height: 100%;
    }

    .header .logo-btn a img {
        width: 180px;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
    }

    .sidebar-menu {
        width: 50%;
        height: 100%;
        background: #f1f1f1;
        position: absolute;
        top: 0;
        right: -50%;
        z-index: 11;
        display:none;
        overflow-x: hidden;
    }
    .sidebar-menu .close-btn a img {
        width:30px;
        margin:15px 0 20px 18px;
    }
    
    .close-btn > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .menu-wrap {
        list-style: none;
        padding: 20px 20px;
        height: 100%;
        overflow-x: hidden;
    }
    .menu-wrap li{
        height:40px;
    }
    .menu-wrap li a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
    }


    /* ------------------------------//MODEL-FORM--------------------------- */






    /* -------------------------------HOME INFO----------------------------- */
    #home-box {
        position: relative;
        width: 100%;
        float: left;
        margin: 0 auto;
        margin-top: 80px;
        z-index: 1;
    }

    #home-box .main-info,
    .vehicle-info,
    .tech-info,
    .contact-info {
        position: relative;
        width: 100%;
        height: 620px;
        margin: 0 auto;
        float: left;
        text-align: center;
        margin-top: 10px;
    }

    #home-box .main-info .main-img-box {
        position: relative;
        width: 100%;
        margin: 0 auto;
        float: left;
    }

    #home-box .main-info .main-img-box img {
        width: 80%;
        border-radius: 20px;
        z-index: 1;
    }

    #home-box .main-info .main-txt-box,
    .vehicle-txt-box,
    .tech-txt-box,
    .contact-txt-box {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 20px;
    }

    #home-box .main-info .main-txt-box .main-txt1 {
        font-size: 18px;
        color: #003478;
        font-family: 'Fugaz One', cursive;
    }

    #home-box .main-info .main-txt-box .main-txt2,
    .vehicle-txt1,
    .tech-txt1,
    .contact-txt1 {
        font-size: 38px;
        font-weight: bold;
    }

    #home-box .main-info .main-txt-box .main-txt3,
    .tech-txt2,
    .contact-txt2 {
        font-size: 15px;
        color: #444;
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: -5px;
    }

    #home-box .vehicle-info {
        background-color: #fafafa;
        padding: 50px 0 50px 0;
    }

    #home-box .vehicle-info .vehicle-img-box {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }

    #home-box .vehicle-info .vehicle-img-box img {
        width: 80%;
        border-radius: 20px;
    }

    #home-box .vehicle-info .vehicle-txt-box .vehicle-txt2 {
        font-size: 14px;
        color: #444;
        font-family: 'Noto Sans KR', sans-serif;
        margin-top: -5px;
    }

    #home-box .tech-info {
        margin-top: 100px;
    }

    #home-box .tech-info .tech-img-box img {
        width: 80%;
        border-radius: 20px;
    }

    #home-box .contact-info {
        background-color: #fafafa;
        margin: 0 auto;
        position: relative;
        text-align: center;
        float: left;
        padding-top: 50px;
    }

    #home-box .contact-info .contact-box .contact-control {
        width: 75%;
        border-radius: 7px;
        padding-left: 10px;
        margin-bottom: 5px;
        border: 1px solid #dbdbdb;
        height: 30px;
    }

    #home-box .contact-info .contact-box .contact-control:nth-last-child(1) {
        height: 300px;
    }

    #home-box .contact-info .contact-button-box {
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
    }

    #home-box .contact-info .contact-button-box .contact-button {
        border-radius: 7px;
        background-color: #fff;
        border: 1px solid #000;
        width: 80px;
        height: 40px;
        font-size: 16px;
        transition: .2s;
    }

    #home-box .contact-info .contact-button-box .contact-button:hover {
        background-color: #000;
        transition: .2s;
        color: #fff;
    }

    #home-box footer {
        position: relative;
        width: 100%;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;

    }

    #home-box footer .footer-logo-img-box {
        width: 100%;
        position: relative;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #home-box footer .footer-logo-img-box img {
        width: 44%;
    }

    #home-box footer .footer-sns-img-box img {
        opacity: .7;
        margin-right: 18px;
        transition: .3s;
    }

    #home-box footer .footer-sns-img-box img:hover {
        opacity: 1;
        transition: .3s;
    }

    #home-box footer .footer-txt-box .footer-txt1 {
        font-style: italic;
        color: #555;
        font-size: 13px;
        margin-top: 20px;
    }



    /* -----------------------------//HOME INFO----------------------------- */


    /* -------------------------------INFORMATION--------------------------- */
    #car-info,
    #suv-info,
    #commercial-info,
    #hybrid-info,
    #performance-info,
    #truck-info,
    #future-info {
        display: none;
        font-family: 'Fugaz one', cursive;
        font-size: 20px;
        float: left;
        overflow-x: hidden;
    }

    .vehicle-txt {
        float: left;
        margin-left: 20px;
        margin-bottom: 60px;
        width: 335px;
        margin-top: 0px;
    }

    span {
        overflow-x: hidden;
    }

    span .detail .d1 {
        width: 160px;
        float: left;
    }

    span .detail .d2 {
        float: left;
        width: 40px;
    }

    span .detail .d2 p {
        color: #555;
        font-size: 13px;
        margin-left: 70px;
    }

    span .detail .d3 {
        float: left;
        width: 120px;
        margin-left: 50px;
    }

    span .detail .d3 p {
        color: #555;
        font-size: 13px;
        margin-left: 50px;
        margin-top: -1px;
        text-align: center;
    }

    span .detail .d2 img {
        width: 23px;
    }

    span .detail .d3 img {
        width: 16px;
    }

    span p {
        margin-left: 20px;
        color: #003478;
    }

    .price {
        font-size: 15px;
        color: #555;
    }

    span img {
        width: 400px;
        margin-left: 80px;

    }

    span .car-bottom-line {
        border-bottom: 0.2px solid #003478;
        width: 335px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 100px;
    }

    span a .more {
        margin-left: 290px;
        font-family: 'Noto sans', sans-serif;
        font-size: 13px;
        margin-top: 20px;
    }

    span a .more-last {
        margin-left: 200px;
        font-family: 'Noto sans', sans-serif;
        font-size: 13px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    /* --------------------------//INFORMATION---------------------------- */

}
