@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+KR:wght@400&Teko:wght@500&family=Fugaz+One&family=Anton&family=Noto+Serif+KR:wght@200&family=Fjalla+One&family=Bebas+Neue&display=swap');

a {
    text-decoration: none;
    color: #000;
}

p {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
    text-decoration: none;
}


html {
    overflow-x: hidden;
}

/* MODEL-FORM */
.click-to-black {
    width: 100%;
    height: 200%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: none;
    z-index: 13;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: rgba(255,255,255,0.2);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    /* 컬러1 */
    position: fixed;
    z-index: 10;
    overflow: hidden;
}

.header .menu-btn {
    width: 49%;
    float: right;
    height: 100%;
}

.header .menu-btn a img {
    width: 80px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    z-index: 2;
}

.header .logo-btn {
    width: 49%;
    float: left;
    height: 100%;
}

.header .logo-btn a img {
    width: 180px;
    float: left;
    margin-left: 10px;
    margin-top: 13px;
}

.sidebar-menu {
    width: 60%;
    height: 100%;
    background: #f1f1f1;
    /* 컬러1 */
    position: fixed;
    top: 0;
    right: -65%;
    z-index: 20;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-menu .close-btn {
    position: relative;
    background-color: #eee;
    /* 컬러2 */
}

.sidebar-menu .close-btn a img {
    position: absolute;
    top: 15px;
    left: 18px;
    width: 30px;
}

.close-btn > a {
    display: block;
    width: 100%;
    height: 60px;
}

.menu-wrap {
    list-style: none;
    height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
}

.menu-wrap li {
    height: 35px;
    border-bottom: 0.5px solid #777;
    /* 컬러3 */
    margin-top: 15px;
}

.menu-wrap li a {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: #444;
    /* 컬러4 */
    margin-left: 20px;

}

.menu-wrap .etc-menu {
    background: #e1e1e1;
    /* 컬러5 */
    width: 100%;
    float: left;
    padding-top: 0px;
}



.tablet-pc-vehicle-menu {
    float: right;
    width: 70%;
    height: 60px;
    z-index: 2;
    position: absolute;
    right: 00px;
    bottom: 0;
}

.tablet-pc-vehicle-menu-wrap {
    width: 90%;
    float: right;
    height: 50%;
    margin-top: 24.5px;
}

.tablet-pc-vehicle-menu-wrapper {
    float: right;
}

.tablet-pc-vehicle-menu-wrap a {
    float: left;
    font-family: 'Bebas Neue', cursive;
    margin: 0 10px;
    font-size: 12px;
    display: inline-block;
  position: relative;
}

.tablet-pc-vehicle-menu-wrap a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -6px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.tablet-pc-vehicle-menu-wrap a:hover:after { 
  width: 100%; 
  left: 0; 
}


/* ------------------------------//MODEL-FORM--------------------------- */


.tablet-pc-btn {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #000;
    
    bottom: 0px;
    opacity: 1;
    overflow: hidden;
    transition: .6s;
    z-index: 100;
    border-top:0.5px solid #333;
}


.tablet-pc-btn-menu-wrap {
    position: absolute;
    width: 520px;
    right: 0;
    
}

.tablet-pc-btn a {
    float: left;
    margin: 0 10px;
    color: #fff;
    font-size: 11px;
    margin-top: 19px;
    transition: .3s;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
  position: relative;
}

.tablet-pc-btn a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -6px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.tablet-pc-btn a:hover:after { 
  width: 100%; 
  left: 0; 
}

/* -------------------------------HOME TEST----------------------------- */
#home-box {
    overflow-x: hidden;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
    z-index: 1;
}

#home-box .swiper-container {
    width: 100%;
    margin: 0 auto;
    float: left;
}

#home-box .swiper-container .swiper-wrapper {
    float: left;
}

#home-box .swiper-container .swiper-wrapper .swiper-slide {
    width: 100%;
    position: relative;
}

#home-box .swiper-container .swiper-wrapper .swiper-slide img {
    width: 100%;
}

#home-box .swiper-container .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    transition: .4s;
    border: 0.5px solid #fff;
    margin: 0 10px;
}

#home-box .home-txt-en {
    position: absolute;
    color: #fff;
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    right: 5px;
    top: 80px;
    text-align: right;
    width: 100%;
}

#home-box .home-b .home-txt-en {
    opacity: 0.7;
}

#home-box .home-d .home-txt-ko {
    color: #003478;
    opacity: 1;
}

#home-box .home-txt-ko {
    position: absolute;
    color: #fff;
    font-size: 15px;
    right: 5px;
    top: 60px;
    font-weight: bold;
    opacity: 1;
}

#home-box .home-finder-wrapper {
    width: 100%;
    float: left;
    height: 100px;
    position: relative;
}

#home-box .home-finder-wrapper .home-finder {
    width: 90%;
    margin: 0 auto;
    height: 50%;
    text-align: center;
    margin-top: 30px;
}

#home-box .home-finder-wrapper .home-finder .finder-img {
    width: 20%;
    float: right;
    height: 40px;
}

#home-box .home-finder-wrapper .home-finder .finder-img img {
    width: 25px;
    margin-top: 5px;
    margin-right: 20px;
}

#home-box .home-finder-wrapper .home-finder .finder {
    width: 60%;
    border: none;
    margin: 0 auto;
    border-bottom: 0.5px solid #ccc;
    height: 30px;
    transition: .3s;
    float: left;
    padding-left: 10px;
    margin-left: 30px;
    border-radius: 0px;
}

/* -------------------------------//HOME TEST----------------------------- */

/* -------------------------------HOME CONTACT----------------------------- */
#home-box .contact-info {
    background-color: #fafafa;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding-top: 50px;
    overflow-y: none;
    padding-bottom: 50px;
    float: left;
}

#home-box .contact-info .contact-info-wrap {
    width: 100%;
    margin: 0 auto;
    float: left;
}

#home-box .contact-info .contact-box .contact-control {
    width: 75%;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #dbdbdb;
    height: 30px;
}

#home-box .contact-info .contact-box .contact-control:nth-last-child(1) {
    height: 300px;
}

#home-box .contact-info .contact-button-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

#home-box .contact-info .contact-button-box .contact-button {
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #000;
    width: 80px;
    height: 38px;
    font-size: 16px;
    transition: .2s;
}

#home-box .contact-info .contact-button-box .contact-button:hover {
    background-color: #000;
    transition: .2s;
    color: #fff;
}

#home-box .contact-info .contact-txt-box {
    margin-bottom: 40px;
}

#home-box .contact-info .contact-txt-box .contact-txt1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#home-box .contact-info .contact-txt-box .contact-txt2 {
    font-size: 11px;
}

/* -------------------------------//HOME CONTACT----------------------------- */


/* -------------------------------FOOTER----------------------------- */
footer {
    /*position:relative;*/
    position: relative;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    bottom: 0;
    overflow: none;
    padding-bottom: 50px;
    background-color: #000;
}
footer .footer-slogan{
    width:50%;
    float:left;
    position:relative;
    
}
footer .footer-slogan .footer-slogan-wrap{
    width:100%;
    text-align: left;
    position: absolute;
}

footer .footer-slogan .footer-slogan-wrap p{
    color:#fff;
    opacity:.7;
    font-family: 'Bebas Neue', cursive;
    line-height: 3;
    padding-left:10px;
    pointer-events: none;
    font-size:17px;
}

footer .footer-line-wrap{
    width:100%;
    position:relative;
}
footer .footer-line-wrap .footer-line{
    position:absolute;
    width:0.5px;
    height:115px;
    background-color: #fff;
    top:15px;
    left:50%;
    opacity:0.7;
    
}
footer .footer-wrap {
    width: 90%;
    margin: 0 auto;
}

footer .footer-img-box-wrap {
    float: left;
    width: 100%;
    position: relative;
}


footer .footer-sns-img-box {
    width: 220px;
    margin:0 auto;
    
}

footer .footer-sns-img-box img {
    width: 36px;
    opacity: .7;
    margin-right: 18px;
    transition: .3s;
    margin-top: 10px;
}

footer .footer-sns-img-box .sns-img-last {
    margin-right: 0px;
}

footer .footer-sns-img-box img:hover {
    opacity: 1;
    transition: .3s;
}

footer .footer-txt-box-wrap {
    width: 100%;
    float: left;
    font-family: 'Bebas Neue', cursive;
    margin-top:30px;
}

footer .footer-txt-box-wrap .footer-txt-box {
    width:90%;
    margin:0 auto;
}

footer .footer-txt-box-wrap a {
    transition: .3s;
    opacity: .7;
    font-size: 11px;
    color:#fff;
    margin:0 6px;
}

footer .footer-txt-box-wrap a:hover {
    opacity: 1;
}

footer .footer-txt-box-wrap .footer-txt-ko {
    font-size: 10px;
    font-family:'Noto Sasn KR',sans-serif;
}
footer .footer-txt-box-wrap .ko2{
    margin:0 0;
}

footer .footer-copy{
    position:relative;
    margin-top:10px;
}
footer .footer-copy .footer-txt1{
    color:#fff;
    font-family: 'Bebas Neue',cursive;
    font-size: 12px;
    pointer-events: none;
}
/* -------------------------------//FOOTER----------------------------- */


/* -------------------------------VEHICLE INFO--------------------------- */
#car-info,
#suv-info,
#commercial-info,
#hybrid-info,
#performance-info,
#truck-info,
#future-info {
    width: 100%;
    margin: 0 auto;
    float: left;
    padding-top: 80px;
    display: none;
}

.car-info-wrapper {

    width: 100%;
    margin: 0 auto;
    float: left;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 0.5px solid #777;
}

.car-info-wrapper-first {
    margin-top: 40px;
}

.car-info-wrapper-last {
    border: none;
    margin-bottom: 0;
}

.ford-sport .car-txt-wrap .car-title {
    font-style: italic;
    color: #003478;
}

.car-info-wrapper .car-1 .car-txt-wrap {
    width: 30%;
    float: left;
    position: relative;
}

.car-info-wrapper .car-1 .car-txt-wrap .car-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    width: 300%;
    margin-left: 10px;

}

.car-info-wrapper .car-1 .car-txt-wrap .car-txt {
    line-height: 3.3;
    font-size: 14px;
    text-align: right;
    color: #777;
    border-bottom: 0.5px solid #777;
    width: 90px;

}

.car-info-wrapper .car-1 .car-img-wrap {
    width: 65%;
    float: right;
    padding-top: 65px;
}

.car-info-wrapper .car-1 .car-img-wrap img {
    width: 450px;
    overflow-x: hidden;
}

.car-info-wrapper .car-1 .car-img-wrap .more {
    text-align: right;
    margin-right: 20px;
    margin-top: 35px;
    font-size: 14px;
    color: #003478;
}







/* --------------------------//VEHICLE INFO---------------------------- */


/* --------------------------PARTS---------------------------- */
#parts {
    float: left;
    width: 100%;
    margin: 0 auto;
    display: none;
    top: 70px;
    padding-top: 60px;
}

.parts-main-img {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

.parts-main-img img {
    width: 100%;
    border-radius: 10px;
}

.parts-main-txt {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-right: 0.5px solid #555;
    width: 32%;
    height: 400px;
}

.parts-pure-txt {
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    font-size: 14px;
    width: 55%;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    height: 400px;
}

.parts-warning {
    font-weight: bold;
    margin-top: 30px;
}

.parts-button-place {
    margin: 0 auto;
    width: 90%;
}

.parts-button {
    width: 49%;
    height: 40px;
    margin-top: 20px;
    border: 0px;
    border-radius: 10px;
    background-color: #003478;
    color: #fff;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

/* --------------------------//PARTS---------------------------- */


/* --------------------------MAINTAIN---------------------------- */
#maintain {
    float: left;
    width: 100%;
    margin: 0 auto;
    top: 70px;
    display: none;
    padding-top: 60px;
}

.maintain-main-img {
    margin: 0 auto;
    width: 90%;
    margin-top: 20px;
}

.maintain-main-img img {
    width: 100%;
    border-radius: 10px;
}

#maintain .maintain-menu {
    margin: 20px 0 20px 0;
}

#maintain .maintain-menu a p {
    width: 85%;
    height: 40px;
    text-align: left;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #f0f0f0;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
    border-bottom: 0.5px solid #e1e1e1;
}

#maintain .maintain-menu a .menu1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#maintain .maintain-menu .maintain-mention {
    width: 80%;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    display: none;
}

#maintain .maintain-menu .maintain-mention h4 {
    text-decoration: underline;
}

/* --------------------------//MAINTAIN---------------------------- */


/* --------------------------SUPPORT---------------------------- */
#support {
    float: left;
    padding-top: 80px;
    display: none;
}

#support .swiper-container {
    width: 100%;
    height: auto;
    margin-top: 0px;
    position: relative;
}

#support .support-main-img-wrap {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
}

#support .support-main-img-wrap .support-img1 {
    background-image: url(../images/support3.png);
    width: 70%;
    height: 280px;
    float: left;
    border-radius: 10px;
    transition: .3s;
    position: relative;
}

#support .support-main-img-wrap .support-img2 {
    background-image: url(../images/ecoboost3.png);
    width: 25%;
    height: 280px;
    background-size: cover;
    float: left;
    border-radius: 10px;
    float: right;
    transition: .3s;
    position: relative;
    opacity: 0.3;
}

#support .support-main-img-wrap .support-img1 p {
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 115px;
    transition: .3s;
}

#support .support-main-img-wrap .support-img2 p {
    position: absolute;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 115px;
    transition: .3s;
}

#support .support-ex-wrapper1,
.support-ex-wrapper2 {
    float: left;
    width: 100%;
    margin: 0 auto;
}

#support .support-ex-wrapper2 {
    display: none;
}

#support .support-ex-wrap {
    margin: 0 auto;
    width: 90%;
    border: 0.5px solid #ccc;
    border-radius: 10px;
    padding-bottom: 40px;
    margin-top: 40px;
}

#support .sync3-wrap {
    width: 20%;
    margin: 0 auto;
}

#support .sync3-wrap .sync3 {
    text-align: center;
    background-color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: #003478;
    margin-top: -13px;
}

#support .ecoboost-wrap {
    width: 30%;
    margin: 0 auto;
}

#support .support-ex-wrapper1 .support-ex-wrap .support-ex .support-ex-title {
    margin-bottom: 5px;
}

#support .support-ex-wrapper1 .support-ex-wrap .support-ex .support-ex-text {
    line-height: 1.4;
}

#support .support-caution-wrap {
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 20px;
}

#support .support-caution {
    padding-top: 25px;
    padding-bottom: 20px;
    color: #666;
    margin: 0 auto;
}

#support .ecoboost-wrap .ecoboost {
    text-align: center;
    background-color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: #003478;
    margin-top: -13px;
}

#support .support-ex {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'Apple SD Gothic', sans-serif;
    position: relative;
}

#support .support-ex h1 {
    position: absolute;
    color: #ccc;
    font-size: 40px;
    left: -15px;
    opacity: 0.3;
    position: absolute;
    top: -4px;
}

#support .support-ex-wrap .support-ex .support-ex-title h1 {
    left: -12px;
}

#support .support-ex .support-ex-title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    color: #222;
    margin-bottom: 10px;
}

#support .support-ex .support-ex-text {
    font-size: 13px;
    padding-left: 20px;
    color: #444;
    line-height: 1.4;
}

#support .support-caution {
    font-size: 0.9em;
    width: 370px;
    line-height: 1.5;
}

/* --------------------------//SUPPORT---------------------------- */



/* -------------------------PROMOTION---------------------------- */
#promotion {
    float: left;
    width: 100%;
    padding-top: 80px;
    display: none;
}

#promotion .promotion-wrap {
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

#promotion .promotion-wrap .promotion-img-wrap {
    width: 600px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 450px;
    border-radius: 10px;
    transition: .7s;
    position: relative;
}

#promotion .promotion-wrap .promotion-img-wrap3 {
    margin-bottom: 10px;
}

#promotion .promotion-wrap .promotion-img-wrap img {
    width: 600px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
}


#promotion .promotion-wrap .promotion-img-wrap1:hover {
    height: 695px;
}

#promotion .promotion-wrap .promotion-img-wrap2:hover {
    height: 787px;
}

#promotion .promotion-wrap .promotion-img-wrap3:hover {
    height: 695px;
}

#promotion .promotion-txt {
    color: #f1f1f1;
    margin-bottom: 50px;
    font-size: 40px;
    position: absolute;
    top: 0;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    line-height: 11;
    background-color: rgba(0, 0, 0, 0.5);
}





/* --------------------------//PROMOTION---------------------------- */





/* --------------------------DRIVE-TEST---------------------------- */
#drive-test {
    width: 100%;
    float: left;
    display: none;
    padding-top: 80px;
    position: relative;
    overflow-x: hidden;
}

#drive-test .drive-test-wrap {
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    transition: .3s;
    transition-delay: 1s;
}

#drive-test .drive-test-wrap .test-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#drive-test .drive-test-wrap .into-wrap .test-caution {
    text-align: center;
    font-size: 12px;
    color: #003478;
    margin-top: 10px;
    margin-bottom: 60px;
}

#drive-test .drive-test-wrap .into-wrap .title {
    float: left;
    width: 55%;
    margin: :0 auto;
    margin-bottom: 80px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

#drive-test .drive-test-wrap:nth-child(2) .into-wrap .title {
    margin-bottom: 80px;
}

#drive-test .drive-test-wrap:nth-child(6) .into-wrap .title {
    margin-bottom: 150px;
}

#drive-test .drive-test-wrap:nth-child(7) .into-wrap .title {
    margin-bottom: 90px;
}

#drive-test .drive-test-wrap:nth-child(n+8):nth-child(-n+12) .into-wrap .title {
    margin-bottom: 40px;
}

#drive-test .drive-test-wrap .into-wrap .model-detail {
    float: right;
    width: 35%;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 1.5;
}

#drive-test .drive-test-wrap .into-wrap .model-detail .detail {
    position: relative;
}

#drive-test .drive-test-wrap .into-wrap .model-detail .detail .detail-text {
    color: #888;
    margin-top: 5px;
}

#drive-test .drive-test-wrap .into-wrap .model-detail .detail .detail-text:hover {
    color: #003478;
    transition: .3s;
}

#drive-test .into-wrap .model-detail .detail .choose {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #003478;
    position: absolute;
    right: 0px;
    top: 8px;
    opacity: 0;
    transition: .3s;
}

#drive-test .drive-test-wrap .into-wrap .model-detail .detail .underline {
    width: 100%;
    border-bottom: 0.5px solid #ccc;
    margin-top: 4px;
}

#drive-test .drive-test-wrap .into-wrap .model-detail .detail .underline-color {
    border-bottom: 0.5px solid #003478;
    width: 0%;
    transition: .3s;
    position: absolute;
    bottom: 0;
    transition: .5s;
}

#drive-test .drive-test-wrap .into-wrap .model-detail .detail:hover .underline-color {
    width: 100%;
}


#drive-test .drive-test-prev {
    bottom: 0;
    width: 49%;
    float: left;
    text-align: right;
    color: #888;
    margin-bottom: 40px;

}

#drive-test .drive-test-next {
    bottom: 0;
    width: 49%;
    float: right;
    text-align: left;
    color: #003478;
    margin-bottom: 40px;

}


#drive-test .drive-test-model-wrap .drive-test-next {
    bottom: 0;
    width: 100%;
    float: right;
    right: 0;
    text-align: center;
    color: #003478;
}




#drive-test .drive-test-area {
    margin: 0 auto;
    margin-top: 40px;
    display: none;
    transition: .3s;
    opacity: 0;
}

#drive-test .drive-test-area .into-wrap .title {
    margin-bottom: 190px;
}

#drive-test .drive-test-area .into-wrap:nth-child(2) .title {
    margin-bottom: 220px;
}

#drive-test .drive-test-area .into-wrap:nth-child(3) .title {
    margin-bottom: 110px;
}

#drive-test .drive-test-area .into-wrap:nth-child(n+4):nth-child(-n+7) .title {
    margin-bottom: 50px;
}


#drive-test .drive-test-information {
    margin: 0 auto;
    margin-top: 40px;
    display: none;
    transition: .3s;
    opacity: 0;
}

#drive-test .drive-test-information .test-title {
    margin-bottom: 40px;
}

#drive-test .drive-test-information {
    display: none;
    opacity: 0;
    transition: .3s;
}

#drive-test .drive-test-information .into-wrap .drive-inform-wrap {
    float: left;
    width: 100%;
}

#drive-test .drive-test-information .into-wrap .title {
    float: left;
    margin-bottom: 50px;
}

#drive-test .drive-test-information .into-wrap .detail-wrap {
    width: 41%;
    float: right;
}

#drive-test .drive-test-information .detail-text {
    border: none;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#drive-test .drive-test-information .drive-test-prev {
    bottom: 0;
    width: 45%;
    float: left;
    text-align: right;
    color: #888;
    margin-bottom: 40px;
    margin-top: 40px;
}

#drive-test .drive-test-information .drive-test-next {
    bottom: 0;
    width: 49%;
    float: right;
    text-align: left;
    color: #003478;
    margin-bottom: 40px;
    font-weight: bold;
    margin-top: 40px;
}

/* --------------------------//DRIVE-TEST---------------------------- */




/* --------------------------FIXED-TOP---------------------------- */
.fixed-top {
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    position: fixed;
    margin-top: -20px;
    z-index: 7;
    opacity: 0.7;
}

.fixed-top .fixed-top2 {
    width: 40%;
    float: right;
    text-align: right;
    height: auto;
    margin: 7px 13px 7px 0;
    font-size: 12px;
    color: #003478;
}

/* --------------------------//FIXED-TOP---------------------------- */


@media screen and (max-width:329px) and (min-width:100px) {

    .tablet-pc-vehicle-menu {
        display: none;
    }

    .tablet-pc-btn {
        display: none;
    }



    .header .menu-btn a img {
        width: 60px;
    }

    .header .logo-btn a img {
        width: 150px;
        margin-top: 15px;
    }

    .sidebar-menu {
        width: 60%;
    }

    /* ------------------------------//MODEL-FORM--------------------------- */

    #home-box .home-txt-en {
        font-size: 50px;
    }

    #home-box .home-txt-ko {
        font-size: 13px;
    }


    /* -----------------------------//HOME INFO----------------------------- */

    /* --------------------------SUPPORT---------------------------- */
    #support .support-caution {
        font-size: 0.4em;
        padding-top: 25px;
        padding-bottom: 20px;
        color: #666;
        width: 254px;
        margin: 0 auto;
    }

    /* --------------------------//SUPPORT---------------------------- */



    /* -------------------------PROMOTION---------------------------- */
    #promotion {
        float: left;
        width: 100%;
        padding-top: 80px;
        display: none;
    }

    #promotion .promotion-wrap {
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    #promotion .promotion-wrap .promotion-img-wrap {
        width: 240px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        height: 220px;
        border-radius: 10px;
        transition: .7s;
        position: relative;
    }

    #promotion .promotion-wrap .promotion-img-wrap3 {
        margin-bottom: 10px;
    }

    #promotion .promotion-wrap .promotion-img-wrap:hover {
        height: 315px;
    }

    #promotion .promotion-wrap .promotion-img-wrap1:hover {
        height: 270px;
    }

    #promotion .promotion-wrap .promotion-img-wrap3:hover {
        height: 270px;
    }

    #promotion .promotion-wrap .promotion-img-wrap img {
        width: 240px;
        border-radius: 10px;
    }

    #promotion .promotion-txt {
        color: #f1f1f1;
        margin-bottom: 50px;
        font-size: 40px;
        position: absolute;
        top: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        line-height: 5.5;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .8s;
    }


    /* --------------------------//PROMOTION---------------------------- */

footer {
        /*position:relative;*/
        position: relative;
        width: 100%;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 60px;
        bottom: 0;
        overflow: none;
        padding-bottom: 30px;
        background-color: #000;
    }
    footer .footer-slogan{
        display: none;
    }
    footer .footer-line-wrap{
        display: none;
    }
    footer .footer-wrap {
        width: 90%;
        margin: 0 auto;
    }

   

    footer .footer-img-box-wrap {
        float: left;
        width: 100%;
        position: relative;
    }

    
    footer .footer-sns-img-box {
        width: 100%;
        position: relative;
        margin: 0 auto;
        float: left;
    }

    

    footer .footer-sns-img-box img {
        width: 35px;
        opacity: .5;
        margin-right: 18px;
        transition: .3s;
        margin-top: 10px;
    }

    footer .footer-sns-img-box .sns-img-last {
        margin-right: 0px;
    }

    footer .footer-sns-img-box img:hover {
        opacity: 1;
        transition: .3s;
    }

    footer .footer-txt-box-wrap {
        width: 100%;
        float: left;
        font-family: 'Bebas Neue', cursive;

    }

    footer .footer-txt-box-wrap .footer-txt-box {
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
    }

    footer .footer-txt-box-wrap a {
        margin: 0 4px;
        transition: .3s;
        opacity: .7;
        font-size: 12px;
        color: #fff;
    }

    footer .footer-txt-box-wrap a:hover {
        opacity: 1;
    }

    footer .footer-txt-box-wrap .footer-txt-ko {
        font-size: 11px;
    }
    footer .footer-copy{
        float:left;
        width:100%;
    }
    footer .footer-copy .footer-txt1{
        margin-top: 0px;
        opacity: .7;
        font-size: 12.7px;
        text-align: center;
        margin-right: 0;
        color: #fff;
    }
   
    /* --------------------------//FOOTER---------------------------- */
}


@media screen and (max-width:500px) and (min-width:330px) {
    .tablet-pc-vehicle-menu {
        display: none;
    }

    .tablet-pc-btn {
        display: none;
    }

    .sidebar-menu {
        width: 60%;
        height: 100%;
        background: #f1f1f1;
        /* 컬러1 */
        position: fixed;
        top: 0;
        right: -65%;
        z-index: 20;
        display: none;
        overflow-x: hidden;
        overflow-y: auto;
    }



    /* -----------------------------//HOME INFO----------------------------- */

    /* --------------------------SUPPORT---------------------------- */

    #support .support-caution {
        font-size: 0.7em;
        width: 287px;
        line-height: 1.5;
    }

    /* --------------------------//SUPPORT---------------------------- */



    /* -------------------------PROMOTION---------------------------- */
    #promotion {
        float: left;
        width: 100%;
        padding-top: 80px;
        display: none;
    }

    #promotion .promotion-wrap {
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    #promotion .promotion-wrap .promotion-img-wrap {
        width: 300px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        height: 220px;
        border-radius: 10px;
        transition: .7s;
        position: relative;
    }

    #promotion .promotion-wrap .promotion-img-wrap:hover {
        height: 392px;
    }

    #promotion .promotion-wrap .promotion-img-wrap1:hover {
        height: 340px;
    }

    #promotion .promotion-wrap .promotion-img-wrap3:hover {
        height: 340px;
    }

    #promotion .promotion-wrap .promotion-img-wrap img {
        width: 300px;
        border-radius: 10px;
    }

    #promotion .promotion-txt {
        color: #f1f1f1;
        margin-bottom: 50px;
        font-size: 40px;
        position: absolute;
        top: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        line-height: 5.5;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .8s;
    }

    /* --------------------------//PROMOTION---------------------------- */

    /* --------------------------FOOTER---------------------------- */
    footer {
        /*position:relative;*/
        position: relative;
        width: 100%;
        float: left;
        margin: 0 auto;
        text-align: center;
        padding-top: 60px;
        bottom: 0;
        overflow: none;
        padding-bottom: 30px;
        background-color: #000;
    }
    footer .footer-slogan{
        display: none;
    }
    footer .footer-line-wrap{
        display: none;
    }
    footer .footer-wrap {
        width: 90%;
        margin: 0 auto;
    }

   

    footer .footer-img-box-wrap {
        float: left;
        width: 100%;
        position: relative;
    }

    
    footer .footer-sns-img-box {
        width: 100%;
        position: relative;
        margin: 0 auto;
        float: left;
    }

    

    footer .footer-sns-img-box img {
        width: 35px;
        opacity: .5;
        margin-right: 18px;
        transition: .3s;
        margin-top: 10px;
    }

    footer .footer-sns-img-box .sns-img-last {
        margin-right: 0px;
    }

    footer .footer-sns-img-box img:hover {
        opacity: 1;
        transition: .3s;
    }

    footer .footer-txt-box-wrap {
        width: 100%;
        float: left;
        font-family: 'Bebas Neue', cursive;

    }

    footer .footer-txt-box-wrap .footer-txt-box {
        width: 100%;
        margin: 0 auto;
        margin-top: 0px;
    }

    footer .footer-txt-box-wrap a {
        margin: 0 4px;
        transition: .3s;
        opacity: .7;
        font-size: 12px;
        color: #fff;
    }

    footer .footer-txt-box-wrap a:hover {
        opacity: 1;
    }

    footer .footer-txt-box-wrap .footer-txt-ko {
        font-size: 11px;
    }
    footer .footer-copy{
        float:left;
        width:100%;
    }
    footer .footer-copy .footer-txt1{
        margin-top: 0px;
        opacity: .7;
        font-size: 12.7px;
        text-align: center;
        margin-right: 0;
        color: #fff;
    }

    /* --------------------------//FOOTER---------------------------- */


}

@media screen and (max-width:700px) and (min-width:501px) {

    .tablet-pc-vehicle-menu {
        display: none;
    }

    .tablet-pc-btn {
        display: none;
    }

    /* --------------------------SUPPORT---------------------------- */

    #support .support-caution {
        font-size: 0.8em;
        width: 330px;
    }

    /* --------------------------//SUPPORT---------------------------- */



    /* -------------------------PROMOTION---------------------------- */
    #promotion {
        float: left;
        width: 100%;
        padding-top: 80px;
        display: none;
    }

    #promotion .promotion-wrap {
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 40px;
    }

    #promotion .promotion-wrap .promotion-img-wrap {
        width: 450px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        height: 300px;
        border-radius: 10px;
        transition: .7s;
        position: relative;
    }

    #promotion .promotion-wrap .promotion-img-wrap img {
        width: 450px;
        border-radius: 10px;
    }

    #promotion .promotion-wrap .promotion-img-wrap1:hover {
        height: 508px;
    }

    #promotion .promotion-wrap .promotion-img-wrap2:hover {
        height: 588px;
    }

    #promotion .promotion-wrap .promotion-img-wrap3:hover {
        height: 508px;
    }

    #promotion .promotion-txt {
        color: #f1f1f1;
        margin-bottom: 50px;
        font-size: 40px;
        position: absolute;
        top: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        line-height: 7;
        background-color: rgba(0, 0, 0, 0.5);
        transition: .8s;
    }

    /* -------------------------//PROMOTION---------------------------- */

    footer {
        padding-bottom: 30px;
    }
     footer .footer-slogan{
        display: none;
    }
    footer .footer-line-wrap{
        display: none;
    }
    footer .footer-copy{
        float:left;
        width:100%;
    }
}

@media screen and (max-width:850px) and (min-width:701px) {

    .header .menu-btn {
        display: none;
    }

    

    /* --------------------------SUPPORT---------------------------- */

    #support .support-caution {
        font-size: 0.7em;
        width: 300px;
    }

    /* --------------------------//SUPPORT---------------------------- */



    /* -------------------------PROMOTION---------------------------- */
    #promotion {
        float: left;
        width: 100%;
        padding-top: 80px;
        display: none;
    }

    #promotion .promotion-wrap {
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    #promotion .promotion-wrap .promotion-img-wrap {
        width: 600px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        height: 450px;
        border-radius: 10px;
        transition: .7s;
        position: relative;
    }

    #promotion .promotion-wrap .promotion-img-wrap img {
        width: 600px;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
    }


    #promotion .promotion-wrap .promotion-img-wrap1:hover {
        height: 695px;
    }

    #promotion .promotion-wrap .promotion-img-wrap2:hover {
        height: 787px;
    }

    #promotion .promotion-wrap .promotion-img-wrap3:hover {
        height: 695px;
    }

    #promotion .promotion-txt {
        color: #f1f1f1;
        margin-bottom: 50px;
        font-size: 40px;
        position: absolute;
        top: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        line-height: 11;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* --------------------------//PROMOTION---------------------------- */

     footer {
    /*position:relative;*/
    position: relative;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    bottom: 0;
    overflow: none;
    padding-bottom: 100px;
    background-color: #000;
}
    
footer .footer-wrap {
    width: 100%;
    margin: 0 auto;
}

footer .footer-img-box-wrap {
    float: right;
    width: 40%;
    position: relative;
}


footer .footer-sns-img-box {
    width: 220px;
    margin-right: 10px;
}

footer .footer-sns-img-box img {
    width: 36px;
    opacity: .7;
    margin-right: 18px;
    transition: .3s;
    margin-top: 10px;
}

footer .footer-sns-img-box .sns-img-last {
    margin-right: 0px;
}

footer .footer-sns-img-box img:hover {
    opacity: 1;
    transition: .3s;
}

footer .footer-txt-box-wrap {
    width: 100%;
    float:left;
    font-family: 'Bebas Neue', cursive;
    margin-top:30px;
}

footer .footer-txt-box-wrap .footer-txt-box {
    width:230px;
    float:right;
    padding-right:7px;
}

footer .footer-txt-box-wrap a {
    transition: .3s;
    opacity: .7;
    font-size: 11px;
    color:#fff;
    margin:0 6px;
}

footer .footer-txt-box-wrap a:hover {
    opacity: 1;
}

footer .footer-txt-box-wrap .footer-txt-ko {
    font-size: 10px;
    font-family:'Noto Sasn KR',sans-serif;
}
footer .footer-txt-box-wrap .ko2{
    margin:0 0;
}

footer .footer-copy{
    margin-top:10px;
    float:right;
    padding-right:14px;
}
footer .footer-copy .footer-txt1{
    color:#fff;
    font-family: 'Bebas Neue',cursive;
    font-size: 12.7px;
    pointer-events: none;
    float:right;
    text-align: right;
}
}











@media screen and (max-width:1023px) and (min-width:851px){
    .header .menu-btn {
        display: none;
    }
    
    .header .tablet-pc-vehicle-menu .tablet-pc-vehicle-menu-wrap {
    width: 90%;
    float: right;
    height: 50%;
    margin-top: 23px;
    }
    
    .header .tablet-pc-vehicle-menu .tablet-pc-vehicle-menu-wrap .tablet-pc-vehicle-menu-wrapper a p{
        font-size: 15px;
    }
    
    


    /* --------------------------SUPPORT---------------------------- */

    #support .support-caution {
        font-size: 0.7em;
        width: 300px;
    }

    /* --------------------------//SUPPORT---------------------------- */



    /* -------------------------PROMOTION---------------------------- */
    #promotion {
        float: left;
        width: 100%;
        padding-top: 80px;
        display: none;
    }

    #promotion .promotion-wrap {
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    #promotion .promotion-wrap .promotion-img-wrap {
        width: 600px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        height: 450px;
        border-radius: 10px;
        transition: .7s;
        position: relative;
    }

    #promotion .promotion-wrap .promotion-img-wrap img {
        width: 600px;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
    }


    #promotion .promotion-wrap .promotion-img-wrap1:hover {
        height: 695px;
    }

    #promotion .promotion-wrap .promotion-img-wrap2:hover {
        height: 787px;
    }

    #promotion .promotion-wrap .promotion-img-wrap3:hover {
        height: 695px;
    }

    #promotion .promotion-txt {
        color: #f1f1f1;
        margin-bottom: 50px;
        font-size: 40px;
        position: absolute;
        top: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        line-height: 11;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* --------------------------//PROMOTION---------------------------- */


    footer {
    /*position:relative;*/
    position: relative;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    bottom: 0;
    overflow: none;
    padding-bottom: 100px;
    background-color: #000;
}
    
footer .footer-wrap {
    width: 100%;
    margin: 0 auto;
}

footer .footer-img-box-wrap {
    float: right;
    width: 40%;
    position: relative;
}


footer .footer-sns-img-box {
    width: 260px;
    margin-right: 10px;
}

footer .footer-sns-img-box img {
    width: 40px;
    opacity: .7;
    margin-right: 18px;
    transition: .3s;
    margin-top: 10px;
}

footer .footer-sns-img-box .sns-img-last {
    margin-right: 0px;
}

footer .footer-sns-img-box img:hover {
    opacity: 1;
    transition: .3s;
}

footer .footer-txt-box-wrap {
    width: 100%;
    float:left;
    font-family: 'Bebas Neue', cursive;
    margin-top:30px;
}

footer .footer-txt-box-wrap .footer-txt-box {
    width:230px;
    float:right;
    padding-right:7px;
}

footer .footer-txt-box-wrap a {
    transition: .3s;
    opacity: .7;
    font-size: 11px;
    color:#fff;
    margin:0 6px;
}

footer .footer-txt-box-wrap a:hover {
    opacity: 1;
}

footer .footer-txt-box-wrap .footer-txt-ko {
    font-size: 10px;
    font-family:'Noto Sasn KR',sans-serif;
}
footer .footer-txt-box-wrap .ko2{
    margin:0 0;
}

footer .footer-copy{
    margin-top:10px;
    float:right;
    padding-right:14px;
}
footer .footer-copy .footer-txt1{
    color:#fff;
    font-family: 'Bebas Neue',cursive;
    font-size: 12.7px;
    pointer-events: none;
    float:right;
    text-align: right;
}
}




@media screen and (max-width:1366px) and (min-width:1024px){
    .header .menu-btn {
        display: none;
    }
    
    .header .tablet-pc-vehicle-menu .tablet-pc-vehicle-menu-wrap {
    width: 90%;
    float: right;
    height: 50%;
    margin-top: 23px;
    }
    
    .header .tablet-pc-vehicle-menu .tablet-pc-vehicle-menu-wrap .tablet-pc-vehicle-menu-wrapper a p{
        font-size: 15px;
    }

    /* -------------------------------HOME CONTACT----------------------------- */
#home-box .contact-info {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
    #home-box .contact-info .contact-info-wrapper{
        width:1024px;
        margin:0 auto;
    }
#home-box .contact-info .contact-info-wrap {
    margin: 0 auto;
    width: 100%;
    height:auto;
    background-color: #fafafa;
}

#home-box .contact-info .contact-box .contact-control {
    width: 50%;
    border-radius: 7px;
    padding-left: 10px;
    margin-bottom: 5px;
    border: 1px solid #dbdbdb;
    height: 30px;
}

#home-box .contact-info .contact-box .contact-control:nth-last-child(1) {
    height: 300px;
}

#home-box .contact-info .contact-button-box {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

#home-box .contact-info .contact-button-box .contact-button {
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #000;
    width: 80px;
    height: 38px;
    font-size: 16px;
    transition: .2s;
}

#home-box .contact-info .contact-button-box .contact-button:hover {
    background-color: #000;
    transition: .2s;
    color: #fff;
}

#home-box .contact-info .contact-txt-box {
    margin-bottom: 40px;
}

#home-box .contact-info .contact-txt-box .contact-txt1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#home-box .contact-info .contact-txt-box .contact-txt2 {
    font-size: 11px;
}

/* -------------------------------//HOME CONTACT----------------------------- */

    /* --------------------------SUPPORT---------------------------- */

    #support .support-caution {
        font-size: 0.7em;
        width: 300px;
    }

    /* --------------------------//SUPPORT---------------------------- */



    /* -------------------------PROMOTION---------------------------- */
    #promotion {
        float: left;
        width: 100%;
        padding-top: 80px;
        display: none;
    }

    #promotion .promotion-wrap {
        width: 90%;
        margin: 0 auto;
        padding-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    #promotion .promotion-wrap .promotion-img-wrap {
        width: 600px;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;
        height: 450px;
        border-radius: 10px;
        transition: .7s;
        position: relative;
    }

    #promotion .promotion-wrap .promotion-img-wrap img {
        width: 600px;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
    }


    #promotion .promotion-wrap .promotion-img-wrap1:hover {
        height: 695px;
    }

    #promotion .promotion-wrap .promotion-img-wrap2:hover {
        height: 787px;
    }

    #promotion .promotion-wrap .promotion-img-wrap3:hover {
        height: 695px;
    }

    #promotion .promotion-txt {
        color: #f1f1f1;
        margin-bottom: 50px;
        font-size: 40px;
        position: absolute;
        top: 0;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        line-height: 11;
        background-color: rgba(0, 0, 0, 0.5);
    }

    /* --------------------------//PROMOTION---------------------------- */


    footer {
    /*position:relative;*/
    position: relative;
    width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    bottom: 0;
    overflow: none;
    padding-bottom: 100px;
    background-color: #000;
}
    
footer .footer-wrap {
    width: 100%;
    margin: 0 auto;
}

footer .footer-img-box-wrap {
    float: right;
    width: 40%;
    position: relative;
}


footer .footer-sns-img-box {
    width: 250px;
    margin-right: 10px;
}

footer .footer-sns-img-box img {
    width: 45px;
    opacity: .7;
    margin-right: 18px;
    transition: .3s;
    margin-top: 10px;
}

footer .footer-sns-img-box .sns-img-last {
    margin-right: 0px;
}

footer .footer-sns-img-box img:hover {
    opacity: 1;
    transition: .3s;
}

footer .footer-txt-box-wrap {
    width: 100%;
    float:left;
    font-family: 'Bebas Neue', cursive;
    margin-top:30px;
}

footer .footer-txt-box-wrap .footer-txt-box {
    width:260px;
    float:right;
    padding-right:7px;
}

footer .footer-txt-box-wrap a {
    transition: .3s;
    opacity: .7;
    font-size: 14px;
    color:#fff;
    margin:0 6px;
}

footer .footer-txt-box-wrap a:hover {
    opacity: 1;
}

footer .footer-txt-box-wrap .footer-txt-ko {
    font-size: 12px;
    font-family:'Noto Sasn KR',sans-serif;
}
footer .footer-txt-box-wrap .ko2{
    margin:0 0;
}

footer .footer-copy{
    margin-top:10px;
    float:right;
    padding-right:14px;
}
footer .footer-copy .footer-txt1{
    color:#fff;
    font-family: 'Bebas Neue',cursive;
    font-size: 14.7px;
    pointer-events: none;
    float:right;
    text-align: right;
}
}