@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-Bold.otf");
    font-family: "Pretendard-Bold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #010101;
}




.txt-eng-light {
    font-family: "Urbanist-Light";
}

.txt-eng-regular {
    font-family: "Urbanist-Regular";
}

.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-semibold {
    font-family: "Urbanist-SemiBold";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}



.txt-kor-thin {
    font-family: "Pretendard-Thin";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-regular {
    font-family: "Pretendard-Regular";
}

.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-semibold {
    font-family: "Pretendard-SemiBold";
}

.txt-kor-bold {
    font-family: "Pretendard-Bold";
}








/* #buyback-accept-whole 시작 */
#buyback-accept-whole {
    position: relative;
    float: left;
    width: 1400px;
    height: auto;
    left: 50%;
    transform: translate(-50%);
}



/* .Timeline-wrap 시작 */
.timeline-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 70px;
}

.timeline-title-wrap {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.timeline-shape-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 45px;
    left: 50%;
    transform: translate(-50%);
}


.timeline-shape {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #efefef;
    border-radius: 100%;
}

.timeline-shape {
    top: 50%;
    transform: translate(0, -50%);
}

.timeline-shape1 {
    left: 20px;
}

.timeline-present-shape {
    position: relative;
    width: 8px;
    height: 8px;
    background: #101010;
    border-radius: 100%;
    top:.1px;
}

.timeline-shape2 {
    
    left: 455px;
}

.timeline-shape3 {
    width: 17px;
    height: 16px;
    border: 1px solid #101010;
    border-radius: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    right: 482px;
    box-sizing: border-box;
}

.timeline-shape4 {
    right: 25px;
}


.timeline-bg {
    position: absolute;
    width: 1350px;
    border-bottom: 1px solid #efefef;
    top: 50%;
    transform: translate(0, -50%);
    left: 20px;
    z-index: -1;
}

/* .Timeline-wrap 끝 */






/* .buyback-able-title-wrap 시작 */
.buyback-able-title-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 65px;
}

.buyback-able-title-wrap .buyback-able-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 18px;
}


/* .buyback-able-title-wrap 끝 */






/* .buyback-able-list-wrap 시작 */
.buyback-able-list-wrap{
    position: relative;
    float:left;
    width:100%;
}

input[type="radio"]{
    display: none;
}

#able-table:checked ~ .able-table-wrap{
    display: block;
    display: flex;
}
#able-sofa:checked ~ .able-sofa-wrap{
    display: block;
    display: flex;
}



.buyback-product-category-btn{
    position: relative;
    float:left;
    width:80px;
    height:40px;
    background: #f5f5f5;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:15px;
    margin-top:40px;
}


.able-table-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top:65px;
}

.able-table{
    position: relative;
    width:685px;
    height:495px;
    border:1px solid #101010;
    border-radius: 40px;
    box-sizing: border-box;
    padding-top:60px;
    padding-left:40px;
}





.top-sign{
    position: absolute;
    width:78px;
    height:60px;
    top:-50px;
    left:50%;
    transform: translate(-50%);
    background: #fff;
}
.able-sign{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    margin-bottom: 12px;
    color:#34a55a;
}
.disable-sign{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    margin-bottom: 12px;
    color:#d50000;
}
.top-sign img{
    position: relative;
    float:left;
    width:30px;
    left:50%;
    transform: translate(-50%);
}


.able-txt{
    position: relative;
    float:left;
    width:100%;
    margin-bottom:80px;
}



.disable-table{
    position: relative;
    width:685px;
    height:495px;
    border:1px solid #101010;
    border-radius: 40px;
    box-sizing: border-box;
    padding-top:60px;
    padding-left:40px;
    padding-right:40px;
}

.disable-caution-wrap{
    position: absolute;
    bottom:40px;
}
.disable-caution-wrap p{
    position: relative;
    float:left;
    width:100%;
    color:#d00000;
}



.admit-contents-wrap{
    position: absolute;
    right:0;
    bottom:-40px;
    cursor: pointer;
}

.admit-contents-wrap input[type="checkbox"]{
    position: relative;
    float:right;
    margin-left:10px;
    padding:0;
    cursor: pointer;
}
.admit-contents-wrap label{
    position: relative;
    float:left;
    width:auto;
    cursor: pointer;
}
/* .buyback-able-list-wrap 끝 */








/* .steps-btn-wrap 시작 */
.steps-btn-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}



.steps-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 70px;
    border-radius: 40px;
}

.close-steps-btn {
    position: relative;
    border: 1px solid #010101;
}

.next-steps-btn {
    position: relative;
    background: #010101;
    color: #fff;
}

/* .steps-btn-wrap 끝 */


/* #buyback-accept-whole 끝 */
