@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}





#contact-whole {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    min-width: 1400px;
    height: auto;
    box-sizing: border-box;
    margin-top:150px;
    padding: 0 20px;
    left:50%;
    transform: translate(-50%);
}

.contact-title{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 50px;
} 



.contact-txt1{
    position: relative;
    float:left;
    width:100%;
    line-height: 2;
}

.contact-txt2{
    position: relative;
    float:left;
    width:100%;
    line-height: 2;
}



.contact-img-wrap{
    position: relative;
    float:left;
    width:100%;
    height: 400px;
    background: #eee;
    margin-top:100px;
    margin-bottom: 60px;
}




/* collaborate-inquiry */
.collaborate-inquiry{
    position: relative;
    float:left;
    width:1360px;
    box-sizing: border-box;
}

.collaborate-inquiry .collaborate-inquiry-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
    margin-bottom: 50px;
}

.collaborate-inquiry label{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding : 20px 10px;
    border-bottom:1px solid #e0e0e0;
}
.collaborate-inquiry label:nth-child(2){
    border-top:1px solid #2f2f2f;
}
.inquiry-category{
    position: relative;
    width:250px;
}

.collaborate-inquiry label input[type="text"]{
    position: relative;
    width:200px;
     -webkit-border-radius: 0;
     -ms-border-radius: 0;
    border-radius: 0;
    border:1px solid #e0e0e0;
    padding:10px;
}

.collaborate-inquiry textarea{
    position: relative;
    float:left;
    width:100%;
     height: 500px;
    margin-top:20px;
    -webkit-border-radius: 0;
     -ms-border-radius: 0;
    border-radius: 0;
    border:1px solid #e0e0e0;
    box-sizing: border-box;
    padding:30px;
}

.inquiry-button{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    color:#fff;
    background: #2f2f2f;
    padding:25px 0;
    margin-top:50px;
    margin-bottom: 100px;
}


.more-wrap-button{
    position: relative;
    float:left;
    width:100%;
    margin:15px 0;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.more-open-and-close{
    font-size: 12px;
}
.more-open-and-close.close{
    display: none;
}



.more-wrap{
    position: relative;
    float:left;
    width:100%;
    overflow: hidden;
    height: 0;
}

/* add-file */
.add-file{
    position: relative;
    float:left;
    width:100%;
}
.add-file-title{
    position: relative;
    float:left;
    width:50%;
}
.delete-file{
    position: relative;
    float:right;
    width:50%;
    text-align: right;
    font-size: 12px;
    opacity: .5;
    cursor: pointer;
    
}


.add-file-top-category{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding:10px 10px;
    display: flex;
    align-items: center;
    background: #f8f8f8;
    margin-top:15px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.add-file-top-category input[type="checkbox"]{
    margin:0;
    margin-right: 30px;
    padding:0;
}

.add-file-top-category p:nth-child(3){
    position: absolute;
    right:150px;
}

.add-file-top-category p:nth-child(4){
    position: absolute;
    right:30px;
}

.add-my-file{
    position: relative;
    float:left;
    width:100%;
    height: 100px;
    box-sizing: border-box;
    padding:10px 10px;
    display: flex;
    border-bottom:1px solid #ddd;
}


.add-my-file input[type="checkbox"]{
    margin:0;
    margin-right: 30px;
    padding:0;
}

.add-my-file p:nth-child(3){
    position: absolute;
    width:55px;
    right:150px;
    text-align: center;
}

.add-my-file p:nth-child(4){
    position: absolute;
    width:70px;
    right:6px;

    text-align: center;
}

/* //add-file */


/* admit-privacy */
.admit-privacy{
    position: relative;
    float:left;
    width:100%;
    margin-top:50px;
}
.admit-privacy-title{
    position: relative;
    float:left;
    width:100%;
}

.admit-privacy-info{
    position: relative;
    float:left;
    width:100%;
    background: #f8f8f8;
    box-sizing: border-box;
    padding:20px 40px;
    margin-top:15px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 1.5;
}

.admit-privacy-checkbox{
    position: relative;
    float:right;
    width:auto;
    display: flex;
}
.admit-privacy-checkbox-txt{
    position: relative;
    font-size: 12px;
    margin-right:10px;
}
.admit-privacy-checkbox input[type="checkbox"]{
    position: relative;
    margin:0;
}
/* //admit-privacy */

/* //collaborate-inquiry */









 