@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}



.txt-eng-light{
    font-family: "Urbanist-Light";
}
.txt-eng {
    font-family: "Urbanist-Medium";
}
.txt-eng-semibold{
    font-family: "Urbanist-SemiBold";
}
.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor-light{
     font-family: "Pretendard-Thin";
}
.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}





/* find-id */
#find-id{
    position: relative;
    float:left;
    width:100%;
    max-width: 300px;
    height:100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    overflow-x: hidden;
    left:50%;
    transform: translate(-50%);
}


.find-wrap{
    position: relative;
    float:left;
    width:100%;
    height: auto;
}


.go-back-login{
    position: relative;
    float:left;
    width:25px;
    transform: rotate(180deg);
    margin-bottom: 30px;
}


.find-title-wrap{
    position: relative;
    float:left;
    width:100%;
}



.find-title{
    position: relative;
    font-size: 20px;
    transition-duration: .3s;
}

.find-id-title{
    margin-right: 20px;
    opacity: .5;
}
.find-pw-title{
    cursor:default;
}
.find-id-title:hover{
    opacity: 1;
}




/* to-number */
.to-number-wrap{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:50px;
}
.to-number-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.to-number-button{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
    background: #2f2f2f;
    color:#fff;
}
/* //to-number */


/* to-email */
.to-email-wrap{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:10px;
}
.to-email-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.to-email-button{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 0;
    border:1px solid #2f2f2f;
    transition-duration: .3s;
}


.input-yours{
    position: relative;
    float:left;
    width:100%;
     /*height: 160px;*/
    margin-top:30px;
    overflow: hidden;
    transition-duration: .2s;
    height: 0;
}





.input-yours input{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
     -webkit-border-radius: 0;
    border:none;
    border-bottom:1px solid #555;
    padding:15px 0;
    outline: none;
    font-size: 14px;
    margin-top: 10px;
}

.result-check{
    position: relative;
    float:left;
    width:100%;
    margin-top:10px;
    display: flex;
    align-items: center;
    transition-duration: .2s;
}


.send-to-email{
    position: relative;
    float:right;
    width:auto;
    padding:20px 18px;
    background: #2f2f2f;
    color:#fff;
    font-size: 12px;
    margin-top:10px;
    opacity: .4;
    transition-duration: .2s;
    border-radius: 100%;
}
/* //to-email */



/* //find-id */




























