@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}





.txt-eng-light{
    font-family: "Urbanist-Light";
}
.txt-eng {
    font-family: "Urbanist-Medium";
}
.txt-eng-semibold{
    font-family: "Urbanist-SemiBold";
}
.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor-light{
     font-family: "Pretendard-Thin";
}
.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}






#pc-product-list {
    position: relative;
    float: left;
    width: 100%;
    min-width:1400px;
    left:50%;
    transform: translate(-50%);
    height: auto;
    animation-name: appEar;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes appEar {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* product-top-title */

#product-top-title {
    position: relative;
    float: left;
    width: 100%;
    left: 50%;
    height: 120px;
    transform: translate(-50%);
    border-bottom: 1px solid #ddd;
    margin-top: 120px;
}


/* menu-map */
.menu-map {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    left: 50%;
    transform: translate(-50%);
}

.menu-map-wrap {
    position: relative;
    float: left;
    width: 100%;
}

.menu-map-wrap p {
    position: relative;
    float: left;
    margin-right: 15px;
    color: #888;
    font-size: 12px;
}

.menu-map-wrap a:nth-child(1) p {
    margin-left: 20px;
}

/* //menu-map */


#product-top-title .category-title {
    position: relative;
    float: left;
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

/* //product-top-title */



/* side-and-list */
#side-and-list {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 200px;
}

/* //side-and-list */





/* side-menu */

.side-category-wrap {
    position: relative;
    float: left;
    width: 200px;
    padding-top: 80px;
    margin-left: 20px;
    border-right: 1px solid #ddd;
}

.side-category-wrap .side-category-title {
    position: relative;
    float: left;
    width: 100%;
    border-left: 1px solid #2380C9;
    padding-left: 10px;
    margin-bottom: 20px;

}

.side-category-wrap .down-menu {
    position: absolute;
    width: 8px;
    padding-left: 10px;
    margin-top: 3px;
    z-index: 2;
}

.side-category-wrap .up-menu {
    position: absolute;
    width: 0px;
    padding-left: 10px;
    margin-top: 3px;
    z-index: 2;
}

.side-category-wrap .second-category {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    transition-duration: .2s;
}

.side-category-wrap .category-sofa {
    /*height: 155px;*/
    height: 0px;
}

.category-sofa p {
    margin-bottom: 12px;
    margin-left: 11px;
    opacity: .6;
    transition-duration: .2s;
}

.category-sofa p:hover {
    opacity: 1;
}

.side-category-wrap .category-table {
    /*height: 95px;*/
    height: 0px;
}

.category-table p {
    margin-bottom: 12px;
    margin-left: 11px;
    opacity: .6;
    transition-duration: .2s;
}

.category-table p:hover {
    opacity: 1;
}

/* side-menu */




.no-product-sign{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
}





/* product-list */
.product-list {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 30px;
    transition-duration: .5s;
    overflow: hidden;
}

.product-list-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition-duration: 1s;
}

.product {
    position: relative;
    float: left;
    width: 50%;
    height: auto;
    margin-top: 20px;
}

.product:nth-child(1) {
    margin-right: 7px;
}

.product:nth-child(2) {
    margin-left: 7px;
}

.product-button {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.product-img {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden !important;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.product-info {
    position: absolute;
    float: left;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    background: #EBEBEB;
    bottom: 0;
    opacity: .83;
    transition-duration: .3s;
}

.product-name-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.product-name-wrap .name {
    position: relative;
    float: left;
    width: auto;
    margin-right: 10px;
    font-size: 18px;
}

.product-name-wrap .material {
    position: relative;
    float: left;
    width: auto;
    font-size: 18px;
}

.name-kor {
    position: relative;
    float: left;
    width: auto;
    margin-right: 10px;
    font-size: 12px;
    margin-left: 40px;
}

.color {
    position: relative;
    float: left;
    width: auto;
    font-size: 12px;
    color: #808080;
}

.price {
    position: relative;
    float: right;
    width: auto;
    font-size: 16px;
    margin-right: 40px;
    margin-top: -2px;
}

/* //product-list */


/* //product-list */




/* product-img */
.product .product-img .default {
    position: absolute;
    float: left;

    transition-duration: .3s;
    opacity: 0;
}

.product .product-img .img-zoom {
    position: absolute;
    float: left;
    transition-duration: .3s;
    opacity: 1;
}


.product-button:hover ~ .product-img .img-zoom {
    opacity: 0;
}

.product-button:hover ~ .product-img .default {
    opacity: 1;
}







/* table img */
.default.wily-fenix {
    width: 60%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.wily-fenix {
    width: 120%;
    top: 40%;
    left: 30%;
}


.default.wily-hpl {
    width: 60%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.wily-hpl {
    width: 120%;
    top: 40%;
    left: 30%;
}


.default.wily-low-fenix {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.wily-low-fenix {
    width: 120%;
    top: 30%;
    left: 30%;
}


.default.wily-low-hpl {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.wily-low-hpl {
    width: 120%;
    top: 30%;
    left: 30%;
}



.default.oblong-fenix {
    width: 80%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.oblong-fenix {
    width: 140%;
    top: 30%;
    left: 30%;
}



.default.oblong-hpl {
    width: 80%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.oblong-hpl {
    width: 140%;
    top: 30%;
    left: 30%;
}



.default.mate-table {
    width: 60%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.mate-table {
    width: 100%;
    top: 20%;
    left: 30%;
}



.default.mate-table-square {
    width: 80%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.mate-table-square {
    width: 120%;
    top: 20%;
    left: 30%;
}




.default.mate-sofa-table {
    width: 60%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.mate-sofa-table {
    width: 90%;
    top: 20%;
    left: 30%;
}





.default.pet-trolley {
    width: 120%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.pet-trolley {
    width: 200%;
    top: -40%;
    left: -4%;
}

/* //table img */





/* sofa img */
.default.grae-sofa1 {
    width: 40%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.grae-sofa1 {
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(0, -70%);
}




.default.grae-sofa2 {
    width: 60%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.grae-sofa2 {
    width: 110%;
    top: 50%;
    left: 35%;
    transform: translate(0, -70%);
}




.default.grae-sofa3 {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.grae-sofa3 {
    width: 140%;
    top: 50%;
    left: 35%;
    transform: translate(0, -50%);
}




.default.grae-sofa4 {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.grae-sofa4 {
    width: 140%;
    top: 50%;
    left: 15%;
    transform: translate(0, -50%);
}




.default.oursofa-seater1 {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.oursofa-seater1 {
    width: 100%;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}





.default.oursofa-seater2 {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.oursofa-seater2 {
    width: 140%;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}




.default.oursofa-seater3 {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.oursofa-seater3 {
    width: 140%;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}



.default.oursofa-couch {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.oursofa-couch {
    width: 75%;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}



.default.oursofa-bench {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.oursofa-bench {
    width: 120%;
    top: 50%;
    left: 40%;
    transform: translate(0, -50%);
}



.default.flexsofa-bb {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.flexsofa-bb {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}


.default.flexsofa-acd {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.flexsofa-acd {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}


.default.flexsofa-ad {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.flexsofa-ad {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}




.default.flexsofa-bcb {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.flexsofa-bcb {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}



.default.flexsofa-bespoke {
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.flexsofa-bespoke {
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
}




.default.cloudsofa-ab {
    width: 150%;
    top: 50%;
    left: -80px;
    transform: translate(0, -50%);
}

.img-zoom.cloudsofa-ab {
    width: 150%;
    top: 50%;
    left: -80px;
    transform: translate(0, -50%);
}




.default.cloudsofa-ac {
    width: 170%;
    top: 45%;
    left: -80px;
    transform: translate(0, -50%);
}

.img-zoom.cloudsofa-ac {
    width: 170%;
    top: 45%;
    left: -80px;
    transform: translate(0, -50%);
}



.default.cloudsofa-ad {
    width: 170%;
    left: 20%;
    top:50%;
    transform: translate(-50%,-50%);
}

.img-zoom.cloudsofa-ad {
    width: 170%;
    left: 20%;
    top:50%;
    transform: translate(-50%,-50%);
}





.default.cloudsofa-bespoke {
    width: 150%;
    left: 45%;
    top:50%;
    transform: translate(-50%,-50%);
}

.img-zoom.cloudsofa-bespoke {
    width: 150%;
    left: 45%;
    top:50%;
    transform: translate(-50%,-50%);
}






.default.blocksofa-bespoke {
    width: 150%;
    left:70%;
    top:50%;
    transform: translate(-50%,-50%);
}

.img-zoom.blocksofa-bespoke {
    width: 150%;
    left:70%;
    top:50%;
    transform: translate(-50%,-50%);
}

/* //sofa img */









/* chair img */
.default.rotu-chair {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}

.img-zoom.rotu-chair {
    width: 70%;
    top: 50%;
    transform: translate(0, -50%);
}



.default.cesca-arm-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.cesca-arm-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}



.default.cesca-side-chair {
    width: 45%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.cesca-side-chair {
    width: 45%;
    top: 45%;
    transform: translate(0, -50%);
}




.default.ironica-chair {
    width: 70%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.ironica-chair {
    width: 70%;
    top: 45%;
    transform: translate(0, -50%);
}




.default.mid-century-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.mid-century-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}




.default.mate-stool{
    width: 35%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.mate-stool{
    width: 35%;
    top: 45%;
    transform: translate(0, -50%);
}



.default.y-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.y-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}



.default.royce-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.royce-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}




.default.side-ton-chair {
    width: 40%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.side-ton-chair {
    width: 40%;
    top: 45%;
    transform: translate(0, -50%);
}





.default.michael-side-chair {
    width:80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.michael-side-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}



.default.michael-arm-chair {
    width:80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.michael-arm-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}




.default.wilson-arm-chair {
    width:80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.wilson-arm-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}




.default.wilson-rattan-arm-chair {
    width:80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.wilson-rattan-arm-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}




.default.wilson-chair {
    width:80%;
    top: 45%;
    transform: translate(0, -50%);
}

.img-zoom.wilson-chair {
    width: 80%;
    top: 45%;
    transform: translate(0, -50%);
}
/* //chair img */






/* lighting img */
.default.any-wireless-lamp-floor{
    width:45%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.any-wireless-lamp-floor{
    width:45%;
    top:50%;
    transform: translate(0,-50%);
}




.default.any-wireless-lamp{
    width:90%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.any-wireless-lamp{
    width:90%;
    top:50%;
    transform: translate(0,-50%);
}


.default.farol-lamp-floor{
    width:45%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.farol-lamp-floor{
    width:45%;
    top:50%;
    transform: translate(0,-50%);
}




.default.farol-lamp{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.farol-lamp{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}



.default.celina-lamp{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.celina-lamp{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}
/* //lighting img */






/* interior img */
.default.side-table{
    width:80%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.side-table{
    width:80%;
    top:50%;
    transform: translate(0,-50%);
}


.default.tubo-bin{
    width:80%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.tubo-bin{
    width:80%;
    top:50%;
    transform: translate(0,-50%);
}


/* //interior img */




/* kitchen img */
.default.mio-bowl{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.mio-bowl{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}




.default.mio-mug{
    width:50%;
    top:50%;
    transform: translate(0,-50%);
}
.img-zoom.mio-mug{
    width:50%;
    top:50%;
    transform: translate(0,-50%);
}
/* //kitchen img */











/* product-button */
.product-button:hover ~ .product-info {
    opacity: .83;
}

.product-button:hover ~ .product-img .top-material {
    opacity: 1;
}

/* //product-button */


/* category-button */
.side-category-wrap .second-category #cafe-series:checked ~ .product-list .product-list-wrap:nth-child(-n+2):nth-child(n+5) {
    display: none;
}

/* //category-button */




