@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Urbanist-ExtraBold";
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}


.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}





#pc-product-list{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    animation-name: appEar;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes appEar{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* product-top-title */

#product-top-title{
    position: relative;
    float:left;
    width:100%;
    left:50%;
    height:120px;
    transform: translate(-50%);
    border-bottom: 1px solid #ddd;
    margin-top:120px;
}


/* menu-map */
.menu-map{
    position: relative;
    float:left;
    width:100%;
    max-width:1400px;
    left:50%;
    transform: translate(-50%);
}
.menu-map-wrap{
    position: relative;
    float:left;
    width:100%;
}
.menu-map-wrap p{
    position: relative;
    float:left;
    margin-right:15px;
    color:#888;
    font-size: 12px;
}
.menu-map-wrap a:nth-child(1) p{
    margin-left:20px;
}
/* //menu-map */


#product-top-title .category-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 30px;
    margin-top:20px;
    margin-left: 20px;
}
/* //product-top-title */



/* side-and-list */
#side-and-list{
    position: relative;
    float:left;
    width:100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    left:50%;
    transform: translate(-50%);
    padding-bottom: 200px;
}
/* //side-and-list */





/* side-menu */

.side-category-wrap{
    position: relative;
    float:left;
    width:200px;
    padding-top:80px;
    margin-left:20px;
    border-right: 1px solid #ddd;
}
.side-category-wrap .side-category-title{
    position: relative;
    float:left;
    width:100%; 
    border-left:1px solid #2380C9;
    padding-left:10px;
    margin-bottom:20px;
    font-family: "Urbanist-SemiBold";
}
.side-category-wrap .down-menu{
    position: absolute;
    width:8px;
    padding-left:10px;
    margin-top:3px;
    z-index: 2;
}
.side-category-wrap .up-menu{
    position: absolute;
    width:0px;
    padding-left:10px;
    margin-top:3px;
    z-index: 2;
}
.side-category-wrap .second-category{
    position: relative;
    float:left;
    width:100%;
    margin-bottom:20px;
    overflow: hidden;
    transition-duration: .2s;
}
.side-category-wrap .category-sofa{
    /*height: 155px;*/
    height:0px;
}
.category-sofa p{
    margin-bottom: 12px;
    margin-left:11px;
    opacity: .6;
    transition-duration: .2s;
}
.category-sofa p:hover{
    opacity: 1;
}
.side-category-wrap .category-table{
    /*height: 95px;*/
    height:0px;
}

.category-table p{
    margin-bottom: 12px;
    margin-left:11px;
    opacity: .6;
    transition-duration: .2s;
}
.category-table p:hover{
    opacity: 1;
}
/* side-menu */









/* product-list */
.product-list{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:30px;
    transition-duration: .5s;
    overflow: hidden;
}
.product-list-wrap{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition-duration: 1s;
}
.product{
    position: relative;
    float:left;
    width:50%;
    height:auto;
}
.product:nth-child(1){
    margin-right:7px;
}
.product:nth-child(2){
    margin-left:7px;
}
.product-button{
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    z-index: 2;
}


.product-img{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 100%;
    overflow: hidden!important;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.product-info{
    position: absolute;
    float:left;
    width:100%;
    height: 120px;
    margin-top:10px;
    background: #EBEBEB;
    bottom:0;
    opacity: .83;
    transition-duration: .3s;
}

.product-name-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    margin-bottom:10px;
    margin-left:40px;
}
.product-name-wrap .name{
    position: relative;
    float:left;
    width:auto;
    margin-right:10px;
    font-size: 18px;
}
.product-name-wrap .material{
    position: relative;
    float:left;
    width:auto;
    font-size: 18px;
}

.name-kor{
    position: relative;
    float:left;
    width: auto;
    margin-right:10px;
    font-size: 12px;
    margin-left:40px;
}
.color{
    position: relative;
    float:left;
    width:auto;
    font-size: 12px;
    color:#808080;
}
.price{
    position: relative;
    float:right;
    width:auto;
    font-size: 16px;
    margin-right:40px;
    margin-top:-2px;
}
/* //product-list */


/* //product-list */




/* product-img */
.product .product-img .default{
    position: absolute;
    float:left;
    top:50%;
    transform: translate(0,-50%);
    transition-duration: .3s;
    opacity: 0;
}
.product .product-img .img-zoom{
    position: absolute;
    float:left;
    transition-duration: .3s;
    opacity: 1;
}
.product .product-img .top-material{
    position: absolute;
    top:15px;
    right:15px;
    font-size: 14px;
    border:1px solid #3D82B8;
    border-radius: 30px;
    padding:5px 10px;
    color:#3D82B8;
    opacity: 1;
    transition-duration: .3s;
}
.product .product-img .top-material-hpl{
    color:#37683c;
    border:1px solid #37683c;
}

.product-button:hover ~ .product-img .img-zoom{
    opacity: 0;
}
.product-button:hover ~ .product-img .default{
    opacity: 1;
}

.product1 img{
    width:60%;
}
.product1 .img-zoom{
    width:120%;
    top:40%;
    left:30%;
}
.product2 img{
    width:60%;
}
.product2 .img-zoom{
    width:120%;
    top:40%;
    left:30%;
}
.product3 img{
    width:70%;
}
.product3 .img-zoom{
    width:120%;
    top:30%;
    left:30%;
}
.product4 img{
    width:70%;
}
.product4 .img-zoom{
    width:120%;
    top:30%;
    left:30%;
}
.product5 img{
    width:80%;
}
.product5 .img-zoom{
    width:140%;
    top:30%;
    left:30%;
}
.product6 img{
    width:80%;
}
.product6 .img-zoom{
    width:140%;
    top:30%;
    left:30%;
}
.product7 img{
    width:60%;
}
.product7 .img-zoom{
    width:100%;
    top:20%;
    left:30%;
}
.product8 img{
    width:80%;
}
.product8 .img-zoom{
    width:120%;
    top:20%;
    left:30%;
}
.product9 img{
    width:60%;
}
.product9 .img-zoom{
    width:90%;
    top:20%;
    left:30%;
}
.product10 img{
    width:120%;
}
.product10 .img-zoom{
    width:200%;
    top:-40%;
    left:-4%;
}
/* //product-img */





/* material */
.product-img .enter-detail:hover ~ .material{
    opacity: 1;
}
.product-img .hpl{
    color: #37683C;
    border-color: #37683C;
}
/* //material */



/* product-button */
.product-button:hover ~ .product-info{
    opacity: .83;
}
.product-button:hover ~ .product-img .top-material{
    opacity: 1;
}
/* //product-button */


/* category-button */
.side-category-wrap .second-category #cafe-series:checked ~ .product-list .product-list-wrap:nth-child(-n+2):nth-child(n+5){
    display: none;
}
/* //category-button */





#list-mobile{
    display: none;
}







@media screen and (max-width:830px) and (min-width:300px) {
    #pc-product-list{
        display: none;
    }
    
    #list-mobile{
        display: block;
    }
}







 