@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



body::-webkit-scrollbar {
    display: none;
}

html{
    overflow-x: hidden!important;
}
body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden!important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}






.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}

#mob-whole {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    animation-name: appEar;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes appEar{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.mob-whole-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 14px;
}


/* top-category */
.top-category-wrap {
    position: relative;
    float: left;
    width: 100%;
}

.top-category-wrap p {
    position: relative;
    float: left;
    width: auto;
    margin-right: 15px;
    font-size: 10px;
    color: #888;
}

/* //top-category */



/* mob-product-list */
.mob-product-list {
    position: relative;
    float: left;
    width: 100%;
}

.mob-product-title-category {
    position: relative;
    float: left;
    font-size: 18px;
}


/* category-button */


.mob-product-list .mob-category-button {
    position: absolute;
    float: left;
    width: auto;
    cursor: pointer;
    top: 3.5px;
    z-index: 2;
}

.mob-table-button {
    right: 115px;
}
.mob-chair-button {
    right: 55px;
}
.mob-sofa-button {
    right: 0;
}




.label-underline {
    position: absolute;
    right: 0;
    width: 35px;
    height: 5px;
    background: #0A57BF;
    top: 35px;
    z-index: 2;
    display: none;
}

.label-underline1 {
    width: 40px;
    right: 113px;
}

.label-underline2 {
    width: 40px;
    right: 55px;
}




#mob-cafe, #mob-mate, #mob-muah{
    display: none;
}


#mob-table:checked ~ .mob-table-button,
#mob-chair:checked ~ .mob-chair-button,
#mob-sofa:checked ~ .mob-sofa-button {
    font-family: "Urbanist-ExtraBold";
}

#mob-table:checked ~ .label-underline1,
#mob-chair:checked ~ .label-underline2,
#mob-sofa:checked ~ .label-underline3 {
    display: block;
}


.line {
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid #d0d0d0;
    z-index: 1;
    opacity: .6;
    margin-top: 15px;
}
.line2{
    margin-top:18px;
}
/* //category-button */




/* table-button */
.mob-table-category-button{
    position: relative;
    float:left;
    width:33.3%;
    text-align: center;
    font-size: 11px;
    margin-top:20px;
    cursor: pointer;
}

#mob-cafe:checked ~ .mob-cafe-button,
#mob-mate:checked ~ .mob-mate-button,
#mob-muah:checked ~ .mob-muah-button{
    font-family: "Urbanist-ExtraBold";
}




/* //table-button */


/* product-list */
.mob-product-list{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:30px;
    transition-duration: .5s;
    overflow: hidden;
}
.mob-product-list-wrap{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition-duration: 1s;
}
.mob-product{
    position: relative;
    float:left;
    width:50%;
    height:auto;
}
.mob-product:nth-child(1){
    margin-right:7px;
}
.mob-product:nth-child(2){
    margin-left:7px;
}
.mob-product-button{
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    z-index: 2;
}


.mob-product-img{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 100%;
    overflow: hidden!important;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.mob-product-info{
    position: relative;
    float:left;
    width:100%;
    height: 90px;
    margin-top:10px;
    background: #fff;
}

.mob-product-name-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:10px;
    margin-bottom:3px;
}
.mob-product-name-wrap .mob-name{
    position: relative;
    float:left;
    width:auto;
    margin-right:10px;
    font-size: 11px;
}

.mob-name-kor{
    position: relative;
    float:left;
    width: auto;
    margin-right:10px;
    font-size: 10px;
    color:#767676;
}
.mob-color{
    position: relative;
    float:left;
    width:auto;
    font-size: 10px;
    margin-top:0px;
    color:#808080;
}
.mob-price{
    position: relative;
    float:left;
    width:100%;
    font-size: 11px;
    margin-top:10px;
    font-family: "Pretendard-Regular"
}
/* //product-list */


/* //mob-product-list */




/* product-img */
.mob-product .mob-product-img img{
    position: absolute;
    float:left;

}






/* mob-table-img */
.mob-wily-fenix{
    width:60%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-wily-hpl{
    width:60%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-wily-low-fenix{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-wily-low-hpl{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-oblong-fenix{
    width:80%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-oblong-hpl{
    width:80%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-mate-table{
    width:60%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-mate-table-square{
    width:80%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-mate-sofa-table{
    width:60%;
    top:50%;
    transform: translate(0,-50%);
}
.mob-pet-trolley{
    width:120%;
    top:50%;
    transform: translate(0,-50%);
}
/* //mob-table-img */








/* mob-sofa-img */
.mob-grae-sofa1{
    width:40%;
    top:50%;
    transform: translate(0,-50%);
}


.mob-grae-sofa2{
    width:60%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-grae-sofa3{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-grae-sofa4{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-oursofa-seater1{
    width:50%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-oursofa-seater2{
    width:73%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-oursofa-seater3{
    width:73%;
    top:50%;
    transform: translate(0,-50%);
}


.mob-oursofa-couch{
    width:50%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-oursofa-bench{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}


.mob-flexsofa-bb{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}


.mob-flexsofa-acd{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}




.mob-flexsofa-ad{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-flexsofa-bcb{
    width:70%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-flexsofa-bespoke{
    width:100%;
    top:50%;
    transform: translate(0,-50%);
}



.mob-cloudsofa-ab{
    width:200%;
    top:60%;
    
    transform: translate(0,-50%);
}


.mob-cloudsofa-ac{
    width:200%;
    top:40%;
    
    transform: translate(0,-50%);
}



.mob-cloudsofa-ad{
    width:200%;
    top:60%;
    
    transform: translate(0,-50%);
}


.mob-cloudsofa-bespoke{
    width:200%;
    top:60%;
    
    transform: translate(0,-50%);
}



.mob-blocksofa-bespoke{
    width:170%;
    top:50%;
    
    transform: translate(0,-50%);
}
/* //mob-sofa-img */









/* more-product */
.mob-more-product-button{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    border: 1px solid #2F2F2F;
    padding:15px 0;
    box-sizing: border-box;
    margin-top:50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.mob-more-product-button .more-down{
    position: relative;
    float:left;
    height:10px;
    text-align: center;
    margin-top:4px;
    margin-left:15px;
}
/* //more-product */
