@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}

a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}

















#qna-whole {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    margin-top: 150px;
    padding: 0 20px;
}






.title-wrap {
    position: relative;
    float: left;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.qna-title {
    position: relative;
    float: left;
    width: auto;
    font-size: 14px;
    margin-right: 10px;
}

.qna-title:nth-child(2) {
    font-size: 11px;
    top:2px;
}




 



/* qna-search-wrap */
.qna-search-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 40px;
    border:1px solid #2f2f2f;
     padding:20px; 
    box-sizing: border-box;
}
.qna-search-box{
    width:100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
   
}
.qna-search {
    position: relative;
    width: 100%;
    padding: 12px 0;
    background: #f0f0f0;
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
}

.qna-search input[type="text"] {
    position: relative;
    width: 90%;
    box-sizing: border-box;
    float: right;
    background: none;
    border: none;
    font-size: 11px;
    outline: none;
    padding-right: 30px;
    top:1px;
}

.qna-search .qna-search-img {
    position: relative;
    float: left;
    width: 13px;
    height: 13px;
    top: 3px;
    margin-right: 10px;
    opacity: .6;
    margin-left:20px;

}

.qna-search-button {
    position: relative;
    width: 50px;
    background: #2f2f2f;
    padding: 13px 5px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
    font-size: 11px;
}






/* qna-mostly-question-wrap */
.qna-mostly-question-wrap{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    margin-top:30px;
}
.qna-mostly-question-wrap .qna-mostly-question-title{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
}

.qna-mostly-question{
    position: relative;
    float:left;
    width:100%;
    margin-top:15px;
}
.qna-mostly-question input[type="radio"]{
    display: none;
}
#center-number:checked ~ .qna-mostly-question-label-box label:nth-child(1),
#showroom-address:checked ~ .qna-mostly-question-label-box label:nth-child(2),
#furniture-size:checked ~ .qna-mostly-question-label-box label:nth-child(3),
#exchange-policy:checked ~ .qna-mostly-question-label-box label:nth-child(4){
    height: auto;
    background: #f0f0f0;
}



#center-number:checked ~ .qna-mostly-question-label-box label:nth-child(1) .qna-arrow-down,
#showroom-address:checked ~ .qna-mostly-question-label-box label:nth-child(2) .qna-arrow-down,
#furniture-size:checked ~ .qna-mostly-question-label-box label:nth-child(3) .qna-arrow-down,
#exchange-policy:checked ~ .qna-mostly-question-label-box label:nth-child(4) .qna-arrow-down{
    transform: rotate(180deg);
}



.qna-mostly-question-label-box{
    position: relative;
    float:left;
    width:100%;
}
.qna-mostly-question-label-box label{
    position: relative;
    float:left;
    width:100%;
    height: 45px;
    margin-bottom: 5px;
    border:1px solid #f0f0f0;
    box-sizing: border-box;
    padding:15px;
    cursor: pointer;
    overflow: hidden;
}




.label-title-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: flex-start;
    font-size: 12px;
}
.label-title-wrap .qna-arrow-img{
    position: absolute;
    width:10px;
    right:0;
    top:3px;
    transition-duration: .3s;
}


.qna-answer{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
}
.qna-answer .call-number{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
}
.qna-answer .answer{
    position: relative;
    float:left;
    width:100%;
    font-size: 12px;
    line-height: 1.7;
    text-align: justify;
}

.qna-answer .answer:nth-child(2){
    width:auto;
    font-size: 10px;
    margin-top:10px;
    background: #ececec;
}

.time-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    font-size: 11px;
}
.time-wrap1{
     margin-top:15px;
}
.time-wrap p{
    margin-right: 3px;
    margin-bottom: 4px;
}
.time-wrap p:nth-child(2){
    opacity: .5;
}
.time-wrap p:nth-child(3){
    margin-left: 6px;
    color:#2374B4
}


.furniture-size-way-img{
    position: absolute;
    width:60px;
    right:0;
}

/* //qna-mostly-question-wrap */




/* //review-search-wrap */








/* contents-wrap */
.contents-wrap {
    position:relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:30px;
}
.contents-title{
    position: relative;
    width:100%;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #2f2f2f;
}


.contents{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding:15px 0;
    margin-bottom: 1px;
    display: flex;
    align-items: center;    
}

.contents-important{
    background: #efefef;
}
.contents .contents-type{
    position: relative;
    width:auto;
    font-size: 10px;
    padding:3px 14px;
    margin-right: 30px;
    margin-left:10px;
}

.contents-important .contents-type{
    background: #0A57BF;
    color:#fff;
    padding:3px 7px;
}

.contents .contents-name{
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 10px;
    font-size: 12px;
}

.contents .contents-writer{
    position: relative;
    float:left;
    width:100%;
    font-size: 10px;
}

.contents .contents-date{
    position: absolute;
    right:10px;
    font-size: 11px;
    opacity: .4;
}
/* contents-wrap */






@media screen and ( min-width:1025px ){
    
    #qna-whole{
        display: none;
    }
}



