@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}

a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}
















#review-list-whole {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    margin-top: 150px;
    padding: 0 20px;
}






.title-wrap {
    position: relative;
    float: left;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.review-title {
    position: relative;
    float: left;
    width: auto;
    font-size: 16px;
    margin-right: 10px;
}

.review-title:nth-child(2) {
    font-size: 14px;
}







/* review-search-wrap */
.review-search-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.review-search {
    position: relative;
    width: 90%;
    padding: 13px 0;
    background: #e0e0e0;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.review-search input[type="text"] {
    position: relative;
    width: 90%;
    box-sizing: border-box;
    float: right;
    background: none;
    border: none;
    font-size: 13px;
    outline: none;
    padding-right: 30px;
}

.review-search .review-search-img {
    position: relative;
    float: left;
    width: 13px;
    height: 13px;
    top: 3px;
    margin-right: 10px;
    opacity: .6;

}

.review-search-button {
    position: relative;
    width: 100px;
    background: #2f2f2f;
    padding: 13px 10px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
}

/* //review-search-wrap */


/* review-kind-wrap */
.review-kind-wrap {
    position: relative;
    float: left;
    width: auto;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.review-kind-wrap label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 30px;
}

.review-kind-wrap label input {
    margin-right: 5px;
    margin-left: 0;
}


/* //review-kind-wrap */




/* review-or-instagrm-button-wrap */
.review-or-instagram-button-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 40px;
}

.review-or-instagram-button-wrap p {
    position: relative;
    float: left;
    width: auto;
    margin-right: 30px;
}


.review-or-instagram-line {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #f5f5f5;
    margin-bottom: 80px;
}

.text-bottom-line {
    position: absolute;
    width: 65px;
    height: 3px;
    background: #2f2f2f;
    top: 36px;
    left: 75px;
}

/* //review-or-instagrm-button-wrap */




/* contents-sort */
.contents-sort {
    position: absolute;
    right: 0;
}

.contents-sort-wrap {
    position: relative;
    float: left;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.contents-sort-wrap select {
    position: relative;
    margin: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../plantlance-image/icon/arrow-down2.png') no-repeat 90% 50% #fff;
    padding: 4px 20px;
    background-size: 8px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.contents-sort-wrap select::-ms-expand {
    display: none;
}

/* //contents-sort */




/* review-instagram-contents-wrap */

.review-instagram-contents-wrap {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.contents-wrap {
    position: relative;
    width: 25%;
    height: auto;
    margin-right: 30px;
    margin-bottom: 70px;
    overflow: hidden;
}

.contents-wrap:nth-last-child(1) {
    margin-right: 0;
}

.go-to-contents {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.contents-img-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 100%;
    background: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}




.contents-img-wrap input[type="radio"] {
    display: none;
}

.wishlist-button {
    display: none;
}

#not-wishlist:checked ~ label .wishlist-button {
    display: block;
}

#not-wishlist:checked ~ label .not-wishlist-button {
    display: none;
}

#wishlist:checked ~ .not-wishlist-button {
    display: block;
}

#wishlist:checked ~ .wishlist-button {
    display: none;
}

.contents-img-wrap .heart-button {
    position: absolute;
    float: right;
    width: 20px;
    right: 15px;
    top: 15px;
    z-index: 3;
    cursor: pointer;
}






.contents-top {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.contents-profile {
    position: relative;
    float: left;
    width: 30px;
    height: 30px;
    background: #ddd;
    border-radius: 100%;
    margin-right: 13px;
}

.contents-top p {
    position: relative;
    float: left;
    font-size: 12px;
}



.contents-info-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.contents-info-wrap .contents-title {
    position: relative;
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.contents-info-wrap .contents-txt {
    position: relative;
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    box-sizing: border-box;
    text-align: justify;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    cursor: pointer;
    color: #2578B9;
}




.review-instagram-contents-wrap5,
.review-instagram-contents-wrap6,
.review-instagram-contents-wrap7,
.review-instagram-contents-wrap8 {
    display: none;
}

/* //review-instagram-contents-wrap */






/* contents-more */

.contents-more {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #2f2f2f;
    padding: 15px 0;
    margin-bottom: 30px;
}

.contents-more .contents-more-arrow-img {
    position: relative;
    width: 10px;
    height: 10px;
    top: 4px;
    margin-left: 10px;
}

/* //contents-more */




/* contents-popup*/
.contents-popup-bg {
    position: fixed;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
    z-index: 100;
    display: none;
}

.contents-popup-wrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    z-index: 101;
    box-sizing: border-box;
    visibility: hidden;
}

.contents-popup {
    position: relative;
    width: 1000px;
    height: 500px;
    background: #fff;
    box-sizing: border-box;
    padding: 35px;
    display: flex;
    justify-content: space-between;
}

.contents-popup-close {
    position: absolute;
    width: 15px;
    top: 25px;
    right: 25px;
    z-index: 3;
}

.contents-popup-img-wrap {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    margin-right: 30px;
    overflow: hidden;
}

.contents-popup-img-wrap .contents-popup-img {
    position: relative;
    float: left;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.contents-popup-img-wrap .contents-popup-img img {
    position: relative;
    float: left;
    width: 120%;
    left: 50%;
    transform: translate(-50%);
}

.contents-popup-info-wrap {
    position: relative;
    width: 50%;
}

.contents-popup-info-title {
    position: relative;
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 20px;
}

.contents-popup-profile {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    background: #e2e2e2;
    border-radius: 100%;
    margin-right: 15px;
}

.contents-popup-id {
    position: relative;
    margin-top: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

.contents-popup-date {
    font-size: 10px;
    opacity: .5;
}

.contents-popup-txt {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.contents-popup-tag {
    position: relative;
    float: left;
    width: 100%;

    margin-top: 30px;
    font-size: 12px;
    color: #2578B9;
    cursor: pointer;
}




/* //contents-popup*/


    
    /* more-review-button */
    .mob-list-whole .contents-more {
        font-size: 12px;
    }

    .mob-list-whole .contents-more .contents-more-arrow-img {
        width: 8px;
        height: 8px;
        margin-left: 5px;
    }

    /* //more-review-button */


    
    
    



    .mob-list-whole .contents-wrap {
        width: 50%;
    }

    /* review-search-wrap */
    .mob-list-whole .review-search {
        margin-right: 10px;
    }

    .mob-list-whole .review-search-img {
        margin-left: 20px;
    }

    .mob-list-whole .review-search input[type="text"] {
        font-size: 10px;
        top: 1px;
    }

    .mob-list-whole .review-search-wrap .review-search-button {
        font-size: 10px;
        width: 40px;
    }

    /* //review-search-wrap */




    /* review-kind-wrap */
    .mob-list-whole .review-kind-wrap p {
        position: relative;
        font-size: 10px;
        top: 2.4px;
    }

    .mob-list-whole .review-kind-wrap {
        position: relative;
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .mob-list-whole .review-kind-wrap label {
        margin-right: 0;
    }

    /* //review-kind-wrap */





    /* review-or-instagram-button-wrap */
    .mob-list-whole .review-or-instagram-button-wrap {
        margin-top: 10px;
    }

    .mob-list-whole .review-or-instagram-button-wrap p {
        font-size: 12px;
        top: 10px;
    }

    .mob-list-whole .review-or-instagram-button-wrap .text-bottom-line {
        width: 57px;
        left: 67px;
    }

    .mob-list-whole .contents-sort {
        top: 50px;
    }

    .mob-list-whole .contents-sort select {
        font-size: 10px;
        padding: 6px 14px;
        margin-right: 1px;
    }


    /* //review-or-instagram-button-wrap */
    
    
    
    .mob-list-whole .contents-title{
        font-size: 12px;
    }
    .mob-list-whole .contents-txt{
        font-size: 11px;
    }




    /* contents-popup */
    .mob-contents-popup-wrap .contents-popup {
        width: 300px;
        padding: 30px 20px;
        display: block;
    }

    .mob-contents-popup-top {
        position: relative;
        float: left;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        justify-items: center;
        align-items: center;
        margin-bottom: 15px;
        font-size: 12px;
    }
    .mob-contents-popup-wrap .contents-popup-close{
        width:10px;
    }

    .mob-contents-popup-profile {
        position: relative;
        width: 40px;
        height: 40px;
        background: #eee;
        border-radius: 100%;
        margin-right: 10px;
    }

    .mob-contents-popup-img {
        position: relative;
        float: left;
        width: 100%;
        background: #eee;
        height: 250px;
        margin-bottom: 15px;
    }

    .mob-contents-popup-txt {
        position: relative;
        float: left;
        width: 100%;
        font-size: 11px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .mob-contents-popup-hashtag {
        position: relative;
        float: left;
        width: 100%;
        font-size: 11px;
        line-height: 1.5;
        color: #2578B9;

    }



    .mob-contents-popup-wrap .contents-popup-bottom {
        position: absolute;
        float: left;
        width: 100%;
        height: 40px;
        background: #fff;
        box-sizing: border-box;
        border-top: 1px solid #f0f0f0;
        margin-top: 20px;
        bottom: 0;
        left: 0;
        padding: 0 20px;

    }

    .mob-contents-popup-wrap .contents-popup-bottom .share-img {
        position: relative;
        float: left;
        width: 15px;
        top: 10px;
        margin-right: 20px;
    }

    .mob-contents-popup-wrap .contents-popup-bottom .heart-img {
        position: relative;
        float: left;
        width: 17px;
        top: 9px;
        margin-right: 10px;
    }

    .mob-contents-popup-wrap .contents-popup-bottom .mob-contents-popup-similar {
        position: relative;
        float: right;
        display: flex;
        justify-content: flex-end;
        margin-top: 11px;
        font-size: 12px;
    }

    .mob-contents-popup-wrap .contents-popup-bottom .mob-contents-popup-similar .arrow-img {
        position: relative;
        width: 9px;
        height: 9px;
        top: 3px;
        margin-left: 5px;
    }

    /* //contents-popup */









    /* contents-similar-popup*/
    .contents-similar-popup {
        position: absolute;
        width: 300px;
        height: 440px;
        background: #fff;
        box-sizing: border-box;
        padding: 30px 20px;
        overflow-x: hidden;
        visibility: hidden;
    }

    .contents-similar-popup .contents-popup-close {
        position: absolute;
        width: 10px;
        right: 20px;
    }


    .contents-similar-popup-title {
        position: relative;
        float: left;
        width: 100%;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    .contents-similar {
        position: relative;
        float: left;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 20px 0;
        border-top: 1px solid #f0f0f0;
    }

    .contents-similar-img {
        position: relative;
        float: left;
        width: 70px;
        height: 70px;
        background: #eee;
        margin-right: 20px;
    }

    .contents-similar p {
        position: relative;
        width: auto;
        font-size: 11px;
        margin-bottom: 5px;
    }

    .show-similar-product {
        position: relative;
        float: left;
        margin-top: 19px;
    }

    .show-similar-product .similar-arrow-img {
        position: relative;
        width: 8px;
    }

    .contents-similar-price {
        position: relative;
        float: right;
        margin-top: 19px;
    }

    /* //contents-similar-popup*/





