@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}

a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}




#write-posting {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color:#4f4f4f;
}


.write-posting-wrap {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1360px;
}


.write-title {
    position: relative;
    float: left;
    width: 100%;
    font-size:14px;
    border-bottom: 2px solid #4f4f4f;
    padding-bottom: 10px;
    color:#4f4f4f;
}


.write-posting-wrap .customer-write-title {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px 0;
    padding-left: 20px;
    font-size: 12px;
    opacity: .6;
}



/* write-content-wrap */
.sort-content-wrap {
    position: relative;
    float:right;
    width: auto;
    margin-top:20px;
    
}


.write-sort {
    position: relative;
    float:left;
    width:auto;
    margin: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../plantlance-image/icon/arrow-down2.png') no-repeat 90% 50% #fff;
    padding: 6px 20px;
    background-size: 8px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    color: #888;
    margin-right: 0;
    opacity: .6;
}


/* //write-content-wrap */







/* product-select-wrap */
.product-select-wrap {
    position: relative;
    float: left;
    width: 100%;
}


.product-select-category {
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background: #f9f9f9;
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 5px 20px;
}

.product-select-category p{
    position: relative;
    opacity: .6;
}



.product-select-myproduct {
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    font-size: 12px;
    box-sizing: border-box;
    padding: 15px 20px;
}

.myproduct-img {
    width: 50px;
    height: 50px;
    background: #ddd;
    margin-right: 20px;
}

.myproduct-title-wrap {
    position: relative;
    float: left;
    width:auto;
    align-items: center;
}

.myproduct-title {
    position: relative;
    width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.myproduct-option {
    position: relative;
    width: 100%;
    font-size: 11px;
    opacity: .5;
    margin-top:10px;
}
.myproduct-date{
    position: relative;
    float:left;
    width:100%;
    font-size: 11px;
    opacity: .5;
}




.change-product-button {
    position: absolute;
    font-size: 11px;
    background: #8f8f8f;
    padding: 4px 10px;
    color: #fff;
    border-radius: 5px;
    right: 0;
    top:30px;
}




/* //product-select-wrap */



/* notice-title-wrap */
.myproduct-notice {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    font-size: 11px;
    opacity: .5;
    text-align: justify;
}
.notice-title-wrap{
    position: relative;
    float: left;
    width:100%;
    margin-top:10px;
}
.notice-title-wrap .notice-shape{
    position: relative;
    float:left;
    font-size: 10px;
    color:#3D82B8;
    border:1px solid #3D82B8;
    padding:2px 6.5px;
    border-radius: 100%;
    text-align: justify;
}

.notice-title-wrap .notice-title{
    position: relative;
    float:left;
    width:auto;
    margin-left:5px;
    font-size: 12px;
    top:1.5px;
    color:#3D82B8;
}
/* //notice-title-wrap */








.write-content {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px 0;
    padding-left: 20px;
    margin-top: 15px;

}





/* add-file-wrap */
.add-file-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 150px;
}



.add-file-category {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 5px 20px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background: #f9f9f9;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-file-name {
    position: relative;
    width: 100%;
    margin-left: 10px;
}



.add-myfile {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-file-name-title{
    position: relative;
    float:left;
    width:auto;
    font-size: 10px;
}
.add-file-name{
    position: relative;
    float:left;
    width:auto;
    font-size: 11px;
    margin-left:0;
}


.add-myfile  .myfile-delete{
    position: relative;
    float:right;
    font-size: 11px;
    border:1px solid #4f4f4f;
    padding: 3px 13px;
    border-radius: 5px;
    
}



.mob-add-myfile-button{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    padding:13px 0;
    background: #909090;
    color:#fff;
    font-size: 12px;
}
/* //add-file-wrap */





/* write-posting-button-wrap */
.write-posting-button-wrap {
    position: fixed;
    float: left;
    width: 100%;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
}
.write-posting-button-wrap a{
    position: relative;
    display: block;
    width:100%;
}

.go-to-list {
    position: relative;
    width:100%;
    border: 1px solid #2f2f2f;
    background: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
   
}

.go-to-save {
    position: relative;
    width:100%;
    background: #2f2f2f;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    text-align: center;

}

/* //write-posting-button-wrap */




/* save */
#save {
    position: absolute;
    float: left;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: none;
}

.save-bg {
    position: fixed;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
    z-index: 100;
}

.save-wrap {
    position: fixed;
    width: 350px;
    height: 280px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
    z-index: 101;
}

.save-close-button {
    position: absolute;
    width: 10px;
    top: 20px;
    right: 20px;
}

.save-title {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.save-txt {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    opacity: .8;
}



.evaluation-number {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.evaluation-star {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    opacity: .4;
    margin-bottom: 25px;
    cursor: pointer;
}

.save-button {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    background: #2f2f2f;
    color: #fff;
    box-sizing: border-box;
    padding: 13px 0;
}

/* //save */








/* choice-product */
#choice-product {
    position: absolute;
    float: left;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: none;
}

.save-bg {
    position: fixed;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
    z-index: 100;
}

.choice-product-wrap {
    position: fixed;
    width:320px;
    height: 480px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 10px;
    z-index: 101;
    padding-top:40px;
}
.choice-product-close-button {
    position: absolute;
    width: 10px;
    top: 20px;
    right: 20px;
}

.choice-product-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 18px;
}

.choice-product-wrap input[type="date"]{
    position: relative;
    float:left;
    -webkit-border-radius: 0;
    border:1px solid #e0e0e0;
    color:#4f4f4f;
    box-sizing: border-box;
    padding:5px;
    cursor: pointer;
    font-size: 10px;
}
.choice-product-wrap input[type="date"]::-webkit-calendar-picker-indicator { 
    padding:0;
    margin-left:0;
} 

.setting-date{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    align-items: center;
    margin-top:30px;
}

.setting-date .wave{
    position: relative;
    margin: 0 10px;
}
.find-date{
    position: absolute;
    width:20px;
    margin-left:10px;
    padding:5px 10px;
    top:1px;
    font-size: 11px;
    right:0;
    background: #909090;
    color:#fff;
}






.choice-product-mylist{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
}

.choice-product-category{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 5px 10px;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}




.product-mylist{
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #f0f0f0;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

    
}
.product-mylist input[type="checkbox"]{
    position: relative;
    float:left;
    width:10px;
    margin-right: 10px;
}

.mylist-img{
    position: relative;
    float:left;
    width:50px;
    height: 50px;
    background: #eee;
    margin-right: 10px;
}

.mylist-info-wrap{
    position: relative;
    float:left;
    width:150px;
    
}
.mylist-info-wrap p{
    position: relative;
    float:left;
    width:140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}
.mylist-info-wrap p:nth-child(1){
    font-size: 11px;
}
.mylist-info-wrap p:nth-child(2){
    font-size: 10px;
    margin-top:3px;
}
.product-mylist-price{
    position: relative;
    width:50px;
    font-size: 10px;
    margin-top:10px;
}

.product-mylist-date{
    position: relative;
    font-size: 10px;
}


.success-choice{
    position: relative;
    float:right;
    background: #2f2f2f;
    color:#fff;
    padding:10px 19px;
    margin-top:20px;
    font-size: 11px;
}


/* //choice-product */







