@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}





#mob-contact-whole {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 150px;
    padding: 0 20px;
}



.mob-contact-title {
    position: relative;
    float: left;
    width: 100%;
    font-size: 30px;
}



/* mob-contact-txt-wrap */
.mob-contact-txt-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 50px;
    font-size: 12px;
}

.mob-contact-txt {
    position: relative;
    float: left;
    width: 100%;
    line-height: 1.5;
}

.mob-contact-txt3 {
    width: auto;
}



.mob-aboutus-button {
    position: relative;
    float:right;
    width: auto;
    top:-7px;
}

.mob-aboutus-button img {
    position: relative;
    width: 20px;
    top: 6px;
    margin-left: 10px;
}



/* //mob-contact-txt-wrap */




/* mob-contact-img-wrap */
.mob-contact-img-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:50px;
    padding-bottom: 90%;
    background: #eee;
    margin-bottom: 50px;
    overflow: hidden;
    
    /* how to add img */ 
    background-image: url(../plantlance-image/pltl/pltl-mob-forest.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* //how to add img */ 
}
/* //mob-contact-img-wrap */



/* mob-collaborate-inquiry-wrap */

.mob-collaborarte-inquiry-wrap{
    position: relative;
    float:left;
    width:100%;
    
}
.mob-collaborate-inquiry-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 13px;
    border-bottom: 1px solid #2f2f2f;
    padding-bottom: 25px;
}

.mob-collaborate-box{
    position: relative;
    float:left;
    width:100%;
    padding:20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.mob-collaborate-category{
    position: relative;
    width:120px;
    margin-right:50px;
    font-size: 12px;
}
.mob-collaborate-box input[type="text"]{
    position: relative;
    width:100%;
    box-sizing: border-box;
    -webkit-border-radius: 0;
     -ms-border-radius: 0;
    border-radius: 0;
    border:1px solid #e0e0e0;
    background: #f8f8f8;
    padding:10px;
    font-size: 12px;
}
/* //mob-collaborate-inquiry-wrap */




/* mob-collaborate-write-box */
.mob-collaborate-write-box{
    position: relative;
    float:left;
    width:100%;
    height: 300px;
    box-sizing: border-box;
    padding:20px;
    overflow-y: scroll;
    line-height: 2;
    border:1px solid #e0e0e0;
    margin-top:20px;
    font-size: 12px;
}

/* //mob-collaborate-write-box */


/* mob-add-my-file-wrap */
.mob-add-my-file-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
    margin-bottom: 5px;
    padding:10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #e0e0e0;
}
.mob-my-file-name{
    position: relative;
    font-size: 12px;
    opacity: .5;
}
.mob-delete-my-file{
    position: relative;
    font-size: 12px;
    border:1px solid #2f2f2f;
    padding:5px 15px;
    border-radius: 5px;
    opacity: .7;
}
/* //mob-add-my-file-wrap */


.mob-upload-myfile{
    position: relative;
    float: right;
     font-size: 12px;
    color:#fff;
    border:1px solid #2f2f2f;
    background: #2f2f2f;
    padding:5px 15px;
    border-radius: 5px;
}






/* mob-admit-privacy */
.mob-admit-privacy{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
}
.mob-admit-privacy-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 12px;
}

.mob-admit-privacy-info{
    position: relative;
    float:left;
    width:100%;
    background: #f8f8f8;
    box-sizing: border-box;
    padding:20px 20px;
    margin-top:15px;
    margin-bottom: 15px;
    font-size: 10px;
    line-height: 1.5;
}

.mob-admit-privacy-checkbox{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.mob-admit-privacy-checkbox-txt{
    position: relative;
    font-size: 12px;
    margin-right:10px;
}
.mob-admit-privacy-checkbox input[type="checkbox"]{
    position: relative;
    margin:0;
}
/* //admit-privacy */





.mob-inquiry-button{
    position: relative;
    float:left;
    width:100%;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    padding:20px 0;
    color:#fff;
    background: #2f2f2f;
    margin-top:80px;
    margin-bottom:80px;
}






















