@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}
@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}
@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}
@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}
@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}



.txt-eng-light{
    font-family: "Urbanist-Light";
}
.txt-eng {
    font-family: "Urbanist-Medium";
}
.txt-eng-semibold{
    font-family: "Urbanist-SemiBold";
}
.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor-light{
     font-family: "Pretendard-Thin";
}
.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}



/* nav */
nav {
    position: absolute;
    float: left;
    width: 100%;
    z-index: 5;
}



.nav-wrap {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrap .menu-icon {
    position: relative;
    width: 15px;
    margin-left: 20px;
    top: -2px;
    background: #fff;
    padding: 9px;
    border-radius: 100%;
    box-shadow: 1px 9px 10px 1px rgba(0, 0, 0, 0.05);
       
     
}

.nav-wrap .logo {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-wrap .sub-button-wrap {
    position: relative;
     width: 80px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;

}

.nav-wrap .sub-button-wrap img {
    position: relative;
    width: 15px;
}



/* //nav */



#nav-slide {
    position: fixed;
    float: left;
    width: 0;
    height: 100vh;
    top: 0;
    left: 0;
    background: #444;
    z-index: -1;
    display: flex;
    transition-duration: .3s;
    overflow: hidden;
    -ms-overflow-style: none;
    display: none;
}

#nav-slide::-webkit-scrollbar {
    display: none;
}

@keyframes menuNone {
    from {
        z-index: 5;
    }

    to {
        z-index: -1;
    }
}

@keyframes menuShow {
    from {
        z-index: -1;
    }

    to {
        z-index: 5;
    }
}


.nav-slide-wrap {
    position: relative;
    width: 100%;
    opacity: 0;
    transition-duration: .3s;
    -ms-overflow-style: none;
}

.nav-slide-wrap::-webkit-scrollbar {
    display: none;
}

/* nav-mob */
.nav-mob {
    display: block;
}

/* nav-mob */


.nav-slide-side {
    position: relative;
    float: left;
    width: 450px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-shrink: 0;
    transition-duration: .3s;

}

.nav-slide-side .close-button {
    position: absolute;
    float: left;
    width: 18px;
    top: 50px;
    left: 0;
}

.nav-slide-side .side-wrap {
    position: relative;
    width: 30%;
    height: 100%;
    z-index: 2;
    transition-duration: .3s;

}

.side-left {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 550px;
}

.side-left p {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-family: "Urbanist-Medium"!important;
}

.my-page,
.cart {
    color: #fff;
}

.wish-list,
.delivery {
    color: rgba(255, 255, 255, 0.5);
}



.side-right {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 11px;
}

.side-right .tel-txt,
.side-right .ig-txt {
    color: rgba(255, 255, 255, 0.9);
}

.side-right p {
    position: relative;
    float: left;
    width: 100%;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.side-right .tel {
    width: auto;
    margin-bottom: 24px;
    margin-left: 7px;
}

.side-right .call-img {
    position: relative;
    float: left;
    width: 10px;
    opacity: .4;
    margin-top: 1px;
}



/* nav-slide-top */
.nav-slide-top {
    position: absolute;
    float: left;
    width: auto;
    right: 220px;
    top: 40px;
    transition-duration: .3s;
    z-index: 3;
}

.user-wrap {
    position: relative;
    float: right;
    width: 120px;
}

.user-wrap p {
    position: relative;
    float: left;
    color: #fff;
    padding: 2px 8px 3px 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.4);
}

.user-wrap .join {
    margin-right: 20px;
}

/* //nav-top */





/* nav-main-menu */

.nav-main-menu {
    position: absolute;
    float: left;
    width: 50%;
    height: auto;
    top: 250px;
    left: 65%;
    transform: translate(-50%, 0);
    transition-duration: .3s;
}

.nav-main-menu .title {
    font-size: 16px;
    transition-duration: .3s;
}

.nav-main-menu p {
    position: relative;
    float: left;
    color: #fff;
    width: 50%;
    height: 30px;
}

.collection {
    position: relative;
    float: left;
    width: 50%;
    height: 90px;
}


/* about */
.about {
    position: relative;
    float: right;
    width: 50%;
    height: 150px;
}

.about .title {
    height: 100px;
}

/* //about */


/* shop */
.shop {
    position: relative;
    float: left;
    width: 50%;
    height: 100px;
}

.shop .title {
    height: 500px;
}


/* shop - furniture */
.shop .furniture {
    position: relative;
    float: left;
    width: 50%;
}

.shop .furniture .sub-title {
    position: relative;
    float:left;
    width: 100%;
    color: #fff;
    font-size: 13px;
    opacity: .4;
    margin-left:10px;
    margin-bottom: 0;
    padding: 0;
}

/* // shop - furniture */



/* shop - furniture - sofa */
.shop .furniture .gnb-sofa {
    position: relative;
    float: left;
    width: 90%;
    transition-duration: .3s;
    overflow: hidden;
    height: 0px;
    margin-bottom: 0;
    padding:0;
    /*height: 170px;*/
}

.shop .furniture .gnb-sofa p {
    position: relative;
    float:left;
    width: 120%;
    font-size: 12px;
    color: #888;
    transition-duration: .2s;
    margin-left:20px;
}


.shop .furniture .gnb-sofa p:hover {
    color: #fff;
}

/* // shop - furniture - sofa */



/* shop - furniture - table */
.shop .furniture .gnb-table {
    position: relative;
    float: left;
    width: 90%;
    padding-left: 10px;
    transition-duration: .3s;
    overflow: hidden;
    height: 0px; 
    padding:0;
    /*height: 100px;*/
}

.shop .furniture .gnb-table p {
    width: 120%;
    font-size: 11px;
    color: #888;
    transition-duration: .2s;
    margin-left:20px;
}

.shop .furniture .gnb-table p:hover {
    color: #fff;
}

/* shop - furniture - table */

/* //shop */



/* community */
.community {
    position: relative;
    float: right;
    width: 50%;
}

.community .title {
    height: 100px;
}

/* //community */

.showroom {
    position: absolute;
    float: right;
    width: 50%;
    right:0;
    top:300px;
}
.showroom .title {
    height: 100px;
}


/* //nav-main-menu */









/* nav-mob */
.nav-mob {
    position: fixed;
    float: left;
    width: 0%;
    height: 100vh;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition-duration: .3s;
    background: #2f2f2f;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.nav-mob::-webkit-scrollbar {
    display: none;
}

.nav-mob-wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.nav-mob-wrap::-webkit-scrollbar {
    display: none;
}

/* nav-mob-top*/
.nav-mob-top {

    position: relative;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.nav-mob-top .close-button {
    position: relative;
    float: left;
    width: 20px;
}


.nav-mob-main-menu {
    position: relative;
    float: left;
    width: 100%;
}

.nav-mob-main-menu p {
    color: #fff;
   
}

.nav-mob-main-menu .title {
    font-size: 15px;
    margin-bottom: 30px;
}

.nav-mob-main-menu .txt-eng {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    color: #ddd;
    font-size: 13px;
}

.nav-mob-main-menu .mob-about {
    position: relative;
    float: left;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
}

.nav-mob-main-menu .showroom {
    position: relative;
    float: left;
    margin-top: 60px;
}

.nav-mob-main-menu .mob-shop {
    position: relative;
    float: left;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
}

.nav-mob-main-menu .mob-shop .title-furniture {
    width: auto;
}

.nav-mob-main-menu .mob-shop .arrow {
    position: relative;
    float: right;
    width: 10px;
    margin-top: 2px;
    margin-left: 15px;
}

.nav-mob-main-menu .mob-shop .mob-gnb-furniture-up {
    display: none;
}

.nav-mob-main-menu .mob-shop .furniture {
    position: relative;
    float: left;
    width: 100%;
    height: 0px;
    /*height:205px;*/
    overflow: hidden;
    transition-duration: .3s;
}

.nav-mob-main-menu .mob-shop a .mob-gnb-furniture{
    position:absolute;
    float:left;
    display: block;
    width:100%;
    height: 20px;
    z-index: 2;
}
.nav-mob-main-menu .mob-shop .gnb-mob-sofa,
.nav-mob-main-menu .mob-shop .gnb-mob-table {
    position: relative;
    float:left;
    width: 100%;
    height: 0;
    margin-left: 10px;
    transition-duration: .3s;
    padding-bottom: 0;
    overflow: hidden;
}

.nav-mob-main-menu .mob-shop .gnb-mob-sofa p, .nav-mob-main-menu .mob-shop .gnb-mob-table p {
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 15px;
    font-size: 13px;
    color: #c9c9c9;
    transition-duration: .2s;
    opacity: .4;
}

.nav-mob-main-menu .mob-shop .gnb-mob-sofa p:hover,
.nav-mob-main-menu .mob-shop .gnb-mob-table p:hover {
    opacity: 1;
}



.nav-mob-main-menu .mob-community {
    position: relative;
    float: left;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
}
.nav-mob-main-menu .mob-gnb-showroom{
    position: relative;
    float: left;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
}
.nav-mob-main-menu .mob-gnb-showroom p{
    font-size: 15px;
}
.nav-mob-main-menu .mob-collection {
    position: relative;
    float: left;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
}

.nav-mob-main-menu .mob-main-bottom {
    position: relative;
    float: left;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 200px;
}

.nav-mob-main-menu .mob-main-bottom p {
    font-size: 15px;
    margin-bottom: 15px;
    font-family: "Urbanist-Regular"
}

.nav-mob-main-menu .mob-main-bottom .wish-list,
.delivery {
    opacity: .5;
}

/* //nav-mob-top*/




/* nav-mob-bottom*/
.nav-mob-bottom {
    position: fixed;
    width: 100%;
    height: 130px;
    bottom: 0;
    background: #3a3a3a;
    transition-duration: .3s;
    display: none;
}

.nav-mob-bottom .bottom-info {
    position: relative;
    float: left;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

.nav-mob-bottom .bottom-info .call-img {
    position: relative;
    float: left;
    width: 13px;
    opacity: .6;
    margin-right: 10px;
}

.nav-mob-bottom .bottom-info .info1,
.info2 {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 35px;
}

.nav-mob-bottom .bottom-info .info2 {
    float: right;
    text-align: center;
}

.nav-mob-bottom .bottom-info .tel-txt,
.ig-txt {
    position: relative;
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 5px;
}

.nav-mob-bottom .bottom-info .tel,
.ig {
    position: relative;
    float: left;
    color: #c1c1c1;
}

.nav-mob-bottom .bottom-info .ig {
    width: 100%;
    margin-left: 15px;
}

/* //nav-mob-bottom*/

/* //nav-mob */







/* search-wrap */
.search-wrap {
    position: absolute;
    float: left;
    width: 100%;
    height: 100vh;
    z-index: 5;
    overflow: hidden;
    display: none;
}
.search-bg{
    position: absolute;
    float:left;
    width: 100%;
    height: 100vh;
    background:#ebebeb;
    opacity: .8;
}

.search-place-wrap{
    position: relative;
    float:left;
    width:100%;
    height: 150px;
    background: #fff;
    z-index: 2;
    box-sizing: border-box;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-place{
    position: relative;
    float:left;
    width:600px;
    height: 45px;
    box-sizing: border-box;
    border-bottom: 2px solid #2f2f2f;
    opacity: .6;
    transition-duration: .4s;
}
.search-place:hover{
    opacity: 1;
}
.search-place form{
    position: relative;
    float:left;
    width: 100%;
    height: 100%;
}
.search-place input[type="text"]{
   position: relative;
    float:left;
    width:70%;
    height: 100%;
    box-sizing: border-box;
    background: none;
    -webkit-border-radius: 0;
    -webkit-border: none;
    outline: none;
    border: none;
    padding-left:15px;
    font-size: 16px;
    background: none;
}
.search-place input[type="text"]::placeholder:focus{
    background: none;
}

.search-place input[type="reset"]{
    display: none;
}
.search-btn{
    position: absolute;
    float:left;
    width:15px;
    right:15px;
    top:50%;
    transform: translate(0,-50%);
    z-index: 2;
    opacity: 1;
}
.search-close-btn{
    position: absolute;
    top:20px;
    right:30px;

}

.search-result{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:50px;
    left:0;
    box-sizing: border-box;
    padding:0 40px;
    z-index: 2;
}
.search-result-wrap{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    position: relative;
    float:left;
    font-size: 24px;
    text-decoration: underline;
    margin-right: 10px;
}
.result-txt{
    position: relative;
    float:left;
    font-size: 24px;
}
/* search-wrap */
















