@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}
@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}
@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}
@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}
@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng-light{
    font-family: "Urbanist-Light";
}
.txt-eng-regular{
    font-family: "Urbanist-Regular";
}
.txt-eng {
    font-family: "Urbanist-Medium";
}
.txt-eng-semibold{
    font-family: "Urbanist-SemiBold";
}
.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}



.txt-kor-thin{
     font-family: "Pretendard-Thin";
}
.txt-kor-light{
    font-family:"Pretendard-Light";
}
.txt-kor-regular{
    font-family: "Pretendard-Regular";
}
.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}






#header{
    position: relative;
}
































 









/* mobile */
#mobile-whole{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    box-sizing: border-box;
    margin-top:-100px;
}



.main-slider-wrap {
    position: relative;
    float: left;
    width: 100%;
    height:90vh;
    overflow: hidden;
}

.mob-slide {
    position: relative;
    float: left;
    width: 100%;
    height: 90vh!important;
    display: flex!important;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
}
.slide .main-img {
    position:relative;
    width:100%;
}
.slide1-img {
    filter:brightness(.5);
}



.slide-go-to-product{
    position: absolute;
    display: block;
    width:100%;
    height: auto;
    z-index: 2;
}




.text-wrap {
    position: absolute;
    width: 100%;
    z-index: 2;
}
.text-wrap a{
    position: relative;
    float:left;
    width:auto;
}

.slide-title-eng{
    position: relative;
    width: 100%;
    text-align: center;
}
.slide-title-kor{
    position: relative;
    float: left;
    width: auto;
}


.mob-main-more-button{
    position: absolute;
    float:left;
    width:auto;
    left:50%;
    transform: translate(-50%,0%);
    bottom:70px;
}

.mob-main-more{
    position: relative;
    float:left;
    padding:10px 20px;
    background: #fff;
    opacity: .7;
    border-radius: 40px;
    font-size:13px;
}


.text-wrap1{
    bottom:70px;
    left:50px;
}
.slide-title-eng1{
    font-size:22px;
    color:#fff;
    text-align: left;
    line-height: 1.5;
    margin-bottom:20px;
}
.slide-title-kor1{
    font-size:16px;
    color:#fff;
    text-align: left;
}




.text-wrap2{
    top:50%;
    left:50%;
    transform: translate(-50%,-150%)
}
.slide-title-eng2{
    width:auto;
    font-size:22px;
    color:#fff;
    text-align: center;
    margin-bottom:20px;
    color:#2f2f2f;
}
.slide-title-kor2{
    width:100%;
    font-size:16px;
    color:#fff;
    text-align: center;
    color:#2f2f2f;
}



.text-wrap3{
    top:50%;
    left:50%;
    transform: translate(-50%,-150%)
}
.slide-title-eng3{
    width:auto;
    font-size:22px;
    color:#fff;
    text-align: center;
    margin-bottom:40px;
    color:#2f2f2f;
}




.text-wrap4{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.slide-title-eng4{
    width:auto;
    font-size:22px;
    color:#fff;
    text-align: center;
    margin-bottom:20px;
    color:#ebebeb;
}
.slide-title-kor4{
    width:100%;
    font-size:14px;
    color:#fff;
    text-align: center;
    color:#cbcbcb;
}




/* //main-slider */



/* mob-bespoke */
.mob-bespoke{
    position: relative;
    float:left;
    width:100%;
    height: 85px;

}
.mob-bespoke a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.mob-bespoke .mob-bespoke-title{
    position: absolute;
    float:left;
    width:100%;
    text-align: center;
    font-size: 14px;
    top:50%;
    transform: translate(0,-50%);
}
.mob-bespoke .mob-bespoke-title1{
    animation-name: bespokeHide;
    animation-delay: 3s;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.mob-bespoke .mob-bespoke-title2{
    opacity: 0;
    animation-name: bespokeShow;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bespokeShow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes bespokeHide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
/* //mob-bespoke */




/* mob-plan-a */
.mob-plan-a{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    background: #2f2f2f;
    overflow: hidden;
}
.mob-plan-a a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.mob-plan-a-wrap{
    position: absolute;
    float:left;
    width:100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding:18px;
}

.mob-plan-title{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
    font-size:12px;
}

.mob-plan-arrow{
    position: absolute;
    width:15px;
    filter:invert();
    top:45%;
    transform: translate(0,-50%);
    right:18px;
}

.mob-plan-txt{
    position: absolute;
    color:#fff;
    bottom:20px;
    text-align: right;
    line-height: 1.8;
    right:18px;
    font-size: 11px;
}
/* //mob-plan-a */



/* mob-chair */
.mob-chair{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    overflow: hidden;
}
.mob-chair img{
    position: absolute;
    width:160%;
    top:80%;
    left:50%;
    transform: translate(-50%,-50%);
}

.mob-chair-title{
    position: absolute;
    z-index: 2;
    top:18px;
    left:18px;
    font-size:12px;
}
.mob-chair a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
/* //mob-chair */



/* mob-plan-b */
.mob-plan-b{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    background: #e9e9e9;
    overflow: hidden;
}
.mob-plan-b a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.mob-plan-b-wrap{
    position: absolute;
    float:left;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    padding:18px;
    overflow: hidden;
}
.mob-plan-b-wrap .mob-plan-title{
    color:#2f2f2f;
}
.mob-plan-b-wrap .mob-plan-arrow{
  filter: none;   
}
.mob-plan-b-wrap .mob-plan-txt{
    color:#2f2f2f;
}

/* //mob-plan-a */



/* mob-table */
.mob-table{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    overflow: hidden;
}
.mob-table img{
    position: absolute;
    float:left;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mob-table-title{
    position: absolute;
    z-index: 2;
    top:18px;
    left:18px;
    font-size: 12px;
}
.mob-table a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
/* //mob-table */



/* mob-sofa */
.mob-sofa{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 45%;
    overflow: hidden;
}
.mob-sofa a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.mob-sofa .mob-sofa-main{
    position: absolute;
    float:left;
    width:80%;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mob-sofa-bg{
    position: absolute;
    width:100%;
    height: 100%;
    background: #0c0c0c;
    z-index: 2;
    opacity: .66; 
}
.mob-sofa-button-wrap{
    position: absolute;
    float: left;
    width:100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-sofa .mob-sofa-title{
    position: relative;
    color:#fff;
    text-align: center;
    font-size: 12px;

}
.mob-sofa a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}


.mob-sofa-button-wrap .mob-new-arrow{
    position: relative;
    filter: invert();
    z-index: 2;
    width: 26px;
    height: 26px;
}

/* //mob-sofa */


/* mob-showroom */
.mob-showroom{
    position: relative;
    float: left;
    width:100%;
    height: auto;
    margin-top:10px;
}
.mob-showroom-title{
    position: relative;
    float:left;
    width: 100%;
    margin-left:15px;
    margin-bottom:30px;
    margin-top:50px;
    font-size: 18px;
    letter-spacing: 0.1px;
}
.mob-showroom input[type="radio"]{
    display: none;
}

.mob-showroom-button-wrap{
    position: relative;
    float:left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mob-showroom-button-wrap label{
    position: relative;
    float:left;
    width: 100%;
    border:1px solid #ebebeb;
    border-right:none;
     height: 50px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: .2s;
}
.mob-showroom-button-wrap label:nth-last-child(1){
    border-right:1px solid #ebebeb;
}
.mob-showroom-button-wrap label p{
    position: relative;
    float:left;
    width: 100%;
    text-align: center;
    color:#d0d0d0;
    font-size: 13px;
}
#mob-seongsu:checked ~ .mob-showroom-button-wrap label:nth-child(1),
#mob-pangyo:checked ~ .mob-showroom-button-wrap label:nth-child(2),
#mob-gimpo:checked ~ .mob-showroom-button-wrap label:nth-child(3),
#mob-sejong:checked ~ .mob-showroom-button-wrap label:nth-child(4),
#mob-daegu:checked ~ .mob-showroom-button-wrap label:nth-child(5),
#mob-busan:checked ~ .mob-showroom-button-wrap label:nth-child(6){
    background: #4f4f4f;
    border:1px solid #4f4f4f;
}

#mob-seongsu:checked ~ .mob-showroom-button-wrap label:nth-child(1) p,
#mob-pangyo:checked ~ .mob-showroom-button-wrap label:nth-child(2) p,
#mob-gimpo:checked ~ .mob-showroom-button-wrap label:nth-child(3) p,
#mob-sejong:checked ~ .mob-showroom-button-wrap label:nth-child(4) p,
#mob-daegu:checked ~ .mob-showroom-button-wrap label:nth-child(5) p,
#mob-busan:checked ~ .mob-showroom-button-wrap label:nth-child(6) p{
    color:#fff;
    
}






/* mob-showroom-info-wrap*/
#mob-seongsu:checked ~ .mob-showroom-info-wrap div:nth-child(1),
#mob-pangyo:checked ~ .mob-showroom-info-wrap div:nth-child(2),
#mob-gimpo:checked ~ .mob-showroom-info-wrap div:nth-child(3),
#mob-sejong:checked ~ .mob-showroom-info-wrap div:nth-child(4),
#mob-daegu:checked ~ .mob-showroom-info-wrap div:nth-child(5),
#mob-busan:checked ~ .mob-showroom-info-wrap div:nth-child(6){
    display: block;
}

.mob-showroom-info-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    box-sizing: border-box;
    padding:20px 15px;
    margin-bottom: 15px;
}
.mob-showroom-info-box{
    position: relative;
    float:left;
    width:100%;
    display: none;
}
.mob-showroom-title-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.mob-showroom-title-wrap .mob-showroom-info-title{
    position: relative;
    float:left;
    width:auto;
    font-size: 12px;
}

.mob-showroom-info-button-wrap{
    position: relative;
    float:right;
    width:70px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mob-showroom-instagram{
    position: relative;
    float:left;
    width:15px;
    border:1px solid #2f2f2f;
    border-radius: 40px;
    padding:6px;
}
.mob-showroom-instagram img{
    position: relative;
    float:left;
    width:15px;
}


.mob-showroom-call-button{
    position: relative;
    float:right;
    width:15px;
    border:1px solid #2f2f2f;
    border-radius: 40px;
    padding:6px;
}

.mob-showroom-address{
    position: relative;
    float:left;
    width: 100%;
    margin-top: 20px;
    font-size: 11px;
}

.mob-showroom-near-info{
    position: relative;
    float:left;
    width:100%;
    font-size: 11px;
    margin-top:10px;
    color:#a0a0a0;
    margin-bottom:10px;
}


.mob-showroom-place-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:10px;
    border-top:1px solid #f5f5f5;
}

.mob-showroom-time-wrap{
    position: relative;
    width:auto;
    float:left;
}

.mob-showroom-time{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    align-items: center;
}

.mob-showroom-time p{
    position: relative;
    float:left;
    width:auto;
    margin-right: 7px;
    font-size: 11px;
    line-height: 1.5;
}

.mob-showroom-time p:nth-child(2){
    font-size: 11px;
    color:#a0a0a0;
}

.mob-showroom-time p:nth-child(3){
    font-size: 11px;
}

.mob-showroom-show-place{
    position: relative;
    float:left;
    width:40px;
    border:1px solid #2f2f2f;
    padding: 5px 13px 6px 13px;
    border-radius: 40px;
    background: #292929;
    color:#fff;
    font-size: 11px;
    text-align: center;
}


.mob-showroom-seongsu .mob-showroom-info-title{
    top:7px;
}
.mob-showroom-sejong .mob-showroom-show-place{
    position: absolute;
    right:0;
}
/* //mob-showroom-info-wrap*/
/* //mob-showroom */





/* pltl */
#pltl {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    overflow: hidden;
}

.pltl-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10px;
    overflow: hidden;
}
.pltl-bg{
    position: relative;
    float:left;
    width:100%;
}

.pltl-bg:nth-child(2){
    display: none;
}


.pltl-text-wrap {
    position:absolute;
    width:100%;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
}


.pltl-text-wrap p {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    line-height: 2;
    font-size: 10px;
    font-family: "Pretendard-Regular";
}


.pltl-wrap .pltl-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:12px 15px;
    border: 1px solid #4f4f4f;
    transition-duration: .2s;
    margin-top:70px;
    font-size: 10px;
    color:#4f4f4f;
}

.pltl-wrap .pltl-button:hover {
    background: #292929;
    color: #fff;
}




/* //pltl */

/* //mobile */


