@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}


/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Urbanist-ExtraBold";
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}



#mob-mypage-whole {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.mob-mypage-title {
    position: relative;
    float: left;
    width: 100%;
    margin-left: 20px;
}




/* mob-mypage-button-wrap */
.mob-mypage-button-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mob-mypage-button {
    position: relative;
    float: left;
    width: 100%;
    opacity: .6;
    box-sizing: border-box;
    border: 1px solid #fcfcfc;
}

.mob-mypage-button-wrap2 .mob-mypage-button:nth-child(1) {
    border: 1px solid #808080;
    opacity: 1;
}

.mob-mypage-button:nth-child(1) {
    margin-right: 10px;
}

.mob-mypage-button p {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #fcfcfc;
}

/* //mob-mypage-button-wrap */



/* mob-wishlist-wrap */
.mob-wishlist-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;  
}
.mob-wishlist-title{
    position: relative;
    float:left;
    width:100%;
    margin-bottom:10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}


.mob-wishlist-content{
    position: relative;
    float:left;
    width: 100%;
    margin-top:30px;
}
.mob-wishlist-top-category{
    position: relative;
    float:left;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.mob-wishlist-top-category p{
    position: relative;
    width:auto;
    font-size: 12px;
}
.mob-wishlist-img-title{
    float:left;
    margin-left:30px;
    margin-right:70px;
}
.mob-wishlist-name-title{
    float:left;
}
.mob-wishlist-price-title{
    float: right;
    margin-right: 40px;
}


.mob-my-wishlist{
    position: relative;
    float:left;
    width:100%;
    height: 70px;
    padding:20px 0;
    border-bottom: 1px solid #f5f5f5;
}
.mob-my-wishlist input[type="checkbox"]{
    position: relative;
    float:left;
    margin:0;
    top:50%;
    transform: translate(0,-50%);
    margin-right:15px;
}
.mob-wishlist-img-box{
    position: relative;
    float:left;
    width:70px;
    height: 70px;
    background: #ddd;
    overflow: hidden;
    margin-right: 33px;
}
.mob-wishlist-info-title{
    font-size: 13px;
}
.mob-wishlist-more-button{
    position: relative;
    float:left;
    width: 100px;
    opacity: .5;
    font-size: 12px;
    margin-top:40px;
}
.mob-wishlist-more-button p{
    position: relative;
    float:left;
}
.mob-wishlist-more-button img{
    position: relative;
    float:left;
    width:10px;
    top:4px;
    margin-left:4px;
}


.mob-wishlist-price{
    position: absolute;
    float: right;
    font-size: 12px;
    right: 15px;
    top:20px;
}





.mob-wishlist-button-wrap{
    position: relative;
    float:left;
    width:130px;
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.mob-wishlist-button-wrap p{
    position: relative;
    width:100%;
    text-align: center;
    border:1px solid #292929;
    padding:3px 5px;
    font-size: 12px;
}

.mob-wishlist-right-button-wrap{
    float: right;
    margin-right:10px;
}

.mob-all-buy-button{
    background: #2f2f2f;
    color:#fff;
}
/* //mob-wishlist-wrap */






@media screen and (min-width:1025px){
    
    #mob-mypage-whole{
        display: none;
    }
}