@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}

a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}

















#notice-whole {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    margin-top: 150px;
    padding: 0 20px;
}






.title-wrap {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content:flex-start;
}

.notice-title {
    position: relative;
    float: left;
    width: auto;
    font-size: 14px;
    margin-right: 10px;
}

.notice-title:nth-child(2) {
    font-size: 11px;
    top:2px;
}




 



/* notice-search-wrap */
.notice-search-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 40px;
    border:1px solid #2f2f2f;
     padding:20px; 
    box-sizing: border-box;
}
.notice-search-box{
    width:100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
   
}
.notice-search {
    position: relative;
    width: 100%;
    padding: 12px 0;
    background: #f0f0f0;
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
}

.notice-search input[type="text"] {
    position: relative;
    width: 90%;
    box-sizing: border-box;
    float: right;
    background: none;
    border: none;
    font-size: 11px;
    outline: none;
    padding-right: 30px;
    top:1px;
}

.notice-search .notice-search-img {
    position: relative;
    float: left;
    width: 13px;
    height: 13px;
    top: 3px;
    margin-right: 10px;
    opacity: .6;
    margin-left:20px;

}

.notice-search-button {
    position: relative;
    width: 50px;
    background: #2f2f2f;
    padding: 13px 5px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
    font-size: 11px;
}




/* notice-type */
.notice-type{
    position: relative;
    float:left;
    width:100%;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.notice-type label{
    position: relative;
    float:left;
    width:auto;
    display: flex;
    align-items: center;
    margin-right:20px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
}
.notice-type label:focus{
    outline: none;
}
.notice-type label input[type="checkbox"]{
    position: relative;
    padding:0;
    margin:0;
    width:10px;
}
.notice-type label p{
    margin-left:7px;
}
/* //notice-type */




.contents-sort-wrap {
    position: relative;
    float:right;
    width: auto;
    display: flex;
    justify-content: flex-end;
    top:10px;
}

.contents-sort-wrap select {
    position: relative;
    margin: 0 5px;
    margin-right:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../plantlance-image/icon/arrow-down2.png') no-repeat 90% 50% #fff;
    padding: 4px 20px;
    background-size: 8px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.contents-sort-wrap select::-ms-expand {
    display: none;
}

/* //review-search-wrap */








/* contents-wrap */
.contents-wrap {
    position:relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:30px;
}
.contents-title{
    position: relative;
    width:100%;
    font-size: 14px;
    padding-bottom: 15px;
    border-bottom: 1px solid #2f2f2f;
}


.contents{
    position: relative;
    float:left;
    width:100%;
    box-sizing: border-box;
    padding:15px 0;
    margin-bottom: 1px;
    display: flex;
    align-items: center;    
}

.contents-important{
    background: #efefef;
}

.contents .go-to-post{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.contents .contents-type{
    position: relative;
    width:auto;
    font-size: 10px;
    padding:3px 14px;
    margin-right: 30px;
    margin-left:10px;
}

.contents-important .contents-type{
    background: #0A57BF;
    color:#fff;
    padding:3px 7px;
}

.contents .contents-name{
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 10px;
    font-size: 12px;
}

.contents .contents-writer{
    position: relative;
    float:left;
    width:100%;
    font-size: 10px;
}

.contents .contents-date{
    position:relative;
    font-size: 11px;
    opacity: .4;
}


.write-notice{
    position: relative;
    float:right;
    width:auto;
    margin-top:20px;
    padding:10px 20px;
    color:#fff;
    background: #2f2f2f;
    font-size: 10px;
}
/* contents-wrap */






@media screen and ( min-width:1025px ){
    
    #notice-whole{
        display: none;
    }
}



