@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}

a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}







#write-posting {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color:#4f4f4f;
}


.write-posting-wrap {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1360px;
}


.write-title {
    position: relative;
    float: left;
    width: 100%;
    font-size:14px;
    border-bottom: 2px solid #4f4f4f;
    padding-bottom: 10px;
    color:#4f4f4f;
}


.write-posting-wrap .customer-write-title {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 12px;
    opacity: .6;
}


/* posting-type-wrap */ 
.posting-type-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}
.posting-type-wrap .post-type{
    position: relative;
    float:left;
    width:auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.posting-type-wrap input[type="radio"]{
    position: relative;
    float:left;
    margin-right: 5px;
}
.write-content {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px 0;
    padding-left: 20px;
    margin-top: 15px;

}


.show-or-not-wrap{
    position: absolute;
    right:0;
    top:30px;
}
.show-or-not-wrap .show-or-not-title{
    position: relative;
    float:left;
    width: auto;
    margin-right: 10px;
}



.switch{
    position:relative;
    display: inline-block;
    width:25px;
    height: 14px;
    top:1px;
}

.switch input{
    opacity: 0;
    width:0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition:.4s;
    transition:.4s;
}

.slider:before{
    position: absolute;
    content:"";
    height: 10px;
    width:10px;
    left:2px;
    bottom:2px;
    background-color: white;
    -webkit-transition:.4s;
    transition:.4s;
}
.switch input:checked + .slider{
    background-color: #2196f3;
}

.switch input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before{
    -webkit-transform:translateX(10px);
    -ms-transform:translateX(10px);
    transform:translateX(10px);
}
.slider.round{
    border-radius: 30px;
}
.slider.round:before{
    border-radius: 80%;
}

/* //posting-type-wrap */ 











.write-content {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 1px solid #e0e0e0;
    outline: none;
    padding: 10px 0;
    padding-left: 20px;
    margin-top: 15px;

}





/* add-file-wrap */
.add-file-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 150px;
}



.add-file-category {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background: #f9f9f9;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-file-name {
    position: relative;
    width: 100%;
}



.add-myfile {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-file-name-title{
    position: relative;
    float:left;
    width:auto;
    font-size: 10px;
}
.add-file-name{
    position: relative;
    float:left;
    width:auto;
    font-size: 11px;
    margin-left:0;
}


.add-myfile  .myfile-delete{
    position: relative;
    float:right;
    font-size: 11px;
    border:1px solid #4f4f4f;
    padding: 3px 13px;
    border-radius: 5px;
    
}



.mob-add-myfile-button{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    padding:13px 0;
    background: #909090;
    color:#fff;
    font-size: 12px;
}
/* //add-file-wrap */





/* write-posting-button-wrap */
.write-posting-button-wrap {
    position: fixed;
    float: left;
    width: 100%;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
}
.write-posting-button-wrap a{
    position: relative;
    display: block;
    width:100%;
}

.go-to-list {
    position: relative;
    width:100%;
    border: 1px solid #2f2f2f;
    background: #fff;
    padding: 20px 0;
    box-sizing: border-box;
    text-align: center;
   
}

.go-to-save {
    position: relative;
    width:100%;
    background: #2f2f2f;
    padding: 20px 20px;
    color: #fff;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    text-align: center;

}

/* //write-posting-button-wrap */
















@media screen and ( min-width: 1025px ){
    #write-posting{
        display: none;
    }
    
    #save{
        display: none!important;
    }
    
    #choice-product{
        display: none!important;
    }
}





