@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}

a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}
















#review-list-whole {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    margin-top: 150px;
    padding: 0 20px;
}






.title-wrap {
    position: relative;
    float: left;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-title {
    position: relative;
    width: auto;
    font-size: 16px;
    margin-right: 10px;
}

.review-title:nth-child(2) {
    position: relative;
    font-size: 13px;
    margin-right: 0;
}







/* review-search-wrap */
.review-search-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.review-search {
    position: relative;
    width: 90%;
    padding: 13px 0;
    background: #e0e0e0;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.review-search input[type="text"] {
    position: relative;
    width: 90%;
    box-sizing: border-box;
    float: right;
    background: none;
    border: none;
    font-size: 13px;
    outline: none;
    padding-right: 30px;
}

.review-search .review-search-img {
    position: relative;
    float: left;
    width: 13px;
    height: 13px;
    top: 3px;
    margin-right: 10px;
    opacity: .6;

}

.review-search-button {
    position: relative;
    width: 100px;
    background: #2f2f2f;
    padding: 13px 10px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
}

/* //review-search-wrap */


/* review-kind-wrap */
.review-kind-wrap {
    position: relative;
    float: left;
    width: auto;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
}

.review-kind-wrap label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-right: 30px;
}

.review-kind-wrap label input {
    margin-right: 5px;
    margin-left: 0;
}


/* //review-kind-wrap */




/* review-or-instagrm-button-wrap */
.review-or-instagram-button-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 40px;
}

.review-or-instagram-button-wrap p {
    position: relative;
    float: left;
    width: auto;
    margin-right: 30px;
}


.review-or-instagram-line {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #f5f5f5;
    margin-bottom: 80px;
}

.text-bottom-line {
    position: absolute;
    width: 47px;
    height: 3px;
    background: #2f2f2f;
    top: 36px;
}

/* //review-or-instagrm-button-wrap */




/* contents-sort */
.contents-sort {
    position: absolute;
    right: 0;
}

.contents-sort-wrap {
    position: relative;
    float: left;
    width: auto;
    display: flex;
    justify-content: flex-end;
}

.contents-sort-wrap select {
    position: relative;
    margin: 0 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../plantlance-image/icon/arrow-down2.png') no-repeat 90% 50% #fff;
    padding: 4px 20px;
    background-size: 8px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.contents-sort-wrap select::-ms-expand {
    display: none;
}

/* //contents-sort */




/* review-instagram-contents-wrap */

.review-instagram-contents-wrap {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.review-instagram-contents-wrap1{
    margin-top:50px;
}

.write-review-button{
    position: absolute;
    width:100%;
    text-align: center;
    color:#fff;
    box-sizing: border-box;
    padding:15px 0;
    background: #2f2f2f;
    top:-80px;
    z-index: 2;
    font-size: 12px;
}
.contents-wrap {
    position: relative;
    width: 25%;
    height: auto;
    margin-right: 30px;
    margin-bottom: 70px;
    overflow: hidden;
}

.contents-wrap:nth-last-child(1) {
    margin-right: 0;
}

.go-to-contents {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}


.contents-img-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 100%;
    background: #ddd;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.contents-img-wrap img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}


.contents-top {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contents-top p {
    position: relative;
    float: left;
    font-size: 12px;
}



.contents-info-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.contents-info-wrap .contents-title {
    position: relative;
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}


.contents-info-wrap .contents-txt {
    position: relative;
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    box-sizing: border-box;
    text-align: justify;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
}

.contents-line {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 10px;
}


.contents-my-option {
    position: relative;
    float: left;
    width: 100%;
    font-size: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    box-sizing: border-box;
}



.review-instagram-contents-wrap5,
.review-instagram-contents-wrap6,
.review-instagram-contents-wrap7,
.review-instagram-contents-wrap8 {
    display: none;
}

/* //review-instagram-contents-wrap */






/* contentx-more */

.contents-more {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #2f2f2f;
    padding: 15px 0;
    margin-bottom: 30px;
}

.contents-more .contents-more-arrow-img {
    position: relative;
    width: 10px;
    height: 10px;
    top: 4px;
    margin-left: 10px;
}

/* //contentx-more */


    .pc-contents-popup-wrap {
        visibility: hidden;
    }

    .mob-list-whole {
        display: block;
    }

    .mob-contents-popup-wrap {
        display: flex;
        visibility: hidden;
    }








    .mob-list-whole .contents-wrap {
        width: 50%;
    }

    /* review-search-wrap */
    .mob-list-whole .review-search {
        margin-right: 10px;
    }

    .mob-list-whole .review-search-img {
        margin-left: 20px;
    }

    .mob-list-whole .review-search input[type="text"] {
        font-size: 10px;
        top: 1px;
    }

    .mob-list-whole .review-search-wrap .review-search-button {
        font-size: 10px;
        width: 40px;
    }

    /* //review-search-wrap */




    /* review-kind-wrap */
    .mob-list-whole .review-kind-wrap p {
        position: relative;
        font-size: 10px;
        top: 2.4px;
    }

    .mob-list-whole .review-kind-wrap {
        position: relative;
        float: left;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .mob-list-whole .review-kind-wrap label {
        margin-right: 0;
    }

    /* //review-kind-wrap */





    /* review-or-instagram-button-wrap */
    .mob-list-whole .review-or-instagram-button-wrap {
        margin-top: 10px;
    }

    .mob-list-whole .review-or-instagram-button-wrap p {
        font-size: 12px;
        top: 10px;
    }

    .mob-list-whole .review-or-instagram-button-wrap .text-bottom-line {
        width: 40px;
    }



    .mob-list-whole .contents-sort {
        top: 50px;
    }

    .mob-list-whole .contents-sort select {
        font-size: 10px;
        padding: 6px 14px;
        margin-right: 1px;

    }

    /* //review-or-instagram-button-wrap */





    /* review-instagram-contents-wrap */
    .mob-list-whole .review-instagram-contents-wrap .contents-top p {
        font-size: 10px;
    }

    .mob-list-whole .review-instagram-contents-wrap .contents-title {
        font-size: 12px;
    }

    .mob-list-whole .review-instagram-contents-wrap .contents-txt {
        font-size: 11px;
    }

    .mob-list-whole .review-instagram-contents-wrap .contents-my-option {
        opacity: .6;
    }

    /* //review-instagram-contents-wrap */





    /* more-review-button */
    .mob-list-whole .contents-more {
        font-size: 12px;
    }

    .mob-list-whole .contents-more .contents-more-arrow-img {
        width: 8px;
        height: 8px;
        margin-left: 5px;
    }

    /* //more-review-button */




    /* contents-popup */
    .contents-popup-bg {
        position: fixed;
        width: 100%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
        z-index: 100;
        display: none;
    }
    
    .mob-contents-popup-wrap{
        position: absolute;
        width:100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        z-index: 101;
    }
    
    .mob-contents-popup-wrap .contents-popup{
        position: relative;
        width:300px;
        height: 600px;
        background: #fff;
        box-sizing: border-box;
        padding:30px 20px;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
    
    .mob-contents-popup-wrap .contents-popup .contents-popup-close{
        position: absolute;
        width:10px;
        right:20px;
        top:30px;
    }
    
    .mob-contents-popup-wrap .contents-popup-title{
        position: relative;
        float:left;
        width:100%;
        margin-top:15px;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .mob-contents-popup-wrap .contents-popup-id{
        position: relative;
        float:left;
        width:100%;
        font-size: 12px;
        opacity: .6;
        margin-bottom: 10px;
    }
    .mob-contents-popup-wrap .contents-popup-assess-wrap{
        position: relative;
        float:left;
        width:100%;
        display: flex;
        justify-content: flex-start;
        font-size: 12px;
        margin-bottom:10px;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 10px;
    }
    .mob-contents-popup-wrap .contents-popup-assess2{
        position: relative;
        margin-left:10px;
        font-size: 11px;
    }
    .mob-contents-popup-wrap .contents-popup-myproduct{
        position: relative;
        float:left;
        width:100%;
        display: flex;
        justify-content: flex-start;
        font-size: 10px;
        opacity: .7;
        box-sizing: border-box;
    }
    .mob-contents-popup-wrap .contents-popup-myproduct p{
        margin-right: 4px;
    }
    
    .mob-contents-popup-wrap .contents-popup-myoption{
        position: relative;
        float:left;
        width:100%;
        display: flex;
        justify-content: flex-start;
        font-size: 10px;
        opacity: .7;
    }
    .mob-contents-popup-wrap .contents-popup-myoption p{
        margin-right: 4px;
    }
    
    
    .mob-contents-popup-img-wrap{
        position: relative;
        float:left;
        width:100%;
        height:230px;
        margin-top:20px;
        background: #ddd;
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    .mob-contents-popup-img-wrap img{
        position: relative;
        float:left;
        width:100%;
    }
    
    
    .mob-contents-popup-wrap .contents-popup-txt{
        position: relative;
        float:left;
        width:100%;
        font-size: 12px;
        text-align: justify;
        line-height: 1.5;
    }
    
    
    .mob-contents-popup-wrap .contents-popup-date{
        position: relative;
        float:left;
        width:100%;
        font-size: 10px;
        margin-top:10px; 
        opacity: .6;
    }
    
    .mob-contents-popup-wrap .contents-popup-bottom{
        position: relative;
        float:left;
        width:100%;
        height: auto;
        background: #fff;
        box-sizing: border-box;
        border-top:1px solid #f0f0f0;
        margin-top:20px;
    }
    
    .mob-contents-popup-wrap .contents-popup-bottom .share-img{
        position: relative;
        float:left;
        width:15px;
        top:10px;
        margin-right:20px;
    }
    
    .mob-contents-popup-wrap .contents-popup-bottom .heart-img{
        position: relative;
        float:left;
        width:17px;
        top:9px;
        margin-right:10px;
    }
    
    .mob-contents-popup-wrap .contents-popup-bottom .mob-contents-popup-similar{
        position: relative;
        float:right;
        display: flex;
        justify-content: flex-end;
        margin-top:11px;
        font-size: 12px;
    }
    .mob-contents-popup-wrap .contents-popup-bottom .mob-contents-popup-similar .arrow-img{
        position: relative;
        width:9px;
        height: 9px;
        top:5px;
        margin-left:5px;
    }
    /* //content-popup */
    
    
    
    
    
    
    /* contents-similar-popup*/
    .contents-similar-popup{
        position: absolute;
        width:300px;
        height: 440px;
        background: #fff;
        box-sizing: border-box;
        padding:30px 20px;
        overflow-x: hidden;
        visibility: hidden;
    }
    
    .contents-similar-popup .contents-popup-close{
        position: absolute;
        width:10px;
        right:20px;
    }
    
    
    .contents-similar-popup-title{
        position: relative;
        float:left;
        width:100%;
        font-size: 12px;
        margin-top:10px;
        margin-bottom: 25px;
    }
    .contents-similar{
        position: relative;
        float:left;
        width:100%;
        height: auto;
        box-sizing: border-box;
        padding:20px 0;
        border-top:1px solid #f0f0f0;
    }
    .contents-similar-img{
        position: relative;
        float:left;
        width:70px;
        height: 70px;
        background: #eee;
        margin-right:20px;
    }
    .contents-similar p{
        position: relative;
        width:auto;
        font-size: 11px;
        margin-bottom: 5px;
    }
    
    .show-similar-product{
        position: relative;
        float:left;
        margin-top:19px;
    }
    .show-similar-product .similar-arrow-img{
        position: relative;
        width: 8px;
    }
    
    .contents-similar-price{
        position: relative;
        float:right;
        margin-top:19px;
    }
    /* //contents-similar-popup*/





