@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}

a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng-light{
    font-family: "Urbanist-Light";
}
.txt-eng {
    font-family: "Urbanist-Medium";
}
.txt-eng-semibold{
    font-family: "Urbanist-SemiBold";
}
.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor-light{
     font-family: "Pretendard-Thin";
}
.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}

















#notice-whole {
    position: relative;
    float: left;
    width: 100%;
    max-width: 1400px;
    min-width: 1400px;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    margin-top: 150px;
    padding: 0 20px;
}






.title-wrap {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.notice-title {
    position: relative;
    float: left;
    width: auto;
    font-size: 16px;
    margin-right: 10px;
}

.notice-title:nth-child(2) {
    font-size: 14px;
}




 



/* notice-search-wrap */
.notice-search-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 40px;
    border:1px solid #2f2f2f;
     padding:20px; 
    box-sizing: border-box;
}
.notice-search-box{
    width:100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
   
}
.notice-search {
    position: relative;
    width: 100%;
    padding: 13px 0;
    background: #f0f0f0;
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
}

.notice-search input[type="text"] {
    position: relative;
    width: 90%;
    box-sizing: border-box;
    float: right;
    background: none;
    border: none;
    font-size: 13px;
    outline: none;
    padding-right: 30px;
}

.notice-search .notice-search-img {
    position: relative;
    float: left;
    width: 13px;
    height: 13px;
    top: 3px;
    margin-right: 10px;
    opacity: .6;
    margin-left:20px;

}

.notice-search-button {
    position: relative;
    width: 50px;
    background: #2f2f2f;
    padding: 13px 10px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
}






/* notice-type */
.notice-type{
    position: relative;
    float:left;
    width:auto;
    margin-top:10px;
}
.notice-type label{
    position: relative;
    float:left;
    width:auto;
    display: flex;
    align-items: center;
    margin-right:20px;
    cursor: pointer;
    font-size: 12px;
    outline: none;
}
.notice-type label:focus{
    outline: none;
}
.notice-type label input[type="checkbox"]{
    position: relative;
    padding:0;
    margin:0;
    width:10px;
}
.notice-type label p{
    margin-left:7px;
}
/* //notice-type */








/* //review-search-wrap */








/* contents-sort */
.contents-wrap {
    position:relative;
    width:100%;
    float:left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.contents-title{
    position: relative;
    font-size: 14px;

}
.contents-sort-wrap {
    position: relative;
    float:right;
    width: auto;
    display: flex;
    justify-content: flex-end;
    top:10px;
}

.contents-sort-wrap select {
    position: relative;
    margin: 0 5px;
    margin-right:0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../plantlance-image/icon/arrow-down2.png') no-repeat 90% 50% #fff;
    padding: 4px 20px;
    background-size: 8px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

.contents-sort-wrap select::-ms-expand {
    display: none;
}


.contents-category{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    font-size: 12px;
    padding:20px 0;
    box-sizing: border-box;
    border-top:2px solid #2f2f2f;
    border-bottom: 1px solid #e0e0e0;
}
.contents-category p:nth-child(1){
    width:90px;
}

.contents-category p:nth-child(2){
    width:135px;
}
.contents-category p:nth-child(3){
    width:100%;
}
.contents-category p:nth-child(4){
    width:150px;
}




/* //contents-sort */




/* contents-notice */
.contents-notice{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding:20px 0;
    border-bottom: 1px solid #d0d0d0;
    
    font-size: 13px;
}

.contents-notice-important{
    background: #e0e0e0;
}

.contents-notice .go-to-post{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.contents-notice .type{
    width:40px;
    font-size: 11px;
    margin-right:40px;
    text-align: center;
}

.contents-notice-important .type{
    background: #0A57BF;
    padding:3px 3px;
    color:#fff;
    margin-right:33px;
}
.contents-notice .sort{
    width:40px;
    margin-right: 70px;
}

.contents-notice .show-contents{
    width:100%;
}
.contents-notice .writer{
    width:250px;
}
.contents-notice .date{
    width:150px;
}


.write-notice{
    position: relative;
    float:right;
    width:auto;
    margin-top:20px;
    padding:10px 20px;
    color:#fff;
    background: #2f2f2f;
}
/* //contents-notice */
 







