@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Regular";
}

.txt-kor-light {
    font-family: "Pretendard-Light";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}




/* 모든 input 타입에 대한 모바일 radius 제거*/
input[type="text"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    padding-bottom: 4px;
}

input[type="number"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    padding-bottom: 4px;
}

input[type="email"] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    padding-bottom: 4px;
}

input[type="checkbox"] {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
}

select {
    -webkit-border-radius: 0;
}

/* //모든 input 타입에 대한 모바일 radius 제거*/



#header {
    position: relative;
}







/* payment */
#payment {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
}

.payment-wrap {
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    height: auto;

}





/* checkout-info */
.checkout-info {
    position: relative;
    width: 100%;
    padding-left: 10px;
}

.checkout-info .checkout-title {
    font-size: 20px;
    margin-bottom: 50px;
}

.checkout-info .product-info {
    position: relative;
    float: left;
    width: 100%;
}

.checkout-info .product-info-title {
    font-size: 18px;
}

.checkout-info p {
    position: relative;
    float: left;
    width: auto;
}

.checkout-info .product-info-ea {
    margin-left: 10px;
    color: #0A57BF;
}

.product-info .product-box {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #292929;
}

.product-box .product-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.product-wrap .product {
    position: relative;
    float: left;
    width: 70%;
}

.product .product-img {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background: #d8d8d8;
    margin-right: 20px;
}

.product .product-option {
    position: relative;
    float: left;
}

.product-option .product-name {
    position: relative;
    float: left;
    width: auto;
}

.product-option .my-option {
    position: relative;
    width: 150px;
    margin-top: 55px;
}

.product-option .my-option p {
    position: relative;
    float: left;
    width: auto;
    color: #999;
    font-size: 12px;
    margin: 0 3px;
}

.product-wrap .ea {
    position: relative;
    float: left;
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.product-wrap .price {
    position: relative;
    float: left;
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}



/* customer-info*/
.customer-info {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 80px;
}

.customer-info .customer-title {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    font-family: "Pretendard-SemiBold";
    font-size: 18px;
}

.customer {
    position: relative;
    float: left;
    width: 100%;
    border-top: 2px solid #292929;
}

.customer .customer-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
}

.customer-wrap p {
    position: relative;
    float: left;
    width: 150px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    top: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
    font-family: "Pretendard-Regular";
}

.customer-wrap input {
    position: relative;
    float: left;
    border: 1px solid #f0f0f0;
    background: #fcfcfc;
    width: 20%;
    height: 25px;
    padding-left: 10px;
    outline: none;
}

.customer-wrap .selection {
    position: relative;
    float: left;
    width: 80px;
    height: 32px;
    border: 1px solid #f0f0f0;
    background: #fcfcfc;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    outline: none;
    padding-left: 10px;
    color: #777;

}

.email-wrap .at {
    width: auto;
    margin-right: 10px;
}

.email-wrap .email-dot {
    width: 100px;
    margin-right: 10px;
}

.email-wrap .selection {
    width: 80px;
}


.address-wrap .address-button {
    width: auto;
    background: #292929;
    color: #fff;
    padding: 0 15px 2px 15px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;

}

.address-wrap .other-address {
    width: 50%;
    margin-left: 160px;
    margin-top: 10px;
}

.address-wrap input {
    background: #f5f5f5;
}

.message-wrap input {
    width: 60%;
    padding: 10px 0;
    padding-left: 10px;

}

/* //customer-info*/




/* delivery-info */
.delivery-info .delivery-check {
    width: 10px;
    margin-top: 4px;
}

.delivery-info .message-wrap input {
    height: 40px;
}

/* //delivery-info */



/* order-info */
.order-info {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 80px;
}

.order-info .order-title {
    position: relative;
    float: left;
    width: 100%;
    margin-left: 0px;
    font-size: 18px;
}

.order-way {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.order-way .type-of-payment[type=radio] {
    display: none;
}

#card:checked ~ .order-way-wrap label:nth-child(1),
#deposit:checked ~ .order-way-wrap label:nth-child(2),
#live:checked ~ .order-way-wrap label:nth-child(3),
#phone:checked ~ .order-way-wrap label:nth-child(4),
#easy:checked ~ .order-way-wrap label:nth-child(5) {
    color: #fff;
    background: #333;
    border: 1px solid #333;
}

.way-wrap > div {
    display: none;
}

#card:checked ~ .way-wrap div:nth-child(1),
#deposit:checked ~ .way-wrap div:nth-child(2),
#live:checked ~ .way-wrap div:nth-child(3),
#phone:checked ~ .way-wrap div:nth-child(4),
#easy:checked ~ .way-wrap div:nth-child(5) {
    display: block;
}


.order-way-wrap {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

.order-way-wrap label {
    cursor: pointer;
    float: left;
    width: 45%;
    text-align: center;
    padding: 15px 0;
    user-select: none;
    -webkit-user-select: none;
    margin: 0 5px;
    border: 1px solid #292929;
    transition-duration: .2s;
}

.order-way-wrap label:nth-child(1) {
    margin-left: 0;
}

.order-way-wrap label:nth-child(5) {
    margin-right: 0;
}



/* way-wrap */
.way-wrap .way-kind-title {
    position: relative;
    float: left;
    width: 15%;
    height: 100%;
}

.way-kind-title p {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    font-family: "Pretendard-Regular";
    font-size: 16px;
}

.way-kind-info {
    position: relative;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.way-kind-info select {
    position: relative;
    float: left;
    width: 150px;
    margin: 0 30px;
    border: none;
    background: none;
    border-bottom: 1px solid #eee;
    padding: 0 10px 10px 0;
    outline: none;
}

.way-kind-info-wrap {
    position: relative;
    float: left;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
}

.way-notice-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
}

.way-notice-wrap p {
    position: relative;
    float: left;
    width: 100%;
    font-family: "Pretendard-Regular";
    font-size: 12px;
    margin: 2px 0;
    color: #888;
}




/* card-wrap */
.card-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin-top: 20px;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
}

/* //card-wrap */



/* deposit-wrap */
.deposit-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 150px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin-top: 20px;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
}

.deposit-wrap .way-kind-info {
    position: relative;
    float: left;
    width: 85%;
    height: auto;
    top: 50%;
    transform: translate(0, -50%);
}

.deposit-wrap .way-kind-info .title {
    position: relative;
    float: left;
    width: auto;
    top: 50%;
    transform: translate(0, -50%);
}

.deposit-wrap .way-kind-info input {
    position: relative;
    float: left;
    width: 170px;
    background: #eee;
    border: none;
    margin-left: 10px;
    padding: 10px 0;
    top: 50%;
    transform: translate(0, -50%);
    outline: none;
    padding-left: 15px;
}

.deposit-wrap .way-kind-info .deposit-number {
    position: relative;
    float: left;
    width: 100%;
    margin-top: -10px;
    left: 50%;
    transform: translate(-50%);
    font-size: 12px;
    font-family: "Pretendard-Regular";
    color: #999;
}

/* //deposit-wrap */



/* live-wrap */
.live-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin-top: 20px;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
}

.live-wrap .way-notice-wrap {
    margin-top: 0;
}

/* //live-wrap */



/* phone-wrap */
.phone-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin-top: 20px;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
}

.phone-wrap .way-notice-wrap {
    margin-top: 0;
}

/* //phone-wrap */


/* easy-wrap */
.easy-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 130px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    margin-top: 20px;
    background: #fcfcfc;
    display: flex;
    justify-content: space-between;
}

.easy-wrap .easy-kind-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: -30px;
}
.easy-wrap .easy-kind-wrap .easy-kind{
    position: relative;
    float:left;
    width:50%;
}
.easy-wrap .easy-kind-wrap .easy-kind input {
    position: relative;
    float: left;
    margin-right: 10px;
}

.easy-wrap .easy-kind-wrap .easy-kind img {
    position: relative;
    float: left;
    width: 48px;
}



.easy-wrap .easy-kind-wrap .easy-kind .kakaopay {
    margin-top: 3px;
}

.easy-wrap .easy-kind-wrap .easy-kind .payco {
    margin-top: 3px;
}

.easy-wrap .easy-kind-wrap .easy-kind .toss {
    margin-top: -1px;
}

.easy-wrap .easy-kind-wrap .easy-kind .smilepay {
    margin-top: 3px;
}

.easy-wrap .easy-kind-wrap .easy-kind .samsungpay {
    margin-top: 6px;
}


.easy-wrap .way-kind-info .way-notice-wrap {
    position: absolute;
    float: left;
    bottom: 10px;
    left: 20px;
}

/* //easy-wrap */




/* way-wrap  */





/* //order-info */


/* //checkout-info */









/* checkout-price */
.checkout-price {
    position: relative;
    width: 100%;
    margin-left: 50px;
    padding-right: 10px;
}

.checkout-price .checkout-price-title {
    font-size: 18px;
}

.checkout-price .checkout-price-title {
    position: relative;
    float: left;
    width: 85%;
    margin-bottom: 10px;
    margin-top: 73px;
}

.checkout-price .checkout-price-box {
    position: relative;
    float: left;
    width: 85%;
    height: 180px;
    border: 1px solid #292929;
    border-top: 2px solid #292929;
    padding: 20px;
}

.checkout-price .product-price-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.checkout-price .product-price-wrap p {
    position: relative;
    float: left;
    width: auto;
    font-size: 12px;
}

.checkout-price .product-price-wrap .price {
    float: right;
}

.checkout-price .delivery {
    margin-top: 30px;
    opacity: 1;

}

.checkout-price .delivery2 p {
    opacity: .5;
    font-size: 11px;
}

.checkout-price .delivery2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.checkout-price .last-checkout {
    margin-top: 20px;
    margin-bottom: 0;
}

.checkout-price .last-checkout p {
    font-size: 14px;
}

.checkout-price .last-checkout .price {
    color: #3D82B8;
}




.checkout-price .submit-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.checkout-price .submit {
    position: relative;
    width: auto;
    font-size: 12px;
    color: #777;
}

.checkout-price .submit-check {
    position: relative;
    margin-top: 1px;
}

.submit-txt {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    height: 80px;
    background: #f5f5f5;
    overflow-y: scroll;
}

.submit-txt-wrap {
    position: relative;
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 20px;
}

.submit-txt-wrap p {
    position: relative;
    float: left;
    color: #999;
    line-height: 1.5;
}

.submit-txt-wrap .title {
    color: #292929;
    margin-bottom: 10px;
}

.submit-wrap2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.submit-wrap3 {
    position: relative;
    float: right;
    width: 75px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.order-button {
    position: relative;
    float: left;
    width: 100%;
    background: #292929;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

/* //checkout-price */




/* //payment */
















@media screen and (max-width:5000px) and (min-width:1030px) {
    .payment-wrap {
        display: flex;
        justify-content: space-between;
    }


    .order-way-wrap {
        display: flex;
        justify-content: space-between;
    }

    .easy-wrap .easy-kind-wrap {
        display: flex;
        justify-content: space-between;
    }


    .checkout-price {
        width: 400px;
    }
}




@media screen and (max-width:1029px) and (min-width:860px) {
    body {
        overflow-x: hidden !important;
    }

    html {
        overflow-x: hidden !important;
    }
    .payment-wrap {
        display: flex;
        justify-content: space-between;
    }

     .easy-wrap .easy-kind-wrap {
        display: flex;
        justify-content: space-between;
    }

    .order-way-wrap label {
        width: 45%;
        padding: 15px 0;
        margin: 3px 10px;
    }

    .order-way-wrap label:nth-child(1) {
        margin-left: 10px;
    }

    .order-way-wrap label:nth-child(2) {
        float: right;
    }

    .order-way-wrap label:nth-child(4) {
        float: right;
    }






    .way-wrap .way-kind-title {
        position: absolute;
        float: left;
        width: 100%;
        height: 35px;
        border-bottom: 1px solid #eee;

    }

    .way-kind-title p {
        position: relative;
        float: left;
        width: 120px;
        height: 35px;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        font-family: "Pretendard-Regular";
        font-size: 14px;
    }

    .way-kind-info {
        width: 100%;
        margin-top: 15px;
    }

    .deposit-wrap {
        height: 200px;
    }

    .deposit-wrap .way-kind-info {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-30%, -50%);
    }







    .checkout-price {
        width: 400px;
    }



}




@media screen and (max-width:859px) and (min-width:730px) {

   .easy-wrap .easy-kind-wrap {
        display: flex;
        justify-content: space-around;
    }

    .message-wrap input {
        width: 40%;
    }



    .customer .email-wrap {
        position: relative;
        float: left;
        width: 100%;
        padding: 20px 0 60px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    .customer .email-wrap input:nth-child(4) {
        width: 70px;
    }

    .customer-wrap .selection {
        position: absolute;
        width: 150px;
        margin-top: 0px !important;
        left: 160px;
        bottom: 15px;
    }



    .way-wrap .way-kind-title {
        position: absolute;
        float: left;
        width: 100%;
        height: 35px;
        border-bottom: 1px solid #eee;

    }

    .way-kind-title p {
        position: relative;
        float: left;
        width: 120px;
        height: 35px;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        font-family: "Pretendard-Regular";
        font-size: 14px;
    }

    .way-kind-info {
        width: 100%;
        margin-top: 15px;
    }


    .deposit-wrap {
        height: 200px;
    }

    .deposit-wrap .way-kind-info {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-30%, -50%);
    }

    .deposit-wrap .way-notice-wrap {
        left: 0;
        width: 50%;
    }
    
    /* //deposit-wrap */
    
     .live-wrap .way-kind-info .way-notice-wrap{
        width:90%;
    }
    .live-wrap .way-kind-info .way-notice-wrap p{
        width:auto;
        left:50%;
        transform: translate(-50%);
    }
    
    .phone-wrap .way-kind-info .way-notice-wrap{
        width:90%;
    }
    
    .phone-wrap .way-kind-info .way-notice-wrap p{
        width:auto;
        margin-right:10px;
    }


    
    /* easy-wrap */
    .easy-wrap .way-kind-info .way-notice-wrap{
        bottom:20px;
    }
    /* //easy-wrap */












    .order-way-wrap label {
        width: 99%;
        padding: 15px 0;
        margin: 3px 0px;
    }

    .order-way-wrap label:nth-child(1) {
        margin-left: 00px;
    }

    .order-way-wrap label:nth-child(2) {
        float: left;
    }

    .order-way-wrap label:nth-child(4) {
        float: left;
    }




    .checkout-price {
        width: 400px;
    }





}


@media screen and (max-width:729px) and (min-width:300px) {

    
    /* checkout-info */

    .checkout-info {
        width: 95% !important;
    }

    .checkout-info .checkout-title {
        font-size: 14px;
    }




    /* product */
    .product-wrap {
        width: 100%;
        height: 150px;
        left: 50%;
        transform: translate(-50%);
        padding-left: 0;
        margin-right: 0;
    }

    .product .product-img {
        width: 65px;
        height: 65px;
    }


    .product-info .product-info-title {
        font-size: 16px;
    }


    .product-option .my-option {
        position: absolute;
        margin-top: 40px;
    }

    .product-wrap .ea {
        position: absolute;
        top: -20px;
        right: 0;
        width: 20px;
    }

    .product-wrap .price {
        position: absolute;
        bottom: -10px;
        right: 0;
        width: 80px;
    }


    /* //product */




    /* checkout-info */
    .customer-info .customer-title {
        font-size: 16px;
    }


    .customer .email-wrap {
        position: relative;
        float: left;
        width: 100%;
        padding: 20px 0 60px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    .customer .email-wrap input:nth-child(4) {
        width: 70px;
    }

    .customer-wrap .selection {
        position: absolute;
        width: 150px;
        margin-top: 0px !important;
        left: 110px;
        bottom: 15px;
    }


    .message-wrap input {
        width: 40%;
    }

    input[type="text"] {
        width: 170px;
    }

    input[type="number"] {
        width: 170px;
    }

    .customer-wrap .name {
        width: 100px;
    }

    .customer-wrap .number {
        width: 100px;
    }

    .address-wrap input {
        width: 60px;
    }


    .address-wrap .other-address {
        margin-left: 110px;
    }

    /* //checkout-info */




    /* order-way-wrap */
    .order-way-wrap label {
        width: 99%;
        padding: 15px 0;
        margin: 3px 0px;
        left: 0;
        margin-left: 0;
    }

    .order-way-wrap label:nth-child(1) {
        margin-left: 00px;
    }

    .order-way-wrap label:nth-child(2) {
        float: left;
    }

    .order-way-wrap label:nth-child(4) {
        float: left;
    }

    /* //order-way-wrap */



    .way-wrap .way-kind-title {
        position: absolute;
        float: left;
        width: 100%;
        height: 35px;
        border-bottom: 1px solid #eee;

    }

    .way-kind-title p {
        position: relative;
        float: left;
        width: 120px;
        height: 35px;
        text-align: center;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-content: center;
        align-items: center;
        font-family: "Pretendard-Regular";
        font-size: 14px;
    }

    .way-kind-info {
        width: 100%;
        margin-top: 15px;
    }





    .deposit-wrap {
        height: 200px;
    }

    .deposit-wrap .way-kind-info {
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-30%, -50%);
    }
    
    
    .live-wrap .way-kind-info .way-notice-wrap{
        width:90%;
    }
    .live-wrap .way-kind-info .way-notice-wrap p{
        width:auto;
        left:50%;
        transform: translate(-50%);
    }
    
    .phone-wrap .way-kind-info .way-notice-wrap{
        width:90%;
    }
    .phone-wrap .way-kind-info .way-notice-wrap p{
        width:auto;
        left:50%;
        transform: translate(-50%);
    }





  




    /* order-info */
    .order-info {
        width: 100%;
        left: 50%;
        transform: translate(-50%);
        padding-right: 0;
        margin-left: 0;
    }

    /* //order-info */



    /* checkout-price */
    .checkout-price {
        width: 95% !important;
        margin-left: 15px;
        margin: 0 auto;
        padding-right: 0px;
    }

    .checkout-price .checkout-price-title {
        font-size: 16px;
    }

    .checkout-price .checkout-price-box {
        position: relative;
        float: left;
        width: 100%;
        height: 180px;
        border: 1px solid #292929;
        border-top: 2px solid #292929;
        border-left: none;
        border-right: none;
        padding: 20px;
        padding-left: 0;
        padding-right: 0;
    }

    .checkout-price .checkout-price-box .product-price-wrap {
        width: 95%;
        left: 50%;
        transform: translate(-50%);
    }


    /* //checkout-price */


    /* submit */
    .submit-txt .submit-txt-wrap p:nth-child(1) {
        font-size: 12px;
        font-family: "Pretendard-Regular"
    }

    .submit-txt .submit-txt-wrap p:nth-child(2) {
        font-size: 12px;
        font-family: "Pretendard-Regular"
    }


    .submit-wrap .submit {
        font-size: 14px;
        color: #444;
        margin-top: -2px;
    }

    .submit-wrap3 .submit {
        font-size: 14px;
        color: #444;
        margin-top: -2px;
    }

    /* //submit */





    /* order-button */

    .order-button {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 25px 0;
        font-size: 18px;
        left: 0;
    }

    /* //order-button */

}

@media screen and (max-width:729px) and (min-width:551px){
      /* easy-wrap */
    .easy-wrap .easy-kind-wrap {
        display: flex;
        justify-content: space-around;
    }

    /* //easy-wrap */
}


@media screen and (max-width:550px) and (min-width:300px) {

    .customer .email-wrap {
        position: relative;
        float: left;
        width: 100%;
        padding: 20px 0 60px 0;
        border-bottom: 1px solid #f0f0f0;
    }

    .customer .email-wrap input:nth-child(4) {
        width: 70px;
    }

    .customer-wrap .selection {
        position: absolute;
        width: 150px;
        margin-top: 0px !important;
        left: 110px;
        bottom: 15px;
    }
    
    
    
    .deposit-wrap {
        height: 230px;
    }


    .deposit-wrap .way-kind-info {
        width: 100%;
        left:40%;
    }
    .deposit-wrap .way-kind-info .way-notice-wrap{
        width:80%;
    }
    
    
    .live-wrap .way-kind-info .way-notice-wrap{
        width:90%;
    }
    
    .phone-wrap .way-kind-info .way-notice-wrap{
        width:90%;
    }
    
    
    
    .easy-wrap {
        position: relative;
        float: left;
        width: 100%;
        height: 220px;
        border-top: 2px solid #f5f5f5;
        border-bottom: 2px solid #f5f5f5;
        margin-top: 20px;
        background: #fcfcfc;
    }

    .easy-wrap .easy-kind-wrap {
        position: relative;
        float: left;
        width: 75%;
        margin-top: -50px;
    }

    .easy-wrap .way-kind-info .way-notice-wrap {
        position: absolute;
        float: left;
        bottom: 20px;
        left: 20px;
    }
    .easy-wrap .way-kind-info .way-notice-wrap p{
        width:90%;
    }
    
    .easy-wrap .easy-kind-wrap .easy-kind{
        margin:5px 0;
    }
    .easy-wrap .easy-kind-wrap .easy-kind .mobile-easy{
        position: relative;
        float:right;
    }
}
