@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.ttf");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff2");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}




@font-face {
    src: url("../fonts/Pretendard-Medium.ttf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff2");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}




@font-face {
    src: url("../fonts/Pretendard-SemiBold.ttf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff2");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}







@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff2");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.otf");
    font-family: "Urbanist-Medium";
}




@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff2");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.otf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100%;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}



/* payment */
#payment {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
}

.payment-wrap {
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    height: auto;
}





/* checkout-info */
.checkout-info {
    position: relative;
    width: 100%;
    padding-left: 10px;
}

.checkout-info .checkout-title {
    font-size: 20px;
    margin-bottom: 50px;
}

.checkout-info .product-info {
    position: relative;
    float: left;
    width: 100%;
}

.checkout-info p {
    position: relative;
    float: left;
    width: auto;
}

.checkout-info .product-info-ea {
    margin-left: 10px;
    color: #0A57BF;
}

.product-info .product-box {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #292929;
}

.product-box .product-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}

.product-wrap .product {
    position: relative;
    float: left;
    width: 70%;
}

.product .product-img {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    background: #d8d8d8;
    margin-right: 20px;
}

.product .product-option {
    position: relative;
    float: left;
}

.product-option .product-name {
    position: relative;
    float: left;
    width: auto;
}

.product-option .my-option {
    position: relative;
    width: 150px;
    margin-top: 55px;
}

.product-option .my-option p {
    position: relative;
    float: left;
    width: auto;
    color: #999;
    font-size: 12px;
    margin: 0 3px;
}

.product-wrap .ea {
    position: relative;
    float: left;
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.product-wrap .price {
    position: relative;
    float: left;
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}



/* customer-info*/
.customer-info {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 80px;
}

.customer-info .customer-title {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.customer {
    position: relative;
    float: left;
    width: 100%;
    border-top: 2px solid #292929;
}

.customer .customer-wrap {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.customer-wrap p {
    position: relative;
    float: left;
    width: 150px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    top: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.customer-wrap input {
    position: relative;
    float: left;
    border: 1px solid #d8d8d8;
    background: #eee;
    width: 20%;
    height: 25px;
    padding-left: 10px;
    outline: none;
}

.customer-wrap .selection {
    position: relative;
    float: left;
    width: 80px;
    height: 29px;
    border: 1px solid #d8d8d8;
    background: #eee;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    outline: none;
    padding-left: 10px;
    color: #777;
}

.email-wrap .at {
    width: auto;
    margin-right: 10px;
}

.email-wrap .email-dot {
    width: 100px;
    margin-right: 10px;
}

.email-wrap .selection {
    width: 80px;
}


.address-wrap .address-button {
    width: auto;
    background: #292929;
    color: #fff;
    padding: 0 15px;
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.address-wrap .other-address {
    width: 50%;
    margin-left: 160px;
    margin-top: 10px;
}

/* //customer-info*/




/* delivery-info */
.delivery-info .delivery-check {
    width: 10px;
    margin-top: 4px;
}

.delivery-info .message-wrap input {
    height: 40px;
}

/* //delivery-info */



/* order-info */
.order-info {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 80px;
}

.order-info .order-title {
    position: relative;
    float: left;
    width: 100%;
    margin-left: 10px;
}

.order-way {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.order-way .type-of-payment[type=radio] {
    display: none;
}

#card:checked ~ .order-way-wrap label:nth-child(1),
#deposit:checked ~ .order-way-wrap label:nth-child(2),
#live:checked ~ .order-way-wrap label:nth-child(3),
#phone:checked ~ .order-way-wrap label:nth-child(4),
#easy:checked ~ .order-way-wrap label:nth-child(5) {
    color: #fff;
    background: #333;
    border: 1px solid #333;
}

.way-info-wrap > div {
    display: none;
}

#card:checked ~ .way-info-wrap div:nth-child(1),
#deposit:checked ~ .way-info-wrap div:nth-child(2),
#live:checked ~ .way-info-wrap div:nth-child(3),
#phone:checked ~ .way-info-wrap div:nth-child(4),
#easy:checked ~ .way-info-wrap div:nth-child(5) {
    display: block;
}

.order-way-wrap {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
}

.order-way-wrap label {
    cursor: pointer;
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    user-select: none;
    -webkit-user-select: none;
    margin: 0 5px;
    border: 1px solid #292929;
    transition-duration: .2s;
}

.order-way-wrap label:nth-child(1) {
    margin-left: 0;
}

.order-way-wrap label:nth-child(5) {
    margin-right: 0;
}



.way-info-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    background: #eee;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}



.title-wrap {
    position: relative;
    float: left;
    width: 140px;
    height: auto;
}

.way-info-wrap .title {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.way-info-wrap .line {
    position: absolute;
    float: left;
    width: auto;
    border-right: 2px solid #999;
    left: 100px;
}


.way-info .card {
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.card .title-wrap .line {
    height: 50px;
    top: 25px;
}

.card .card-selection-wrap {
    position: absolute;
    width: 50%;
    margin-left: 30px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.way-info-wrap .card .selection {
    position: relative;
    float: left;
    width: 300px;
    background: none;
    border: none;
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
    color: #a8a8a8;
    outline: none;
    cursor: pointer;
    margin: 0 40px;
}


.way-info-wrap .deposit {
    position: relative;
    float: left;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.way-info-wrap .deposit .line {
    height: 90px;
    top: 30px;
}

.way-info-wrap .deposit .title {
    height: 150px;
}

.deposit .deposit-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 95px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 0 40px;
}

.deposit-name-account {
    position: relative;
    float: left;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
}

.deposit-name-account .deposit-name {
    position: relative;
    float: left;
}

.deposit-name .name-title {
    position: relative;
    float: left;
    width: auto;
    margin-right: 15px;
    margin-top: 4px;
}

.deposit-name .name-input {
    position: relative;
    float: left;
    width: 70px;
    background: #ddd;
    border: none;
    height: 25px;
    outline: none;
    padding-left: 10px;
}

.deposit-account {
    position: relative;
    float: right;
}

.deposit-account .account-title {
    color: #fff;
    background: #333;
    padding: 5px 10px 7px 10px;
    font-size: 12px;
}

.deposit-account .account-number {
    position: relative;
    float: left;
    margin-left: 20px;
    color: #777;
    margin-top: 5px;
    font-size: 12px;
}


.deposit .account-caution {
    position: absolute;
    float: left;
    bottom: 50px;
    left: 151px;
    font-size: 12px;
    color: #888;
}

.deposit .account-caution2 {
    position: absolute;
    float: left;
    bottom: 30px;
    left: 151px;
    font-size: 12px;
    color: #888;
}





.way-info-wrap .live {
    height: 100px;
}

.way-info-wrap .live .line {
    height: 40px;
}

.way-info-wrap .live .title {
    height: 100px;
}

.live-notice {
    position: relative;
    float: left;
    width: auto;
    margin-left: 50px;
    top: 50%;
    transform: translate(0, -50%);
    color: #888;
    font-size: 12px;
}

.way-info-wrap .phone {
    height: 100px;
}

.way-info-wrap .phone-notice-wrap {
    position: relative;
    float: left;
    width: 75%;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 50px;
}

.phone-notice-wrap .phone-notice {
    position: relative;
    float: left;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    color: #999;
}


.way-info-wrap .easy {
    height: 130px;
}

.easy .title {
    height: 130px;
}

.easy .line {
    height: 70px;
}

.easy-payment-wrap {
    position: relative;
    float: left;
    width: 72%;
    top: 25%;
    transform: translate(0, -50%);
    margin-left: 50px;

}

.easy-payment-wrap .easy-payment-type {
    position: relative;
    float: left;
}

.easy-payment-wrap .easy-payment-type label {
    cursor: pointer;
}

.easy-payment-wrap .easy-payment-type input {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    top: 5px;
}

.easy-payment-wrap .easy-payment-type img {
    position: relative;
    float: left;
    width: 50px;
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.easy-payment-wrap .easy-payment-type:nth-child(3) img {
    top: 2px;
}

.easy-payment-wrap .easy-payment-type:nth-child(5) img {
    top: 8px;
}

.easy-payment-wrap .easy-payment-type:nth-child(6) img {
    top: 4px;
}


.easy-notice-wrap {
    position: relative;
    float: left;
    width: 75%;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 50px;
}

.easy-notice-wrap .easy-notice {
    position: relative;
    float: left;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    color: #999;
}

/* //order-info */


/* //checkout-info */









/* checkout-price */
.checkout-price {
    position: relative;
    width: 400px;
    margin-left: 50px;
    padding-right: 10px;
}

.checkout-price .checkout-price-title {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 73px;
}

.checkout-price .checkout-price-box {
    position: relative;
    float: left;
    width: 85%;
    height: 180px;
    border: 1px solid #292929;
    border-top: 2px solid #292929;
    padding: 20px;
}

.checkout-price .product-price-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.checkout-price .product-price-wrap p {
    position: relative;
    float: left;
    width: auto;
    font-size: 12px;
}

.checkout-price .product-price-wrap .price {
    float: right;
}

.checkout-price .delivery {
    margin-top: 30px;
    opacity: 1;

}

.checkout-price .delivery2 p {
    opacity: .5;
    font-size: 11px;
}

.checkout-price .delivery2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.checkout-price .last-checkout {
    margin-top: 20px;
    margin-bottom: 0;
}

.checkout-price .last-checkout p {
    font-size: 14px;
}

.checkout-price .last-checkout .price {
    color: #3D82B8;
}




.checkout-price .submit-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.checkout-price .submit {
    position: relative;
    width: auto;
    font-size: 12px;
    color: #777;
}

.checkout-price .submit-check {
    position: relative;
    margin-top: 1px;
}

.submit-txt {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 10px;
    height: 80px;
    background: #eee;
    overflow-y: scroll;
}

.submit-txt-wrap {
    position: relative;
    float: left;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 20px;
}

.submit-txt-wrap p {
    position: relative;
    float: left;
    color: #999;
    line-height: 1.5;
}

.submit-txt-wrap .title {
    color: #292929;
    margin-bottom: 10px;
}

.submit-wrap2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.submit-wrap3 {
    position: relative;
    float: right;
    width: 75px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.order-button {
    position: relative;
    float: left;
    width: 100%;
    background: #292929;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

/* //checkout-price */




/* //payment */



















@media screen and (max-width:5000px) and (min-width:1030px) {
    .payment-wrap {
        display: flex;
        justify-content: space-between;
    }


    .order-way-wrap {
        display: flex;
        justify-content: space-between;
    }

    .easy-payment-wrap {
        display: flex;
        justify-content: space-between;
    }
}




@media screen and (max-width:1029px) and (min-width:300px) {

    .customer-wrap p {
        width: 80px;
    }

    .address-wrap .other-address {
        margin-left: 90px;

    }

    .message-wrap input {
        width: 50%;
        height: 90px;
    }






    .payment-wrap {
        width: 95%;
    }


    .product .product-img {
        width: 60px;
        height: 60px;

    }


    .order-way-wrap label {
        margin: 5px 0px;
        width: 99.5%;


    }

    .order-way-wrap {
        width: 100%;
        margin: 0 auto;
    }


    .product-wrap {
        height: 140px;
    }

    .product-option .my-option {
        position: relative;
        width: 150px;
        margin-top: 35px;
    }

    .product-wrap .ea {
        position: absolute;
        width: 20px;
        display: block;
        top: 20px;
        right: 0;
    }

    .product-wrap .price {
        position: absolute;
        width: 100px;
        height: 100%;
        display: block;
        top: 140px;
        right: -33px;
    }

    .email-wrap .selection {
        width: 114px;
        float: left;
    }






    /* checkout-price */
    .checkout-price {
        position: relative;
        width: 100%;
        margin-left: 0px;
        padding-right: 10px;
    }

    .checkout-price .checkout-price-box {
        width: 93%;
        left: 50%;
        transform: translate(-50%);
    }

    .checkout-info {
        position: relative;
        width: 100%;
        padding-left: 0px;
    }


    .order-button {
        position: fixed;
        height: 20px;
        bottom: 0;
        left: 0;

    }

    /* //checkout-price */









    .way-info-wrap .card-wrap .selection {
        position: relative;
        float: left;
        width: 300px;
        background: none;
        border: none;
        border-bottom: 1px solid #777;
        padding-bottom: 5px;
        color: #a8a8a8;
        outline: none;
        cursor: pointer;
        margin: 0 10px;
    }



    .easy-payment-wrap .easy-payment-type {
        position: relative;
        float: left;
        width: 33%;
    }




    /* deposit */
    .deposit-account .account-number {
        font-size: 12px;
        margin-top: 5px;
    }

    .deposit-name .name-input {
        width: 70px;
    }


    .deposit .deposit-wrap {
        width: 90%;
    }

    .deposit-name-account .deposit-name {
        position: relative;
        float: left;
        width: 100%;
    }

    .deposit-name-account .deposit-account {
        float: left;
    }

    .deposit-account .account-title {
        color: #292929;
        background: none;
        font-size: 14px;
        padding-left: 1px;
    }

    .deposit-account .account-number {
        position: relative;
        float: left;
        margin-left: 10px;
        color: #777;
        margin-top: 7px;
    }

    .deposit .notice-wrap p {
        font-size: 10px;
        margin-left: -10px;
    }

    /* //deposit */

}




@media screen and (max-width:550px) and (min-width:300px) {
    .way-info .title-wrap{
        display: none;
    }
    .way-info-wrap .way-info .card .title-wrap{
        display: none;
    }
    .deposit{
        height:180px;
    }
    .deposit .deposit-wrap{
        margin-top:-15px;
    }
    .deposit .deposit-wrap input{
       width:70%;
    }
    

    .deposit .title-wrap .title {
        height: 200px;
    }

    .deposit .title-wrap .line {
        top: 55px;
    }


    .deposit-account .account-number {
        position: relative;
        float: left;
        margin-left: 2px;
        color: #777;
        margin-top: 7px;
        padding-bottom: 3px;
    }
    
    
    .deposit .notice-wrap{
        position: absolute;
        width:100%;
        bottom:-15px;
    }
    .deposit .notice-wrap p{
        left:0;
        width:100%;
        margin:0 auto;
        text-align: center;
    }
    
}
