@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}




@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light";
}
@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}
@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}
@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}
@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}





/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    position: relative;
    width: 100vw;
    min-width: 1400px;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    left:50%;
    transform: translate(-50%);
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #2f2f2f;
}




.txt-eng-light{
    font-family: "Urbanist-Light";
}
.txt-eng {
    font-family: "Urbanist-Medium";
}
.txt-eng-semibold{
    font-family: "Urbanist-SemiBold";
}
.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor-light{
     font-family: "Pretendard-Thin";
}
.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}











/* main-slider */
#main-slider {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 0;
    overflow: hidden;
    margin-bottom: 0;
}

.main-slider-wrap {
    position: relative;
    float: left;
    width: 100%;
    height:100vh;
    overflow: hidden;
}

.slide {
    position: relative;
    float: left;
    width: 100%;
    min-width: 1400px!important;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.slide-go-to-product{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}

.slide .main-img {
    position:relative;
    width: 100%;
    min-width: 1700px;
    height: 100%;
    top:0;
    left:50%;
    transform: translate(-50%);
}

.slide .text-wrap {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 24%;
}

.text-wrap .slide-title-eng {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.text-kor-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text-kor-wrap p:nth-child(1) {
    position: relative;
    float: left;
    width: auto;
    font-size: 22px;
    color: #5d5d5d;
    margin-right: 10px;
}

.text-kor-wrap p:nth-child(2) {
    position: relative;
    float: left;
    width: auto;
    font-size: 22px;
    color: #2f2f2f;
}

.slide .text-wrap2 {
    position: absolute;
    float:left;
    width: 100%;
    max-width: 1360px;
    max-height: 100vh;
    top:50%;
    z-index: 2;
    left:50%;
    transform: translate(-50%,-50%);
}


.slide .text-wrap2 .slide-title {
    text-align: right;
    font-size: 50px;
    line-height: 1.3;
    margin-right: 40px;
}

.slide .text-wrap2 .view-button {
    position: relative;
    float: right;
    border: 1px solid #292929;
    margin-top: 10px;
    width: 220px;
    height: 50px;
    margin-right: 40px;
}

.slide .text-wrap2 .view-button a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slide .text-wrap2 .view-button p {
    position: relative;
    float: left;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
}

.slide .text-wrap2 .view-button .view-next {
    position: relative;
    float: right;
    width: 20px;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 10px;
}

/* //main-slider */





/* chair-and-bespoke */
.chair{
    position: relative;
    float:left;
    width:70%;
    height: auto;
    /*padding-left:10px;*/
    padding-top:10px;
    box-sizing: border-box;
    overflow: hidden;
}
.chair-wrap{
    position: relative;
    float:left;
    width:100%;
    height: 440px;
    overflow: hidden;
}
.chair-wrap a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.chair-wrap a:hover ~ .chair-button{
    opacity: .82;
}
.main-chair{
    position: absolute;
    width: 700px;
    top:50%;
    left:50%;
    transform: translate(-50%,-45%);
    overflow: hidden;
}
.chair-button{
    position: absolute;
    z-index: 2;
    width:100%;
    height:100%;
    background: #FFC858;
    opacity: .82;
    transition-duration: .3s;
    opacity: 0;
}
.chair-button p{
    position: relative;
    float:left;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    
}





.bespoke{
    position: relative;
    float:left;
    width:30%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-left:10px;
    padding-top:10px;
}
.bespoke-wrap{
    position: relative;
    float:left;
    width:100%;
    height: 440px;
    overflow: hidden;
}
.bespoke-wrap a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}

.bespoke-wrap p{
    position: absolute;
    float:left;
    width:100%;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    transition-duration: .2s;
}
.bespoke-wrap .bespoke-title2{
    opacity: 0;
}
.bespoke-wrap a:hover ~ .bespoke-title2{
    opacity: 1;
}
.bespoke-wrap a:hover ~ .bespoke-title1{
    opacity: 0;
}
.bespoke-wrap img{
    position: absolute;
    width:100%;
    top:70%;
    left:50%;
    transform: translate(-50%);
}
/* //chair-and-bespoke */










/* plan-and-table */


/* plan-wrap */

.plan-a {
    position: relative;
    float: left;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding-top:10px;
    /*padding-left:10px;*/
    padding-right: 5px;
}
.plan-a-wrap{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom:100%;
    background: #1d1d1d;
    box-sizing: border-box;
}

.plan-title {
    position: absolute;
    width: 100%;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400px;
    text-align: center;
    color: #fff;
    transition-duration: .2s;
}

.plan-number {
    position: absolute;
    float: left;
    right: 20px;
    top: 30px;
    color: #C0C0C0;
}

.plan-name {
    position: absolute;
    color: #fff;
    right: -22px;
    top: 60px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
}
.plan-a-on{
    position: absolute;
    width:100%;
    height: 100%;
    background: #1d1d1d;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    opacity: 0;
}
.plan-a-on-wrap{
    position: relative;
    float:left;
    width:100%;
    
}
.plan-a-on-wrap .plan-a-on-title{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.plan-a-on-wrap .txt-kor{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
    font-size: 11px;
    margin-bottom: 3px;
    text-align: center;
    opacity: .7;
}
.plan-a-on-button{
    position: absolute;
    bottom:30px;
    right:40px;
}
.plan-a-on-button p{
    position: relative;
    float:left;
    width: auto;
    color:#fff;
    font-size: 12px;
    margin-right:10px;
}
.plan-a-on-button .next{
    position: relative;
    float:left;
    width:25px;
    filter:invert();
    margin-top:-5px;
}


.plan-a a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.plan-a a:hover ~ .plan-a-wrap .plan-a-on{
    opacity: 1;
}
/* //plan-a */






/* plan-b */

.plan-b {
    position: relative;
    float: left;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding-top:10px;
    /*padding-left:10px;*/
    padding-right:5px;
}
.plan-b-wrap{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom:100%;
    background: #E9E9E9;
    box-sizing: border-box;
    overflow: hidden;
}

.plan-b .plan-title {
    color: #000;
    top: 50%;
    transition-duration: .2s;
}

.plan-b .plan-number {
    font-size: 12px;
    top: 36px;
    color: #676767;
    opacity: .6;
}

.plan-b .plan-name {
    color: #676767;
}

.plan-b-on{
    position: absolute;
    width:100%;
    height: 100%;
    background:#E9E9E9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    opacity: 0;
}
.plan-b-on-wrap{
    position: relative;
    float:left;
    width:100%;
    
}
.plan-b-on-wrap .plan-b-on-title{
    position: relative;
    float:left;
    width:100%;
    color:#2f2f2f;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.plan-b-on-wrap .txt-kor{
    position: relative;
    float:left;
    width:100%;
    color:#2f2f2f;
    font-size: 11px;
    margin-bottom: 3px;
    text-align: center;
    opacity: .7;
}
.plan-b-on-button{
    position: absolute;
    bottom:30px;
    right:40px;
}
.plan-b-on-button p{
    position: relative;
    float:left;
    width: auto;
    color:#2f2f2f;
    font-size: 12px;
    margin-right:10px;
}
.plan-b-on-button .next{
    position: relative;
    float:left;
    width:25px;
    margin-top:-5px;
}


.plan-b a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.plan-b a:hover ~ .plan-b-wrap .plan-b-on{
    opacity: 1;
}
/* //plan-b */
/* //plan-wrap */










/* table-wrap */
.table{
    position: relative;
    float: right;
    width: 70%;
    height: auto;
    box-sizing: border-box;
    padding-left:5px;
    padding-top:10px;
    overflow: hidden;
}
.table-wrap{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom:86.1%;
    background: #ddd;
    overflow: hidden;
    box-sizing: border-box;
}

.table .table-img {
    position: absolute;
    float: left;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.table-wrap a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.table-wrap a:hover ~ .table-button{
    opacity: .82;
}
.main-table{
    position: absolute;
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-45%);
}
.table-button{
    position: absolute;
    z-index: 2;
    width:100%;
    height:100%;
    background: #FFC858;
    opacity: .82;
    transition-duration: .3s;
    opacity: 0;
}
.table-button p{
    position: relative;
    float:left;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    
}
/* //table-wrap */


.sofa{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    box-sizing: border-box;
    padding:10px 0;
}
.sofa-wrap{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 30%;
    overflow: hidden;
}
.main-sofa{
    position: absolute;
    float: left;
    width: 80%;
    left:-150px;
    top:50px;
}
.new-product{
    position: absolute;
    float:right;
    width:auto;
    height: 100px;
    bottom:20%;
    right:40px;
}


.new-product p{
    position: relative;
    float:left;
    width: auto;
    font-size: 20px;
}

 
.new-product img{
    position: absolute;
    float:right;
    width: 25px;
    top:50px;
    right: 0;
}
.new-product a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}

 

/* showroom */
#showroom {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 10px;
    overflow: hidden;
}

.showroom-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10px;

}

.showroom-kind {
    position: relative;
    float: left;
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    
}

.showroom-kind .showroom-title {
    position: absolute;
    float: left;
    width: 100%;
    font-size: 30px;
    text-align: left;
    top:0;
    left:200px;
    z-index: 2;
}


.showroom-kind .showroom-place[type=radio] {
    display: none;
}

#seongsu:checked ~ .showroom-button-wrap label:nth-child(1),
#pangyo:checked ~ .showroom-button-wrap label:nth-child(2),
#gimpo:checked ~ .showroom-button-wrap label:nth-child(3),
#sejong:checked ~ .showroom-button-wrap label:nth-child(4),
#daegu:checked ~ .showroom-button-wrap label:nth-child(5),
#busan:checked ~ .showroom-button-wrap label:nth-child(6) {
    background: #333;
    border:1px solid #333;
    width: 100%;
    max-width: 550px;
    min-width: 430px;
}

#seongsu:checked ~ .showroom-button-wrap label:nth-child(1) p,
#pangyo:checked ~ .showroom-button-wrap label:nth-child(2) p,
#gimpo:checked ~ .showroom-button-wrap label:nth-child(3) p,
#sejong:checked ~ .showroom-button-wrap label:nth-child(4) p,
#daegu:checked ~ .showroom-button-wrap label:nth-child(5) p,
#busan:checked ~ .showroom-button-wrap label:nth-child(6) p {
    color: #fff;
    opacity: 1;
}


#seongsu:checked ~ .showroom-button-wrap label .showroom-contact-wrap1,
#pangyo:checked ~ .showroom-button-wrap label .showroom-contact-wrap2,
#gimpo:checked ~ .showroom-button-wrap label .showroom-contact-wrap3,
#sejong:checked ~ .showroom-button-wrap label .showroom-contact-wrap4,
#daegu:checked ~ .showroom-button-wrap label .showroom-contact-wrap5,
#busan:checked ~ .showroom-button-wrap label .showroom-contact-wrap6 {
    display: flex;
}



/* showroom-button-wrap */
.showroom-button-wrap {
    position: relative;
    float: left;
    width: 500px;
    margin-right: 40px;
    margin-top:150px;
    box-sizing: border-box;
}

.showroom-button-wrap label {
    position: relative;
    float: left;
    width: 80%;
    min-width: 400px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    transition-duration: .2s;
    cursor: pointer;
     box-sizing: border-box;
    border-bottom: 0;

}
.showroom-button-wrap label:nth-child(6){
    border-bottom: 1px solid #ebebeb;
}

.showroom-button-wrap label .showroom-name {
    position: relative;
    float: left;
    width: auto;
    padding: 30px 0;
}

.showroom-button-wrap label .showroom-name-eng {
    margin-right: 40px;
    margin-left: 200px;
    font-size: 16px;
    color:#676767;
    opacity: .7;
    transition-duration: .2s;
}

.showroom-button-wrap label .showroom-name-kor {
    font-size: 14px;
    color: #2f2f2f;
    opacity: .5;
}


/* showroom-contact-wrap */
.showroom-contact-wrap{
    position: absolute;
    right:15px;
    width:10px;
    display: flex;
    justify-content: space-between;
    top:50%;
    transform: translate(0,-50%);
    display: none;
    text-align: right;
}
.showroom-contact-wrap img{
    position: relative;
    float:left;
    width:14px;
    filter: brightness(3.5);
}

/* //showroom-contact-wrap */
/* //showroom-button-wrap */




/* showroom-img-wrap */
#seongsu:checked ~ .showroom-info-wrap .seongsu-info,
#pangyo:checked ~ .showroom-info-wrap .pangyo-info,
#gimpo:checked ~ .showroom-info-wrap .gimpo-info,
#sejong:checked ~ .showroom-info-wrap .sejong-info,
#daegu:checked ~ .showroom-info-wrap .daegu-info,
#busan:checked ~ .showroom-info-wrap .busan-info {
    display: block;
}


.showroom-info-wrap {
    position: relative;
    float: left;
    width: 100%;
    
    /*background: #ddd;*/
    margin-top:150px;
}
.showroom-info-wrap .showroom-info{
    position: relative;
    display: none;
    width:100%;
    box-sizing: border-box;
    padding:20px;
}
.showroom-info-wrap .showroom-place{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
}
.showroom-info-wrap .showroom-place-kor{
    position: relative;
    float:left;
    width: auto;
    margin-top:10px;
    font-size: 12px;
    opacity: .6;
}
.showroom-info-small-img-wrap{
    position: relative;
    float:right;
    width:210px;
    height:165px;
    background: #ddd;
}





.showroom-info-wrap .call-btn{
    position: relative;
    float:right;
    width: auto;
    display: block;
    right:100px;
    font-size: 12px;
    border:1px solid #202020;
    padding:7px 17px;
    border-radius: 40px;
    background: #fff;
    top:3px;
    transition-duration: .3s;
}
.showroom-info-wrap .call-img{
    position: relative;
    float:left;
    width:10px;
    margin-right:5px;
    margin-top:1.5px;
     transition-duration: .3s;
}
.showroom-info-wrap .number{
    position: relative;
    float:left;
    width:auto;
     transition-duration: .3s;
}
.call-btn:hover{
    background: #2f2f2f;
}
.call-btn:hover .number{
     color:#fff;
}
.call-btn:hover .call-img{
     filter:invert();
}





.showroom-notice{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
}
.showroom-notice .notice-txt{
    position: relative;
    float:left;
    width:100%;
    font-size: 12px;
    margin-bottom: 5px;
}



.showroom-place-button a, .showroom-instagram-button a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.showroom-instagram-button{
    position: absolute;
    float:left;
    right:0;
    font-size: 12px;
    border:1px solid #202020;
    padding:7px 17px;
    border-radius: 40px;
    margin-top:2px;
    background: #fff;
    transition-duration: .3s;
}
.showroom-instagram-button:hover{
    background: #2f2f2f;
    color:#fff;
}

/* address-wrap */
.address-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    padding:20px 10px;
    border-top:1px solid #2f2f2f;
    border-bottom:1px solid #2f2f2f;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.address-wrap p{
    position: relative;
    float:left;
    font-size: 12px;
}
.address-wrap .address-title{
    width:33.3%;
}
.address-wrap .address-box{
    position: relative;
    width:33.3%;
}
.address{
    position: relative;
    float:left;
    width:100%;
}

.showroom-place-button{
    position: relative;
    float:left;
    width:43px;
    font-size: 12px;
    border:1px solid #202020;
    padding:7px 15px;
    border-radius: 40px;
    color:#fff;
    background: #202020;
    margin-top:5px;
}

.place-near{
    position: relative;
    float:left;
    width:33.3%;
}
.place-near p{
    position: relative;
    float:left;
    width:auto;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 5px;
}
.place-near1{
    position: relative;
    float:left;
    width:100%;
}
.place-near2{
    position: relative;
    float:left;
    width:100%;
}
/* //address-wrap */





/* time-wrap */
.time-wrap{
    position: relative;
    float:left;
    width:100%;
    padding:20px 10px;
    border-bottom: 1px solid #2f2f2f;
}
.time-wrap p{
    position: relative;
    float:left;
    font-size: 12px;
}
.time-wrap .time-title{
    position: relative;
    float:left;
    width:33.3%;
}

.time{
    position: relative;
    float:left;
    width:33.3%;
}
.time1{
    position: relative;
    float:left;
    width: 100%;
}
.time2{
    position: relative;
    float:left;
    width:100%;
}
.time p{
    position: relative;
    float:left;
    margin-right: 5px;
}
.time-wrap .mon-off{
    position: relative;
    float:left;
    width:33.3%;
    text-align: left;
}
/* //time-wrap */



/* //showroom-img-wrap */
/* //showroom */















#mobile-whole{
    display: none;
}









/* mobile */
#mobile-whole{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    box-sizing: border-box; 
}




/* mob-bespoke */
.mob-bespoke{
    position: relative;
    float:left;
    width:100%;
    height: 140px;

}
.mob-bespoke a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.mob-bespoke .mob-bespoke-title{
    position: absolute;
    float:left;
    width:100%;
    text-align: center;
    font-size: 16px;
    top:50%;
    transform: translate(0,-50%);
}
.mob-bespoke .mob-bespoke-title1{
    animation-name: bespokeHide;
    animation-delay: 3s;
    animation-duration:2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.mob-bespoke .mob-bespoke-title2{
    opacity: 0;
    animation-name: bespokeShow;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bespokeShow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes bespokeHide{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
/* //mob-bespoke */




/* mob-plan-a */
.mob-plan-a{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    background: #2f2f2f;
    overflow: hidden;
}
.mob-plan-a a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.mob-plan-a-wrap{
    position: absolute;
    float:left;
    width:100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding:30px;
}

.mob-plan-title{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
}

.mob-plan-arrow{
    position: absolute;
    width:30px;
    filter:invert();
    top:50%;
    transform: translate(0,-50%);
    right:30px;
}
.mob-plan-txt{
    position: absolute;
    color:#fff;
    right:0;
    bottom:50px;
    text-align: right;
    line-height: 1.8;
    right:30px;
    
}
/* //mob-plan-a */



/* mob-chair */
.mob-chair{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    overflow: hidden;
}
.mob-chair img{
    position: absolute;
    width:160%;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}

.mob-chair-title{
    position: absolute;
    z-index: 2;
    top:30px;
    left:30px;
}
.mob-chair a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
/* //mob-chair */



/* mob-plan-b */
.mob-plan-b{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    background: #e9e9e9;
    overflow: hidden;
}
.mob-plan-b a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.mob-plan-b-wrap{
    position: absolute;
    float:left;
    width:100%;
    height: 100%;
    box-sizing: border-box;
    padding:30px;
    overflow: hidden;
}
.mob-plan-b-wrap .mob-plan-title{
    color:#2f2f2f;
}
.mob-plan-b-wrap .mob-plan-arrow{
  filter: none;   
}
.mob-plan-b-wrap .mob-plan-txt{
    color:#2f2f2f;
}

/* //mob-plan-a */



/* mob-table */
.mob-table{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    overflow: hidden;
}
.mob-table img{
    position: absolute;
    float:left;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mob-table-title{
    position: absolute;
    z-index: 2;
    top:30px;
    left:30px;
}
.mob-table a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
/* //mob-table */



/* mob-sofa */
.mob-sofa{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 30%;
    overflow: hidden;
}
.mob-sofa a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.mob-sofa .mob-sofa-main{
    position: absolute;
    float:left;
    width:80%;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mob-sofa-bg{
    position: absolute;
    width:100%;
    height: 100%;
    background: #0c0c0c;
    z-index: 2;
    opacity: .66; 
}
.mob-sofa-button-wrap{
    position: absolute;
    float: left;
    width:100%;
    height: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.mob-sofa .mob-sofa-title{
    position: relative;
    color:#fff;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
}
.mob-sofa a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}


.mob-sofa-button-wrap .mob-new-arrow{
    position: relative;
    filter: invert();
    z-index: 2;
    width: 26px;
    height: 26px;
}
/* //mob-sofa */


/* mob-showroom */
.mob-showroom{
    position: relative;
    float: left;
    width:100%;
    height: auto;
    margin-top:10px;
}
.mob-showroom-title{
    position: relative;
    float:left;
    width: 100%;
    margin-left:20px;
    margin-bottom:30px;
    margin-top:50px;
    font-size: 20px;
}
.mob-showroom input[type="radio"]{
    display: none;
}

.mob-showroom-button-wrap{
    position: relative;
    float:left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mob-showroom-button-wrap label{
    position: relative;
    float:left;
    width: 100%;
    border:1px solid #ebebeb;
    border-right:none;
    height: 70px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: .2s;
}
.mob-showroom-button-wrap label:nth-last-child(1){
    border-right:1px solid #ebebeb;
}
.mob-showroom-button-wrap label p{
    position: relative;
    float:left;
    width: 100%;
    text-align: center;
    color:#d0d0d0;
}
#mob-seongsu:checked ~ .mob-showroom-button-wrap label:nth-child(1),
#mob-pangyo:checked ~ .mob-showroom-button-wrap label:nth-child(2),
#mob-gimpo:checked ~ .mob-showroom-button-wrap label:nth-child(3),
#mob-sejong:checked ~ .mob-showroom-button-wrap label:nth-child(4),
#mob-daegu:checked ~ .mob-showroom-button-wrap label:nth-child(5),
#mob-busan:checked ~ .mob-showroom-button-wrap label:nth-child(6){
    background: #4f4f4f;
    border:1px solid #4f4f4f;
}

#mob-seongsu:checked ~ .mob-showroom-button-wrap label:nth-child(1) p,
#mob-pangyo:checked ~ .mob-showroom-button-wrap label:nth-child(2) p,
#mob-gimpo:checked ~ .mob-showroom-button-wrap label:nth-child(3) p,
#mob-sejong:checked ~ .mob-showroom-button-wrap label:nth-child(4) p,
#mob-daegu:checked ~ .mob-showroom-button-wrap label:nth-child(5) p,
#mob-busan:checked ~ .mob-showroom-button-wrap label:nth-child(6) p{
    color:#fff;
    
}






/* mob-showroom-info-wrap*/
#mob-seongsu:checked ~ .mob-showroom-info-wrap div:nth-child(1),
#mob-pangyo:checked ~ .mob-showroom-info-wrap div:nth-child(2),
#mob-gimpo:checked ~ .mob-showroom-info-wrap div:nth-child(3),
#mob-sejong:checked ~ .mob-showroom-info-wrap div:nth-child(4),
#mob-daegu:checked ~ .mob-showroom-info-wrap div:nth-child(5),
#mob-busan:checked ~ .mob-showroom-info-wrap div:nth-child(6){
    display: block;
}
.mob-showroom-info-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    box-sizing: border-box;
    padding:20px 15px;
    margin-bottom: 15px;
}
.mob-showroom-info-wrap .mob-showroom-info-box{
    position: relative;
    float:left;
    width:100%;
    display: none;
}
.mob-showroom-info-wrap .mob-showroom-info-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
}
.mob-showroom-call-button{
    position: absolute;
    width:15px;
    right:0;
    top:-7px;
    border:1px solid #2f2f2f;
    border-radius: 40px;
    padding:8px;
}
.mob-showroom-address{
    position: relative;
    float:left;
    width: 100%;
    margin-top: 50px;
    font-size: 13px;
}
.mob-showroom-near-info{
    position: relative;
    float:left;
    width:100%;
    font-size: 12px;
    margin-top:10px;
    color:#a0a0a0;
}

.mob-showroom-time{
    position: relative;
    float:left;
    width:100%;
}
.mob-showroom-time1{
    margin-top:15px;
}
.mob-showroom-time p{
    position: relative;
    float:left;
    width:auto;
    margin-right: 7px;
}
.mob-showroom-time p:nth-child(2){
    font-size: 12px;
    margin-top:2px;
    color:#a0a0a0;
}
.mob-showroom-time p:nth-child(3){
    font-size: 12px;
    margin-top:2px;
}

.mob-showroom-show-place{
    position: relative;
    float:left;
    border:1px solid #2f2f2f;
    padding: 5px 13px 6px 13px;
    border-radius: 40px;
    background: #292929;
    color:#fff;
    margin-top:20px;
    font-size: 12px;
}

.mob-showroom-instagram{
    position: relative;
    float:left;
    border:1px solid #2f2f2f;
    padding: 5px 13px 6px 13px;
    border-radius: 40px;
    margin-top:20px;
    font-size: 12px;
    margin-left:5px;
}
/* //mob-showroom-info-wrap*/
/* //mob-showroom */





/* pltl */
#pltl {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    overflow: hidden;
}

.pltl-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10px;
    overflow: hidden;
}
.pltl-bg{
    position: relative;
    float:left;
    width:100%;
}

.pltl-bg:nth-child(2){
    display: none;
}

.pltl-text-wrap {
    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-50%,-50%);
    
}


.pltl-text-wrap p {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
}

.pltl-wrap .pltl-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #292929;
    transition-duration: .2s;
    margin-top:50px;
}

.pltl-wrap .pltl-button:hover {
    background: #292929;
    color: #fff;
}


.mob-pltl-button{
    display: none;
}

/* //pltl */




/* //mobile */














