\@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.ttf");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff2");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}



@font-face {
    src: url("../fonts/Pretendard-Thin.ttf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.woff");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.woff2");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}





@font-face {
    src: url("../fonts/Pretendard-Regular.ttf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff2");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}



@font-face {
    src: url("../fonts/Pretendard-Medium.ttf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff2");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}




@font-face {
    src: url("../fonts/Pretendard-SemiBold.ttf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff2");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}



@font-face {
    src: url("../fonts/Pretendard-ExtraBold.ttf");
    font-family: "Pretendard-ExtraBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.woff");
    font-family: "Pretendard-ExtraBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.woff2");
    font-family: "Pretendard-ExtraBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff2");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.otf");
    font-family: "Urbanist-Medium";
}



@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.woff");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.woff2");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.otf");
    font-family: "Urbanist-SemiBold";
}





@font-face {
    src: url("../fonts/Urbanist-Bold.ttf");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff2");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.otf");
    font-family: "Urbanist-Bold";
}




@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff2");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.otf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Urbanist-ExtraBold";
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}





/* main-slider */
#main-slider{
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    left:50%;
    transform: translate(-50%);
    margin-bottom:10px;
}
.main-slider-wrap {
    position: relative;
    float:left;
    width:98%;
    height:100vh;
    overflow: hidden;
}
.slide{
    position: relative;
    float:left;
    width:100%;
    overflow: hidden;
}
.slide .main-img{
    position: relative;
    width:100%;
    min-width: 1920px;
    margin-top:-100px;
    left:50%;
    transform: translate(-50%);
}
.slide:nth-child(3) .main-img{
    margin-top:-300px;
}

.slide .text-wrap{
    position: absolute;
    z-index: 2;
    width:100%;
    top:370px;
    display: flex;
    justify-content: center;
}
.slide .text-wrap .slide-title:nth-child(1){
    position: relative;
    float:left;
    width:75px;
    font-size: 22px;
    font-family: "Pretendard-Medium";
    color:#5d5d5d;
}
.slide .text-wrap .slide-title:nth-child(2){
    position: relative;
    float:left;
    width:auto;
    font-size: 22px;
    font-family: "Pretendard-Bold";
    color:#2f2f2f;
}

.slide .slide-title-eng{
    position: absolute;
    top:280px;
    width:100%;
    text-align: center;
    font-family: "Pretendard-ExtraBold";
    font-size: 50px;
}

.slide .text-wrap2{
    position: absolute;
    z-index: 2;
    width:100%;
    top:370px;
    max-width: 1360px;
    left:50%;
    transform: translate(-50%);
}
.slide .text-wrap2 .slide-title{
    text-align: right;
    font-size: 50px;
    font-family: "Pretendard-ExtraBold";
    line-height: 1.3;
}
.slide .text-wrap2 .view-button{
    position: relative;
    float:right;
    border:1px solid #292929;
    margin-top:10px;
    width:220px;
    height:50px;
}
.slide .text-wrap2 .view-button a{
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    z-index: 2;
}
.slide .text-wrap2 .view-button p{
    position: relative;
    float:left;
    top:50%;
    transform: translate(0,-50%);
    margin-left:10px;
}
.slide .text-wrap2 .view-button .view-next{
    position: relative;
    float:right;
    width:20px;
    top:50%;
    transform: translate(0,-50%);
    margin-right:10px;
}

/* //main-slider */










/* new-product */
#new-product{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top:-15px;
    left:50%;
    transform: translate(-50%);
}
.new-product-wrap{
    position: relative;
    float:left;
    width:98%;
    height:500px;
    overflow: hidden;
}

.new-product-wrap .new-product-title{
    position: absolute;
    float:right;
    width:auto;
    margin-top:20px;
    margin-right:20px;
    z-index: 2;
    right:0;
    display: flex;
    justify-content: space-between;
    
}
.new-product-wrap .new-product-title p{
    position: relative;
    float:left;
    width:auto;
    margin-right:20px;
    margin-top:5px;
    font-size: 26px;
    font-family: "Urbanist-Bold";
    z-index: 2;
    right:0;
} 
.new-product-wrap .next-button{
    position: relative;
    float:left;
    width:40px;
}
.new-product-wrap .new-product-img{
    position: relative;
    float: left;
    width:100%;
    min-width: 1970px;
    left:50%;
    transform: translate(-50%);
    margin-top:-200px;
}

/* //new-product */





/* main-product */
#main-product{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    left:50%;
    transform: translate(-50%);
}

.main-product-wrap{
    position: relative;
    float:left;
    width:98%;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}

.chair-wrap{
    position: relative;
    float:left;
    width:60%;
    height:500px;
    margin-right:10px;
    overflow: hidden;
}
.chair-wrap img{
    position: relative;
    float:left;
    width: 750px;
    margin-top:-150px;
    left:50%;
    transform: translate(-50%);
}
.chair-wrap .chair-button{
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    z-index: 2;
}
.chair-wrap .chair-button-on{
    position: absolute;
    float:left;
    width:100%;
    height:100%;
    background: #FFC858;
    opacity: 0;
    transition-duration: .2s;
}
.chair-wrap .chair-button:hover .chair-button-on{
    opacity: .65;
}
.chair-wrap .chair-button p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    opacity: 0;
    transition-duration: .2s;
}
.chair-wrap .chair-button:hover p{
    opacity: 1;
}



/* bespoke-wrap */
.bespoke-wrap{
    position: relative;
    float:left;
    width:40%;
    height:500px;
    overflow: hidden;
    background: #ebebeb;
}
.bespoke-shape{
    position: absolute;
    bottom:-60px;
    left:0;
    width:100%;
    height:150px;
    background: #FFC858;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}
.bespoke-title{
    position: absolute;
    width:100%;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.bespoke-bg{
    position: absolute;
    width:100%;
    bottom:0;
    z-index: 1;
}

/* //bespoke-wrap */
/* //main-product */





/* plan-and-table */
#plan-and-table{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    left:50%;
    transform: translate(-50%);
    margin-bottom: 500px;
}

.plan-and-table-wrap{
    position: relative;
    float:left;
    width:98%;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}

/* plan-wrap */
.plan-wrap{
    position: relative;
    float:left;
    width:40%;
    margin-right:10px;
}

.plan-a{
    position: relative;
    float:left;
    width: 100%;
    height:467px;
    background: #000;
    margin-bottom:10px;
}

.plan-title{
    position: absolute;
    width:100%;
    top:42%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 400px;
    text-align: center;
    color:#fff;
}
.plan-number{
    position: absolute;
    float:left;
    right:20px;
    top:30px;
    color: #C0C0C0;
}

.plan-name{
    position: absolute;
    color:#fff;
    right:-22px;
    top:60px;
    -webkit-transform:rotate(90deg);
    -webkit-transform-origin:left top;
    -moz-transform:rotate(90deg);
    -moz-transform-origin:left top;
    -ms-transform:rotate(90deg);
    -ms-transform-origin:left top;
    -o-transform:rotate(90deg);
    -o-transform-origin:left top;
}






.plan-b{
    position: relative;
    float:left;
    width: 100%;
    height:467px;
    background: #E9E9E9;
}
.plan-b .plan-title{
    color:#000;
    top:50%;
    font-family: "Pretendard-Thin";
}
.plan-b .plan-number{
    font-size: 12px;
    top:36px;
    color:#676767;
    opacity: .6;
}
.plan-b .plan-name{
    color:#676767;
}
/* //plan-wrap */





/* table-wrap */
.table-wrap{
    position: relative;
    float:left;
    width:60%;
    height:100vh;
    overflow: hidden;
}
.table-wrap .table-img{
    position: relative;
    float:left;
    width:1700px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.table-wrap .table-button{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
} 


.table-wrap .table-button-on{
    position: absolute;
    float:left;
    width:100%;
    height:100%;
    background: #FFC858;
    opacity: 0;
    transition-duration: .2s;
}
.table-wrap .table-button:hover .table-button-on{
    opacity: .65;
}
.table-wrap .table-button p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    opacity: 0;
    transition-duration: .2s;
}
.table-wrap .table-button:hover p{
    opacity: 1;
}

/* //table-wrap */




/* //plan-and-table */





/* pltl */
#pltl{
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    left:50%;
    transform: translate(-50%);
    margin-bottom:0px;
}
.pltl-wrap{
    position: relative;
    float:left;
    width:100%;
    height:100%;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.pltl-bg{
    position: absolute;
    float:left;
    width:100%;
    min-width: 2100px;
    top:0;
    left:0;
}

.pltl-text-wrap{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.pltl-text-wrap p{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
}

#pltl .pltl-wrap .pltl-button{
   position: absolute;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top:20px;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    border: 1px solid #292929;
    font-family: "Pretendard-Regular";
    transition-duration: .2s;
}
#pltl .pltl-wrap .pltl-button:hover{
    background: #292929;
    color:#fff;
}
/* //pltl */





/* showroom */
#showroom{
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    left:50%;
    transform: translate(-50%);
    margin-bottom:0px;
}
.showroom-wrap{
    position: relative;
    float:left;
    width:100%;
    height:100%;
    margin-top:10px;
    display: flex;
    justify-content: space-between;
}


/* //showroom */



















 