\@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@font-face {
    src: url("../fonts/Pretendard-Thin.ttf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.woff");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.woff2");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}





@font-face {
    src: url("../fonts/Pretendard-Regular.ttf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff2");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}



@font-face {
    src: url("../fonts/Pretendard-Medium.ttf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff2");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}




@font-face {
    src: url("../fonts/Pretendard-SemiBold.ttf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff2");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}



@font-face {
    src: url("../fonts/Pretendard-ExtraBold.ttf");
    font-family: "Pretendard-ExtraBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.woff");
    font-family: "Pretendard-ExtraBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.woff2");
    font-family: "Pretendard-ExtraBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff2");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.otf");
    font-family: "Urbanist-Medium";
}



@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.woff");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.woff2");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.otf");
    font-family: "Urbanist-SemiBold";
}





@font-face {
    src: url("../fonts/Urbanist-Bold.ttf");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff2");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.otf");
    font-family: "Urbanist-Bold";
}




@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff2");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.otf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;
    font-family: "Urbanist-ExtraBold";
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}




.txt-eng {
    font-family: "Urbanist-Medium";
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold";
}

.txt-kor {
    font-family: "Pretendard-Medium";
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold";
}

#header{
    position: relative;
}



/* main-slider */
#main-slider {
    position: relative;
    float: left;
    width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    padding:10px;
    padding-bottom: 0;
}

.main-slider-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slide {
    position: relative;
    float: left;
    width: 100%;
    max-height: 100vh;
}

.slide .main-img {
    position:relative;
    width: 100%;
    /*margin-top: -100px;*/
    left: 50%;
    transform: translate(-50%);

}

.slide .text-wrap {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 24%;
}

.text-wrap .slide-title-eng {
    position: relative;
    width: 100%;
    text-align: center;
    font-family: "Pretendard-ExtraBold";
    font-size: 50px;
    margin-bottom: 20px;
}

.text-kor-wrap{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: center;
    
}
.text-kor-wrap p:nth-child(1) {
    position: relative;
    float: left;
    width: auto;
    font-size: 22px;
    font-family: "Pretendard-Medium";
    color: #5d5d5d;
    margin-right: 10px;
}

.text-kor-wrap p:nth-child(2) {
    position: relative;
    float: left;
    width: auto;
    font-size: 22px;
    font-family: "Pretendard-Bold";
    color: #2f2f2f;
}

.slide .text-wrap2 {
    position: absolute;
    float:left;
    width: 100%;
    max-width: 1360px;
    max-height: 100vh;
    top:50%;
    z-index: 2;
    left:50%;
    transform: translate(-50%,-50%);
}


.slide .text-wrap2 .slide-title {
    text-align: right;
    font-size: 50px;
    font-family: "Pretendard-ExtraBold";
    line-height: 1.3;
    margin-right: 40px;
}

.slide .text-wrap2 .view-button {
    position: relative;
    float: right;
    border: 1px solid #292929;
    margin-top: 10px;
    width: 220px;
    height: 50px;
    margin-right: 40px;
}

.slide .text-wrap2 .view-button a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.slide .text-wrap2 .view-button p {
    position: relative;
    float: left;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
}

.slide .text-wrap2 .view-button .view-next {
    position: relative;
    float: right;
    width: 20px;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 10px;
}

/* //main-slider */





/* chair-and-bespoke */
.chair{
    position: relative;
    float:left;
    width:70%;
    height: auto;
    padding-left:10px;
    padding-top:10px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top:10px;
}
.chair-wrap{
    position: relative;
    float:left;
    width:100%;
    height: 440px;
    overflow: hidden;
}
.chair-wrap a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.chair-wrap a:hover ~ .chair-button{
    opacity: .82;
}
.main-chair{
    position: absolute;
    width: 700px;
    top:50%;
    left:50%;
    transform: translate(-50%,-45%);
    overflow: hidden;
}
.chair-button{
    position: absolute;
    z-index: 2;
    width:100%;
    height:100%;
    background: #FFC858;
    opacity: .82;
    transition-duration: .3s;
    opacity: 0;
}
.chair-button p{
    position: relative;
    float:left;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    
}





.bespoke{
    position: relative;
    float:left;
    width:30%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    padding-left:10px;
    padding-top:10px;
    margin-top:10px;
}
.bespoke-wrap{
    position: relative;
    float:left;
    width:100%;
    height: 440px;
    overflow: hidden;
}
.bespoke-wrap p{
    position: absolute;
    float:left;
    width:100%;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 18px;
    
}
.bespoke-wrap img{
    position: absolute;
    width:100%;
    top:70%;
    left:50%;
    transform: translate(-50%);
}
/* //chair-and-bespoke */










/* plan-and-table */


/* plan-wrap */

.plan-a {
    position: relative;
    float: left;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding-top:10px;
    padding-left:10px;
}
.plan-a-wrap{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom:100%;
    background: #1d1d1d;
    box-sizing: border-box;
}

.plan-title {
    position: absolute;
    width: 100%;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400px;
    text-align: center;
    color: #fff;
    transition-duration: .2s;
}

.plan-number {
    position: absolute;
    float: left;
    right: 20px;
    top: 30px;
    color: #C0C0C0;
}

.plan-name {
    position: absolute;
    color: #fff;
    right: -22px;
    top: 60px;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
}
.plan-a-on{
    position: absolute;
    width:100%;
    height: 100%;
    background: #1d1d1d;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    opacity: 0;
}
.plan-a-on-wrap{
    position: relative;
    float:left;
    width:100%;
    
}
.plan-a-on-wrap .plan-a-on-title{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.plan-a-on-wrap .txt-kor{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
    font-size: 11px;
    margin-bottom: 3px;
    text-align: center;
    opacity: .7;
}
.plan-a-on-button{
    position: absolute;
    bottom:30px;
    right:40px;
}
.plan-a-on-button p{
    position: relative;
    float:left;
    width: auto;
    color:#fff;
    font-size: 12px;
    margin-right:10px;
}
.plan-a-on-button .next{
    position: relative;
    float:left;
    width:25px;
    filter:invert();
    margin-top:-5px;
}


.plan-a a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.plan-a a:hover ~ .plan-a-wrap .plan-a-on{
    opacity: 1;
}
/* //plan-a */






/* plan-b */

.plan-b {
    position: relative;
    float: left;
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding-top:10px;
    padding-left:10px;
}
.plan-b-wrap{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom:100%;
    background: #E9E9E9;
    box-sizing: border-box;
    overflow: hidden;
}

.plan-b .plan-title {
    color: #000;
    top: 50%;
    font-family: "Pretendard-Thin"!important;
    transition-duration: .2s;
}

.plan-b .plan-number {
    font-size: 12px;
    top: 36px;
    color: #676767;
    opacity: .6;
}

.plan-b .plan-name {
    color: #676767;
}

.plan-b-on{
    position: absolute;
    width:100%;
    height: 100%;
    background:#E9E9E9;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .2s;
    opacity: 0;
}
.plan-b-on-wrap{
    position: relative;
    float:left;
    width:100%;
    
}
.plan-b-on-wrap .plan-b-on-title{
    position: relative;
    float:left;
    width:100%;
    color:#2f2f2f;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.plan-b-on-wrap .txt-kor{
    position: relative;
    float:left;
    width:100%;
    color:#2f2f2f;
    font-size: 11px;
    margin-bottom: 3px;
    text-align: center;
    opacity: .7;
}
.plan-b-on-button{
    position: absolute;
    bottom:30px;
    right:40px;
}
.plan-b-on-button p{
    position: relative;
    float:left;
    width: auto;
    color:#2f2f2f;
    font-size: 12px;
    margin-right:10px;
}
.plan-b-on-button .next{
    position: relative;
    float:left;
    width:25px;
    margin-top:-5px;
}


.plan-b a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.plan-b a:hover ~ .plan-b-wrap .plan-b-on{
    opacity: 1;
}
/* //plan-b */
/* //plan-wrap */










/* table-wrap */
.table{
    position: relative;
    float: right;
    width: 70%;
    height: auto;
    box-sizing: border-box;
    padding-left:10px;
    padding-top:10px;
    overflow: hidden;
}
.table-wrap{
    position: relative;
    float: left;
    width: 100%;
    padding-bottom:85.6%;
    background: #ddd;
    overflow: hidden;
    box-sizing: border-box;
}

.table .table-img {
    position: absolute;
    float: left;
    width: 140%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


.table-wrap a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.table-wrap a:hover ~ .table-button{
    opacity: .82;
}
.main-table{
    position: absolute;
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-45%);
}
.table-button{
    position: absolute;
    z-index: 2;
    width:100%;
    height:100%;
    background: #FFC858;
    opacity: .82;
    transition-duration: .3s;
    opacity: 0;
}
.table-button p{
    position: relative;
    float:left;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    
}
/* //table-wrap */


.sofa{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    box-sizing: border-box;
    padding:10px;
}
.sofa-wrap{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 30%;
    overflow: hidden;
}
.main-sofa{
    position: absolute;
    float: left;
    width: 80%;
    left:-150px;
    top:50px;
}
.new-product{
    position: absolute;
    float:right;
    width:auto;
    height: 100px;
    bottom:20%;
    right:40px;
    
}
.new-product p{
    position: relative;
    float:left;
    width: auto;
    font-size: 20px;
}
.new-product img{
    position: absolute;
    float:right;
    width: 25px;
    top:50px;
    right: 0;
}
.new-product a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}

 

/* showroom */
#showroom {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 10px;
    overflow: hidden;
}

.showroom-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10px;

}

.showroom-kind {
    position: relative;
    float: left;
    width: 100%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    
}

.showroom-kind .showroom-title {
    position: absolute;
    float: left;
    width: 100%;
    font-size: 30px;
    font-family: "Urbanist-SemiBold";
    text-align: left;
    top:0;
    left:200px;
    z-index: 2;
}


.showroom-kind .showroom-place[type=radio] {
    display: none;
}

#seongsu:checked ~ .showroom-button-wrap label:nth-child(1),
#pangyo:checked ~ .showroom-button-wrap label:nth-child(2),
#gimpo:checked ~ .showroom-button-wrap label:nth-child(3),
#sejong:checked ~ .showroom-button-wrap label:nth-child(4),
#daegu:checked ~ .showroom-button-wrap label:nth-child(5),
#busan:checked ~ .showroom-button-wrap label:nth-child(6) {
    background: #333;
    border:1px solid #333;
    width: 100%;
    max-width: 550px;
    min-width: 430px;
}

#seongsu:checked ~ .showroom-button-wrap label:nth-child(1) p,
#pangyo:checked ~ .showroom-button-wrap label:nth-child(2) p,
#gimpo:checked ~ .showroom-button-wrap label:nth-child(3) p,
#sejong:checked ~ .showroom-button-wrap label:nth-child(4) p,
#daegu:checked ~ .showroom-button-wrap label:nth-child(5) p,
#busan:checked ~ .showroom-button-wrap label:nth-child(6) p {
    color: #fff;
    opacity: 1;
}


#seongsu:checked ~ .showroom-button-wrap label .showroom-contact-wrap1,
#pangyo:checked ~ .showroom-button-wrap label .showroom-contact-wrap2,
#gimpo:checked ~ .showroom-button-wrap label .showroom-contact-wrap3,
#sejong:checked ~ .showroom-button-wrap label .showroom-contact-wrap4,
#daegu:checked ~ .showroom-button-wrap label .showroom-contact-wrap5,
#busan:checked ~ .showroom-button-wrap label .showroom-contact-wrap6 {
    display: flex;
}



/* showroom-button-wrap */
.showroom-button-wrap {
    position: relative;
    float: left;
    width: 500px;
    margin-right: 40px;
    margin-top:150px;
    box-sizing: border-box;
}

.showroom-button-wrap label {
    position: relative;
    float: left;
    width: 80%;
    min-width: 400px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    transition-duration: .2s;
    cursor: pointer;
     box-sizing: border-box;
    border-bottom: 0;

}
.showroom-button-wrap label:nth-child(6){
    border-bottom: 1px solid #ebebeb;
}

.showroom-button-wrap label .showroom-name {
    position: relative;
    float: left;
    width: auto;
    padding: 20px 0;
}

.showroom-button-wrap label .showroom-name-eng {
    margin-right: 40px;
    margin-left: 200px;
    font-size: 16px;
    color:#676767;
    opacity: .7;
    transition-duration: .2s;
}

.showroom-button-wrap label .showroom-name-kor {
    font-size: 14px;
    color: #2f2f2f;
    opacity: .5;
}


/* showroom-contact-wrap */
.showroom-contact-wrap{
    position: absolute;
    right:15px;
    width:10px;
    display: flex;
    justify-content: space-between;
    top:50%;
    transform: translate(0,-50%);
    display: none;
    text-align: right;
}
.showroom-contact-wrap img{
    position: relative;
    float:left;
    width:14px;
    filter: brightness(3.5);
}

/* //showroom-contact-wrap */
/* //showroom-button-wrap */




/* showroom-img-wrap */
#seongsu:checked ~ .showroom-info-wrap .seongsu-info,
#pangyo:checked ~ .showroom-info-wrap .pangyo-info,
#gimpo:checked ~ .showroom-info-wrap .gimpo-info,
#sejong:checked ~ .showroom-info-wrap .sejong-info,
#daegu:checked ~ .showroom-info-wrap .daegu-info,
#busan:checked ~ .showroom-info-wrap .busan-info {
    display: block;
}


.showroom-info-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 360px;
    overflow: hidden;
    /*background: #ddd;*/
    margin-top:150px;
}
.showroom-info-wrap .showroom-info{
    position: relative;
    display: none;
    width:100%;
    box-sizing: border-box;
    padding:20px;
}
.showroom-info-wrap .showroom-place{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
}
.showroom-info-wrap .showroom-place-kor{
    position: relative;
    float:left;
    width: auto;
    margin-top:10px;
    font-size: 12px;
    opacity: .6;
}
.showroom-info-wrap .call-btn{
    position: relative;
    float:right;
    width: auto;
    display: block;
}
.showroom-info-wrap .call-img{
    position: relative;
    float:left;
    width:10px;
    margin-right:5px;
    margin-top:3px;
}
.showroom-info-wrap .number{
    position: relative;
    float:left;
    width:auto;
}
.showroom-notice{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
}
.showroom-notice .notice-txt{
    position: relative;
    float:left;
    width:100%;
    font-size: 12px;
    margin-bottom: 5px;
}
.showroom-place-button{
    position: absolute;
    float:left;
    right:98px;
    font-size: 12px;
    border:1px solid #202020;
    padding:7px 15px;
    border-radius: 40px;
    color:#fff;
    background: #202020;
    margin-top:2px;
}
.showroom-place-button a, .showroom-instagram-button a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
}
.showroom-instagram-button{
    position: absolute;
    float:left;
    right:0;
    font-size: 12px;
    border:1px solid #202020;
    padding:7px 17px;
    border-radius: 40px;
    margin-top:2px;
    background: #fff;
}

/* address-wrap */
.address-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    padding:20px 10px;
    border-top:1px solid #2f2f2f;
    border-bottom:1px solid #2f2f2f;
}
.address-wrap p{
    position: relative;
    float:left;
    font-size: 12px;
}
.address-wrap .address-title{
    width:33.3%;
}
.address-wrap .address{
    width:33.3%;
}

.place-near{
    position: relative;
    float:left;
    width:33.3%;
}
.place-near p{
    position: relative;
    float:left;
    width:auto;
    font-size: 12px;
    margin-right: 8px;
    margin-bottom: 5px;
}
.place-near1{
    position: relative;
    float:left;
    width:100%;
}
.place-near2{
    position: relative;
    float:left;
    width:100%;
}
/* //address-wrap */





/* time-wrap */
.time-wrap{
    position: relative;
    float:left;
    width:100%;
    padding:20px 10px;
    border-bottom: 1px solid #2f2f2f;
}
.time-wrap p{
    position: relative;
    float:left;
    font-size: 12px;
}
.time-wrap .time-title{
    position: relative;
    float:left;
    width:33.3%;
}

.time{
    position: relative;
    float:left;
    width:33.3%;
}
.time1{
    position: relative;
    float:left;
    width: 100%;
}
.time2{
    position: relative;
    float:left;
    width:100%;
}
.time p{
    position: relative;
    float:left;
    margin-right: 5px;
}
.time-wrap .mon-off{
    position: relative;
    float:left;
    width:33.3%;
    text-align: left;
}
/* //time-wrap */



/* //showroom-img-wrap */
/* //showroom */











/* pltl */
#pltl {
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 0px;
    overflow: hidden;
}

.pltl-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.pltl-bg {
    position: absolute;
    float: left;
    width: 100%;
    min-width: 2100px;
    top: 0;
    left: 0;
}
.pltl-bg:nth-child(2){
    opacity: 0;
}

.pltl-text-wrap {
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pltl-text-wrap p {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
}

#pltl .pltl-wrap .pltl-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #292929;
    font-family: "Pretendard-Regular";
    transition-duration: .2s;
}

#pltl .pltl-wrap .pltl-button:hover {
    background: #292929;
    color: #fff;
}

/* //pltl */








#mobile-whole{
    display: none;
}









/* mobile */
#mobile-whole{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    box-sizing: border-box;
    padding:10px;
}

/* mob-bespoke */
.mob-bespoke{
    position: relative;
    float:left;
    width:100%;
    height: 140px;
    margin-bottom: 10px;
}
.mob-bespoke .mob-bespoke-title{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    top:50%;
    transform: translate(0,-50%);
    font-family: "Urbanist-SemiBold"!important;
    font-size: 16px;
}
/* //mob-bespoke */




/* mob-plan-a */
.mob-plan-a{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    background: #2f2f2f;
    overflow: hidden;
}
.mob-plan-a-wrap{
    position: absolute;
    float:left;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mob-plan-a-title{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
    font-size: 380px;
    text-align: center;
    margin-top:-70px;
}
/* //mob-plan-a */



/* mob-chair */
.mob-chair{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    overflow: hidden;
}
.mob-chair img{
    position: absolute;
    width:160%;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
/* //mob-chair */



/* mob-plan-b */
.mob-plan-b{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    background: #e9e9e9;
    overflow: hidden;
}
.mob-plan-b-wrap{
    position: absolute;
    float:left;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mob-plan-b .mob-plan-b-title{
    position: relative;
    float:left;
    width:100%;
    color:#2f2f2f;
    font-size: 380px;
    text-align: center;
    font-family: "Pretendard-Thin"!important;
}
.mob-plan-b .plan-name{
    color:#2f2f2f;
}
/* //mob-plan-a */



/* mob-table */
.mob-table{
    position: relative;
    float:left;
    width:50%;
    padding-bottom: 50%;
    overflow: hidden;
}
.mob-table img{
    position: absolute;
    float:left;
    width:150%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
/* //mob-table */



/* mob-sofa */
.mob-sofa{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 30%;
    margin-top:10px;
    overflow: hidden;
}
.mob-sofa a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 3;
}
.mob-sofa .mob-sofa-main{
    position: absolute;
    float:left;
    width:80%;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
}
.mob-sofa-bg{
    position: absolute;
    width:100%;
    height: 100%;
    background: #0c0c0c;
    z-index: 2;
    opacity: .66; 
}
.mob-sofa-button-wrap{
    position: absolute;
    float: left;
    width:100%;
    height: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.mob-sofa .mob-sofa-title{
    position: relative;
    color:#fff;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "Urbanist-SemiBold";
}


.mob-sofa-button-wrap .mob-sofa-img{
    position: relative;
    filter: invert();
    z-index: 2;
    width: 26px;
    height: 26px;
}
/* //mob-sofa */


/* mob-showroom */
.mob-showroom{
    position: relative;
    float: left;
    width:100%;
    height: auto;
    margin-top:10px;
}
.mob-showroom-title{
    position: relative;
    float:left;
    width: 100%;
    margin-left:20px;
    margin-bottom:30px;
    margin-top:50px;
    font-size: 20px;
}
.mob-showroom input[type="radio"]{
    display: none;
}

.mob-showroom-button-wrap{
    position: relative;
    float:left;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mob-showroom-button-wrap label{
    position: relative;
    float:left;
    width: 100%;
    border:1px solid #ebebeb;
    border-right:none;
    height: 70px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: .2s;
}
.mob-showroom-button-wrap label:nth-last-child(1){
    border-right:1px solid #ebebeb;
}
.mob-showroom-button-wrap label p{
    position: relative;
    float:left;
    width: 100%;
    text-align: center;
    color:#d0d0d0;
}
#mob-seongsu:checked ~ .mob-showroom-button-wrap label:nth-child(1),
#mob-pangyo:checked ~ .mob-showroom-button-wrap label:nth-child(2),
#mob-gimpo:checked ~ .mob-showroom-button-wrap label:nth-child(3),
#mob-sejong:checked ~ .mob-showroom-button-wrap label:nth-child(4),
#mob-daegu:checked ~ .mob-showroom-button-wrap label:nth-child(5),
#mob-busan:checked ~ .mob-showroom-button-wrap label:nth-child(6){
    background: #4f4f4f;
    border:1px solid #4f4f4f;
}

#mob-seongsu:checked ~ .mob-showroom-button-wrap label:nth-child(1) p,
#mob-pangyo:checked ~ .mob-showroom-button-wrap label:nth-child(2) p,
#mob-gimpo:checked ~ .mob-showroom-button-wrap label:nth-child(3) p,
#mob-sejong:checked ~ .mob-showroom-button-wrap label:nth-child(4) p,
#mob-daegu:checked ~ .mob-showroom-button-wrap label:nth-child(5) p,
#mob-busan:checked ~ .mob-showroom-button-wrap label:nth-child(6) p{
    color:#fff;
    
}






/* mob-showroom-info-wrap*/
#mob-seongsu:checked ~ .mob-showroom-info-wrap div:nth-child(1),
#mob-pangyo:checked ~ .mob-showroom-info-wrap div:nth-child(2),
#mob-gimpo:checked ~ .mob-showroom-info-wrap div:nth-child(3),
#mob-sejong:checked ~ .mob-showroom-info-wrap div:nth-child(4),
#mob-daegu:checked ~ .mob-showroom-info-wrap div:nth-child(5),
#mob-busan:checked ~ .mob-showroom-info-wrap div:nth-child(6){
    display: block;
}
.mob-showroom-info-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    box-sizing: border-box;
    padding:20px 15px;
    margin-bottom: 15px;
}
.mob-showroom-info-wrap .mob-showroom-info-box{
    position: relative;
    float:left;
    width:100%;
    display: none;
}
.mob-showroom-info-wrap .mob-showroom-info-title{
    position: relative;
    float:left;
    width:100%;
    font-size: 16px;
}
.mob-showroom-call-button{
    position: absolute;
    width:15px;
    right:0;
    top:-7px;
    border:1px solid #2f2f2f;
    border-radius: 40px;
    padding:8px;
}
.mob-showroom-address{
    position: relative;
    float:left;
    width: 100%;
    margin-top: 50px;
    font-size: 13px;
}
.mob-showroom-near-info{
    position: relative;
    float:left;
    width:100%;
    font-size: 12px;
    margin-top:10px;
    color:#a0a0a0;
}

.mob-showroom-time{
    position: relative;
    float:left;
    width:100%;
}
.mob-showroom-time1{
    margin-top:15px;
}
.mob-showroom-time p{
    position: relative;
    float:left;
    width:auto;
    margin-right: 7px;
}
.mob-showroom-time p:nth-child(2){
    font-size: 12px;
    margin-top:2px;
    color:#a0a0a0;
}
.mob-showroom-time p:nth-child(3){
    font-size: 12px;
    margin-top:2px;
}

.mob-showroom-show-place{
    position: relative;
    float:left;
    border:1px solid #2f2f2f;
    padding: 5px 13px 6px 13px;
    border-radius: 40px;
    background: #292929;
    color:#fff;
    margin-top:20px;
    font-size: 12px;
}

.mob-showroom-instagram{
    position: relative;
    float:left;
    border:1px solid #2f2f2f;
    padding: 5px 13px 6px 13px;
    border-radius: 40px;
    margin-top:20px;
    font-size: 12px;
    margin-left:5px;
}
/* //mob-showroom-info-wrap*/
/* //mob-showroom */

/* //mobile */














@media screen and (max-width:1130px) and (min-width:1070px) {
    
    .plan-title{
        font-size: 250px;
    }
    
    
    .showroom-notice .notice-txt{
        width:310px;
        text-align: justify;
    }
    
    
}



@media screen and (max-width:1069px) and (min-width:300px){
    .chair, .bespoke, .plan-a, .table, .plan-b, .sofa, #showroom{
        display: none;
    }   
    /* pc-main display none*/
    
    
    /* main-slider */
    .text-wrap .slide-title-eng{
        font-size: 42px;
        margin-bottom: 10px;
    }
    .text-wrap .text-kor-wrap .slide-title{
        font-size: 20px;
    }
    
    .slide .text-wrap2 .slide-title{
        font-size: 42px;
    }
    .slide .text-wrap2 .view-button{
        width: 180px;
        height: 50px;
    }
    /* //main-slider */
    
    
    
    
    /* mobile */
    #mobile-whole{
        display: block;
    }
    /* //mobile */
    
    
    
     /* pltl */
    .pltl-text-wrap p {
        font-size: 18px;
    }
    
    #pltl .pltl-wrap .pltl-button{
        padding:15px 30px;
        font-size: 13px;
    }
    /* //pltl */
}


@media screen and (max-width:700px) and (min-width:500px){
    
    .mob-plan-a-wrap .mob-plan-a-title, .mob-plan-b-wrap .mob-plan-b-title{
        font-size: 280px;
    }
    
    /* main-slider */
    .text-wrap .slide-title-eng{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .text-wrap .text-kor-wrap .slide-title{
        font-size: 17px;
    }
    .slide .text-wrap2 .slide-title{
        font-size: 30px;
    }
    .slide .text-wrap2 .view-button{
        width: 130px;
        height: 40px;
    }
    
    .slide .text-wrap2 .view-button p{
        font-size: 11px;
    }
    .slide .text-wrap2 .view-button .view-next{
        width:12px;
    }
    /* //main-slider */
    
    
    
    /* pltl */
    
    .pltl-text-wrap p {
        font-size: 15px;
    }
    /* //pltl */
    
   
}



@media screen and (max-width:499px) and (min-width:300px){
    
    .mob-plan-a-wrap .mob-plan-a-title, .mob-plan-b-wrap .mob-plan-b-title{
        font-size: 150px;
    }
    .mob-plan-a-wrap .mob-plan-a-title{
        margin-top:-30px;
    }
    
    
    
    /* main-slider */
    .text-wrap .slide-title-eng{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .text-wrap .text-kor-wrap .slide-title{
        font-size: 10px;
        margin-right:3px;
    }
    .slide .text-wrap2 .slide-title{
        font-size: 20px;
    }
    .slide .text-wrap2 .view-button{
        width: 90px;
        height: 30px;
    }
    
    .slide .text-wrap2 .view-button p{
        font-size: 10px;
    }
    .slide .text-wrap2 .view-button .view-next{
        width:9px;
    }
    /* //main-slider */
    
    
    
    /* mobile */
    
    .mob-bespoke .mob-bespoke-title{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    top:38%;
    transform: translate(0,-50%);
    font-family: "Urbanist-SemiBold"!important;
    font-size: 13px;
}
    
    /* mob-plan */
    .mob-plan-a-wrap .plan-number{
        top:14px;
        font-size: 11px;
    }
    .mob-plan-a-wrap .plan-name{
        font-size: 11px;
        top:35px;
        margin-right: 10px;
    }
    .mob-plan-b-wrap .plan-number{
        top:14px;
        font-size: 10px;
    }
    .mob-plan-b-wrap .plan-name{
        font-size: 11px;
        top:35px;
        margin-right: 10px;
    }
    /* //mob-plan */
    
    
    /* mob-sofa */
    .mob-sofa-button-wrap .mob-sofa-title{
        font-size: 14px;
    }
    .mob-sofa-button-wrap .mob-sofa-img{
        width: 20px;
        height: 20px;
    }
    /* //mob-sofa */
    
    
    
    /* mob-showroom */
    
    .mob-showroom-button-wrap label{
        height: 40px;
        font-size: 11px;
    }
    /* //mob-showroom */
    
    
    
    /* pltl */
    #pltl{
        margin-bottom: 160px;
    }
    #pltl .pltl-wrap .pltl-bg:nth-child(1){
        display: none;
    }
    #pltl .pltl-wrap .pltl-bg:nth-child(2){
        opacity: 1;
        width:100%;
        min-width: inherit;
    }
    #pltl .pltl-wrap p{
        font-size: 10px;
    }
    
    #pltl .pltl-wrap .pltl-button{
        padding:12px 20px;
        font-size: 11px;
    }
    /* pltl */
    /* //mobile */
}

