@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.ttf");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff2");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}




@font-face {
    src: url("../fonts/Pretendard-Regular.ttf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff2");
    font-family: "Pretendard-Regular";
}
@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}





@font-face {
    src: url("../fonts/Pretendard-Medium.ttf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff2");
    font-family: "Pretendard-Medium";
}
@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}



@font-face {
    src: url("../fonts/Pretendard-SemiBold.ttf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff2");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}




@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.woff");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.woff2");
    font-family: "Urbanist-Regular";
}
@font-face {
    src: url("../fonts/Urbanist-Regular.otf");
    font-family: "Urbanist-Regular";
}




@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff2");
    font-family: "Urbanist-Medium";
}
@font-face {
    src: url("../fonts/Urbanist-Medium.otf");
    font-family: "Urbanist-Medium";
}



@font-face {
    src: url("../fonts/Urbanist-Bold.ttf");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff2");
    font-family: "Urbanist-Bold";
}
@font-face {
    src: url("../fonts/Urbanist-Bold.otf");
    font-family: "Urbanist-Bold";
}



@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff2");
    font-family: "Urbanist-ExtraBold";
}
@font-face {
    src: url("../fonts/Urbanist-ExtraBold.otf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}




.txt-eng{
    font-family: "Urbanist-Regular"!important;
}
.txt-eng-bold{
    font-family: "Urbanist-Bold"!important;
}
.txt-kor{
    font-family: "Pretendard-Regular"!important;
}





.fixed{position: fixed; top:0; left:0;}








/* menu-map */
#menu-map{
    position: relative;
    float:left;
    width:100%;
    margin-top:120px;
}

.menu-map-wrap{
    position: relative;
    width:100%;
    max-width: 1400px;
    margin:0 auto;
}
.menu-map-wrap p{
    position: relative;
    float:left;
    margin-right:15px;
    color:#888;
    font-size: 12px;
}
.menu-map-wrap a:nth-child(1) p{
    margin-left:20px;
}
/* /
/* //menu-map */




/* product-name */
.product-name{
    position: relative;
    float:left;
    width:100%;
    margin-bottom:20px;
}
.product-name-wrap{
    position: relative;
    float:left;
    margin:0 auto;
}
.product-name .product-name-wrap .txt-eng-bold{
    position: relative;
    float:left;
    font-size: 24px;
    text-transform: uppercase;
}
.product-name .product-name-wrap .txt-eng{
    position: relative;
    float:left;
    margin-left:20px;
    padding:8px 12px;
    font-size: 10px;
    color:#0a57bf;
    text-transform: uppercase;
    border:1px solid #0a57bf;
    border-radius: 40px;
}

.product-name .product-name-wrap .txt-kor{
    position: relative;
    float:left;
    width:100%;
    color:#777;
}
/* //product-name */





/* product-box */
#product-box{
    position: relative;
    float:left;
    width:100%;
    height:2000px;
    margin-top:20px;
    margin-bottom:450px;
}
.product-box-wrap{
    position: relative;
    width:100%;
    max-width: 1400px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.product-box-wrap .product-img-place{
    position: relative;
    width:60%;
    padding:0 20px;
}   
.product-box-wrap .img-box{
    position: relative;
    float:left;
    width:100%;
    height:400px;
    background: #eee;
    margin-bottom:20px;
}
.product-box-wrap .product-info-place{
    position: sticky;
    width:500px;
    min-width: 300px;
    height:800px;
    margin-left:20px;
    margin-right:20px;
    flex-grow: 1;
}





.swiper-container{
    position: relative;
    width:auto;
    margin:0 auto;
    display: flex;
    
}

.gallery-top{
    width:auto;
    height:480px;
    background: #f8f8f8;
}
.swiper-wrapper .swiper-slide{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.gallery-top .swiper-wrapper .swiper-slide img{
    position: relative;
    width:90%;
    min-width: 500px;
}
.gallery-thumbs{
    width:auto;
    box-sizing: border-box;
    padding:10px 0;
    margin-bottom:50px;
}

.gallery-thumbs .swiper-slide{
    width:25%;
    height:150px;
    background: #f8f8f8;
    overflow: hidden;
}
.gallery-thumbs .swiper-slide img{
    position: relative;
    width:95%;
}





.product-info{
    position: relative;
    float:left;
    width:100%;
    height:200px;
    background: #f8f8f8;
    overflow-y: scroll;
}
.product-info-scroll{
    position: relative;
    width:90%;
    height:300px;
    margin:0 auto;
    margin-top:15px;
}
.product-info-scroll .txt-kor{
    text-align: justify;
    line-height: 1.7;
}


.product-info::-webkit-scrollbar{
    background-color: #ddd;
    width:6px;
}
.product-info::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
    background-clip: padding-box;
    border:0.3px solid transparent;
    margin:0 auto;
}
.product-info::-webkit-scrollbar-track{
    border-radius: 10px;
}


.choice-kind input[type="radio"]{
    display: none;
}










.choice-leg{
    position: relative;
    float:left;
    width:100%;
    margin-top:40px;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom:1px solid #888;
    border-top:2px solid #292929;
}
.choice-leg .txt-eng-bold {
    position: relative;
    float:left;
    font-size: 16px;
    color:#2f2f2f;
    font-family: "Urbanist-SemiBold";
}
.choice-kind .result{
    position: absolute;
    right:55px;
}





.choice-edge{
    position: relative;
    float:left;
    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom:1px solid #888;
}
.choice-edge .txt-eng-bold {
    position: relative;
    float:left;
    font-size: 16px;
    color:#2f2f2f;
    font-family: "Urbanist-SemiBold";
    
}





.choice-shape{
    position: relative;
    float:left;
    width:100%;

    padding-top:20px;
    padding-bottom: 20px;
    border-bottom:1px solid #888;
}
.choice-shape .txt-eng-bold {
    position: relative;
    float:left;
    font-size: 16px;
    color:#2f2f2f;
    font-family: "Urbanist-SemiBold";
}








.choice-size{
    position: relative;
    float:left;
    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom:1px solid #888;
}
.choice-size .txt-eng-bold {
    position: relative;
    float:left;
    font-size: 16px;
    color:#2f2f2f;
    font-family: "Urbanist-SemiBold";
}




.choice-color{
    position: relative;
    float:left;
    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom:2px solid #292929;
}
.choice-color .txt-eng-bold {
    position: relative;
    float:left;
    font-size: 16px;
    color:#2f2f2f;
    font-family: "Urbanist-SemiBold";
}


.choice-kind .arrow{
    position: relative;
    float:right;
    width:13px;
    opacity: .6;
    margin-right:10px;
    cursor: pointer;
    margin-top:4px;
}
.choice-kind .arrow-up{
    display: none;
}




/* type-kind */
.type-kind{
    position: absolute;
    float:left;
    width:100%;
    height:auto;
    z-index: 2;
    top:60px;
    background: #fff;
    overflow: hidden;
    transition-duration: .2s;
}
.type-kind input[type="radio"]{
    display: none;
}



.type-kind label{
    position: relative;
    float:left;
    width:100%;
    text-align: right;
    font-size: 16px;
    padding:15px 0;
    border-bottom: 1px solid #F0F0F0;
    transition-duration: .3s;
    cursor: pointer;
}
.type-kind label:nth-last-child(1){
    border-bottom:3px solid #101010;
}
.type-kind label p{
    position: relative;
    float:right;
    margin-right:55px; 
    color:#a0a0a0;
}




/* leg-kind */
.leg-kind{
    height:0;
}
#leg-a:checked ~ .type-a,
#leg-b:checked ~ .type-b,
#leg-c:checked ~ .type-c
{
    background: #f5f5f5;
}
#leg-a:checked ~ .type-a p,
#leg-b:checked ~ .type-b p,
#leg-c:checked ~ .type-c p{
    color:#2f2f2f;
}
/* drop-down leg */
#drop-down-arrow-leg:checked ~ .leg-kind{
    height: 150px;
}
#drop-up-arrow-leg:checked ~ .leg-kind{
    height: 0;
}

#drop-down-arrow-leg:checked ~ label .arrow-down{
    display: none;
}
#drop-down-arrow-leg:checked ~ label .arrow-up{
    display: block;
}
#drop-up-arrow-leg:checked ~ label .arrow-up{
    display: none;
}
#drop-up-arrow-leg:checked ~ label .arrow-down{
    display: block;
}
/* //drop-down leg */

/* //leg-kind */







/* edge-kind */
.edge-kind{
    height: 0;
}
#edge-a:checked ~ .type-a,
#edge-b:checked ~ .type-b,
#edge-c:checked ~ .type-c
{
    background: #f5f5f5;
}
#edge-a:checked ~ .type-a p,
#edge-b:checked ~ .type-b p,
#edge-c:checked ~ .type-c p{
    color:#2f2f2f;
}

/* drop-down edge */
#drop-down-arrow-edge:checked ~ .edge-kind{
    height: 150px;
}
#drop-up-arrow-edge:checked ~ .edge-kind{
    height: 0;
}

#drop-down-arrow-edge:checked ~ label .arrow-down{
    display: none;
}
#drop-down-arrow-edge:checked ~ label .arrow-up{
    display: block;
}
#drop-up-arrow-edge:checked ~ label .arrow-up{
    display: none;
}
#drop-up-arrow-edge:checked ~ label .arrow-down{
    display: block;
}
/* //drop-down edge */

/* //edge-kind */





/* shape-kind */
.shape-kind{
    height: 0;
}
#shape-a:checked ~ .type-a,
#shape-b:checked ~ .type-b,
#shape-c:checked ~ .type-c
{
    background: #f5f5f5;
}
#shape-a:checked ~ .type-a p,
#shape-b:checked ~ .type-b p,
#shape-c:checked ~ .type-c p{
    color:#2f2f2f;
}

/* drop-down shape */
#drop-down-arrow-shape:checked ~ .shape-kind{
    height: 150px;
}
#drop-up-arrow-shape:checked ~ .shape-kind{
    height: 0;
}

#drop-down-arrow-shape:checked ~ label .arrow-down{
    display: none;
}
#drop-down-arrow-shape:checked ~ label .arrow-up{
    display: block;
}
#drop-up-arrow-shape:checked ~ label .arrow-up{
    display: none;
}
#drop-up-arrow-shape:checked ~ label .arrow-down{
    display: block;
}
/* //drop-down shape */
/* //shape-kind */




/* size-kind */
.size-kind{
    height: 0;
}
#size-a:checked ~ .type-a,
#size-b:checked ~ .type-b,
#size-c:checked ~ .type-c,
#size-d:checked ~ .type-d,
#size-e:checked ~ .type-e
{
    background: #f5f5f5;
}
#size-a:checked ~ .type-a p,
#size-b:checked ~ .type-b p,
#size-c:checked ~ .type-c p,
#size-d:checked ~ .type-d p,
#size-e:checked ~ .type-e p{
    color:#2f2f2f;
}

/* drop-down size */
#drop-down-arrow-size:checked ~ .size-kind{
    height: 250px;
}
#drop-up-arrow-size:checked ~ .size-kind{
    height: 0;
}

#drop-down-arrow-size:checked ~ label .arrow-down{
    display: none;
}
#drop-down-arrow-size:checked ~ label .arrow-up{
    display: block;
}
#drop-up-arrow-size:checked ~ label .arrow-up{
    display: none;
}
#drop-up-arrow-size:checked ~ label .arrow-down{
    display: block;
}
/* //drop-down size */
/* //shape-kind */




/* color-kind */
.color-kind{
    height: 0;
}
#color-a:checked ~ .type-a,
#color-b:checked ~ .type-b,
#color-c:checked ~ .type-c,
#color-d:checked ~ .type-d,
#color-e:checked ~ .type-e,
#color-f:checked ~ .type-f,
#color-g:checked ~ .type-g,
#color-h:checked ~ .type-h,
#color-i:checked ~ .type-i,
#color-j:checked ~ .type-j,
#color-k:checked ~ .type-k,
#color-l:checked ~ .type-l,
#color-m:checked ~ .type-m
{
    background: #f5f5f5;
}
#color-a:checked ~ .type-a p,
#color-b:checked ~ .type-b p,
#color-c:checked ~ .type-c p,
#color-d:checked ~ .type-d p,
#color-e:checked ~ .type-e p,
#color-f:checked ~ .type-f p,
#color-g:checked ~ .type-g p,
#color-h:checked ~ .type-h p,
#color-i:checked ~ .type-i p,
#color-j:checked ~ .type-j p,
#color-k:checked ~ .type-k p,
#color-l:checked ~ .type-l p,
#color-m:checked ~ .type-m p{
    color:#2f2f2f;
}

/* drop-down color */
#drop-down-arrow-color:checked ~ .color-kind{
    height: 1600px;
}
#drop-up-arrow-color:checked ~ .color-kind{
    height: 0;
}

#drop-down-arrow-color:checked ~ label .arrow-down{
    display: none;
}
#drop-down-arrow-color:checked ~ label .arrow-up{
    display: block;
}
#drop-up-arrow-color:checked ~ label .arrow-up{
    display: none;
}
#drop-up-arrow-color:checked ~ label .arrow-down{
    display: block;
}
/* //drop-down color */
/* //color-kind */


/* //type-kind */







/* order-wrap */
.order-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:50px;
    
}
.ea-wrap{
    position: relative;
    float:left;
    border: 1px solid #292929;
}
.del-ea, .add-ea{
    width:35px;
    background: none;
    border:none;
    font-family: "AvenirLTStd-Roman";
    font-size: 20px;
    cursor: pointer;
}
.add-ea{
    color:#fff;
    background: #292929;
}
.num-ea{
    border:none;
    font-size: 18px;
    font-family: "AvenirLTStd-Roman";
    text-align: center;
}
.price-wrap{
    position: relative;
    float:right;
}
.price{
    position: relative;
    width:90px;
    border:none;
    font-size: 20px;
}
input:focus {
    outline:none;
}

/* order-wrap */



/* payment-wrap */
.payment-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    
}
.payment-wrap .buy{
    position: relative;
    width:60%;
    height:50px;
    background: #292929;
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.payment-wrap .buy p{
    color:#fff;
    padding:15px 110px;
}
.payment-wrap .cart{
    position: relative;
    width:40%;
    height:47.5px;
    background: #fff;
    border:1px solid #292929;
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-left:10px;
}
.payment-wrap .cart p{
     padding:15px 65px;
}
/* //payment-wrap */





/* also-like */
.also-like{
    position: relative;
    float:left;
    width:100%;
    margin-top:50px;
    padding:20px;
    z-index: -1;
}

.also-like-wrap{
    position: relative;
    width:100%;
    max-width: 1400px;
    margin:0 auto;
}
.also-like-wrap .line{
    position: relative;
    float:left;
    width:100%;
    max-width:1360px;
    border-top:1px solid #ddd;
}
.also-like-wrap .title{
    position: relative;
    float:left;
    margin-top:20px;
}
.also-like-wrap .all-products{
    position: relative;
    float:right;
    margin-top:11px;
    margin-right:40px;
    color:#fff;
    background: #292929;
    padding:10px;
    font-size: 12px;
}


.also-like-product-wrap{
    position: relative;
    float:left;
    width:100%;
    max-width: 1365px;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
}
.also-like-product-wrap .also-like-product{
    position: relative;
    width:100%;
    height:200px;
    background: #f9f9f9;
    margin:0 10px;
}
.also-like-product-wrap .also-like-product .product-title{
    position: absolute;
    width:100%;
    bottom:-30px;
    left:50%;
    transform: translate(-50%);
    text-align: center;
}
.also-like-product-wrap .also-like-product .product-price{
    position: absolute;
    width:100%;
    bottom:-47px;
    left:50%;
    transform: translate(-50%);
    color:#777;
    text-align: center;
}
/* //also-like */


/* //product-box */




/* side-menu */
#side-menu{
    position: absolute;
    top:0;
    left:0;
    width:0px;
    height:100vh;
    z-index: 10;
    transition-duration: .3s;
    overflow: hidden;
}
.side-menu-wrap{
    position:relative;
    width:350px;
    height:100vh;
    background: #fff;
}
.side-menu-wrap #menu-map{
    width:auto;
    margin-top:100px;
    left:50%;
    transform: translate(-50%);
}
.side-menu-wrap .category-title{
    position: relative;
    float:left;
    width:auto;
    font-size: 30px;
    margin-top:20px;
    margin-left:55px;
}

.side-category{
    position: relative;
    float:left;
    width:100%;
    margin-top:110px;
}
.side-category-wrap{
    position: relative;
    float:left;
    width:70%;
    left:50%;
    transform: translate(-50%);
}
.side-category-wrap .side-category-title{
    position: relative;
    float:left;
    width:100%;
    border-left:1px solid #3FABFF;
    padding-left:10px;
    margin-bottom:20px;
}






/* side-menu-button */
.side-menu-button{
    position:fixed;
    width:40px;
    height:70px;
    top:190px;
    left:0px;
    background: #292929;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    z-index: 10;
    transition-duration: .3s;
}
.side-menu-button img{
    position: relative;
    float:left;
    width:17px;
    padding:26px 10px;
}
.side-menu-button .arrow-left{
    display: none;
}
/* //side-menu-button */


/* //side-menu */




/* bg-black */
#bg-black{
    position: absolute;
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.7);
    z-index: 9;
    display: none;
}
/* //bg-black */



/* 태블릿 */
/*
@media screen and (max-width: 767px) and (min-width:701px) {

}
*/
/* //태블릿 */




/* 모바일 */
/*

@media screen and (max-width: 700px) and (min-width:551px) {
  
}









@media screen and (max-width: 549px) {
   
}
*/
/* //모바일 */
