@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.ttf");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff2");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}


@font-face {
    src: url("../fonts/AvenirLTStd-Black.ttf");
    font-family: "AvenirLTStd-Black";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Black.woff");
    font-family: "AvenirLTStd-Black";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Black.woff2");
    font-family: "AvenirLTStd-Black";
}
@font-face {
    src: url("../fonts/AvenirLTStd-Black.otf");
    font-family: "AvenirLTStd-Black";
}



@font-face {
    src: url("../fonts/AvenirLTStd-Roman.ttf");
    font-family: "AvenirLTStd-Roman";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Roman.woff");
    font-family: "AvenirLTStd-Roman";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Roman.woff2");
    font-family: "AvenirLTStd-Roman";
}
@font-face {
    src: url("../fonts/AvenirLTStd-Roman.otf");
    font-family: "AvenirLTStd-Roman";
}




@font-face {
    src: url("../fonts/Pretendard-Medium.ttf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff2");
    font-family: "Pretendard-Medium";
}
@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}







@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff2");
    font-family: "Urbanist-Medium";
}
@font-face {
    src: url("../fonts/Urbanist-Medium.otf");
    font-family: "Urbanist-Medium";
}




@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff2");
    font-family: "Urbanist-ExtraBold";
}
@font-face {
    src: url("../fonts/Urbanist-ExtraBold.otf");
    font-family: "Urbanist-ExtraBold";
}



/*
body::-webkit-scrollbar{
    display: none;
}
*/

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden;

    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}




.txt-eng{
    font-family: "Urbanist-Medium";
}
.txt-eng-bold{
    font-family: "Urbanist-ExtraBold";
}
.txt-kor{
    font-family: "Pretendard-Medium";
}





.fixed{position: fixed; top:0; left:0;}




/* nav */
nav{
    position: relative;
    float:left;
    width:100%;
}


.nav-wrap{
    position: relative;
    width:100%;
    max-width: 1400px;
    height:100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrap .menu-icon{
    position: relative;
    width:20px;
    margin-left:20px;
    background: #fff;
    padding:7px;
    border-radius: 100%;
    box-shadow: 1px 9px 10px 1px rgba(0,0,0,0.05);
}
.nav-wrap .logo{
    position: absolute;
    width:130px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.nav-wrap .sub-button-wrap{
    position: relative;
    width:100px;
    display: flex;
    justify-content: space-between;
    margin-right:20px;
    
}
.nav-wrap .sub-button-wrap img{
    position: relative;
    width:17px;
}



/* //nav */






/* menu-map */
#menu-map{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
}

.menu-map-wrap{
    position: relative;
    width:100%;
    max-width: 1400px;
    margin:0 auto;
}
.menu-map-wrap p{
    position: relative;
    float:left;
    margin-right:15px;
    color:#888;
    font-size: 12px;
}
.menu-map-wrap p:nth-child(1){
    margin-left:20px;
}
/* //menu-map */




/* product-name */
#product-name{
    position: relative;
    float:left;
    width:100%;
    margin-top:50px;
}
.product-name-wrap{
    position: relative;
    width:100%;
   
    max-width: 1400px;
    margin:0 auto;
}
.product-name-wrap .txt-eng-bold{
    position: relative;
    float:left;
    margin-left:20px;
    font-size: 30px;
    text-transform: uppercase;
    
}
.product-name-wrap .txt-eng{
    position: relative;
    float:left;
    margin-left:20px;
    padding:8px 12px;
    font-size: 10px;
    color:#0a57bf;
    text-transform: uppercase;
    border:1px solid #0a57bf;
    border-radius: 40px;
}

.product-name-wrap .txt-kor{
    position: relative;
    float:left;
    width:100%;
    margin-left:20px;
    color:#777;
}
/* //product-name */





/* product-box */
#product-box{
    position: relative;
    float:left;
    width:100%;
    height:2000px;
    margin-top:20px;
}
.product-box-wrap{
    position: relative;
    width:100%;
    max-width: 1400px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.product-box-wrap .product-img-place{
    position: relative;
    width:60%;
    padding:0 20px;
}   
.product-box-wrap .img-box{
    position: relative;
    float:left;
    width:100%;
    height:400px;
    background: #eee;
    margin-bottom:20px;
}
.product-box-wrap .product-info-place{
    position: sticky;
    width:500px;
    height:700px;
    margin-left:20px;
    margin-right:20px;
    flex-grow: 1;
}





.swiper-container{
    position: relative;
    width:auto;
    margin:0 auto;
    display: flex;
    
}

.gallery-top{
    width:auto;
    height:480px;
    background: #f8f8f8;
}
.swiper-wrapper .swiper-slide{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    
}
.gallery-top .swiper-wrapper .swiper-slide img{
    position: relative;
    width:90%;
    min-width: 500px;
}
.gallery-thumbs{
    width:auto;
    box-sizing: border-box;
    padding:10px 0;
    margin-bottom:50px;
}

.gallery-thumbs .swiper-slide{
    width:25%;
    height:150px;
    background: #f8f8f8;
    overflow: hidden;
}
.gallery-thumbs .swiper-slide img{
    position: relative;
    width:95%;
}





.product-info{
    position: relative;
    float:left;
    width:100%;
    height:200px;
    background: #f8f8f8;
    overflow-y: scroll;
}
.product-info-scroll{
    position: relative;
    width:90%;
    height:300px;
    margin:0 auto;
    margin-top:15px;
}
.product-info-scroll .txt-kor{
    text-align: justify;
    line-height: 1.7;
}


.product-info::-webkit-scrollbar{
    background-color: #ddd;
    width:6px;
}
.product-info::-webkit-scrollbar-thumb{
    background-color: #888;
    border-radius: 10px;
    background-clip: padding-box;
    border:0.3px solid transparent;
    margin:0 auto;
}
.product-info::-webkit-scrollbar-track{
    border-radius: 10px;
}



.choice-leg{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
}
.choice-leg p{
    position: relative;
    float:left;
}
.choice-leg .question{
    margin-left:15px;
    margin-top:-2.5px;
    color:#0a57bf;
    font-size: 10px;
    padding:3px 5.6px 2px 5.6px;
    border:1px solid #0a57bf;
    border-radius: 100%;
    transition-duration: .2s;
}
.choice-leg .question:hover{
    color:#fff;
    background: #0a57bf;
}
.leg-type-select-wrap{
    position: relative;
    float:right;
    width:60%;
    max-width: 200px;
    margin-top:-7px;
    display: flex;
    justify-content: space-between;
}
.leg-type-select-wrap p{
    border:1px solid #292929;
    padding:6px 23px 4px 23px;
    transition-duration: .2s;
}
.leg-type-select-wrap p:hover{
    color:#fff;
    background: #292929;
}



.choice-edge{
    position: relative;
    float:left;
    width:100%;
    margin-top:40px;
}
.choice-edge .txt-eng-bold{
    position: relative;
    float:left;
}
.choice-edge .edge-select-wrap{
    position: relative;
    float:right;
    width:60%;
    max-width: 200px;
    font-family: "AvenirLTStd-Roman";
    display: flex;
    justify-content: space-between;
}

.choice-edge .edge-select-wrap input{
    padding:0;
    margin:0;
    margin-bottom:3px;
    margin-right:5px;
}




.choice-shape{
    position: relative;
    float:left;
    width:100%;
    margin-top:40px;
    padding-top:20px;
    padding-bottom: 20px;
    border-top:2px solid #292929;
    border-bottom:1px solid #888;
}
.choice-shape .txt-eng-bold {
    position: relative;
    float:left;
}
.choice-shape .shape-select-wrap{
    position: relative;
    float:right;
    width:40%;
    text-align: right;
}
.choice-shape .shape-select-wrap p{
    color:#888;
}
.txt-eng2, .txt-eng3{
    display:none;
}
.choice-shape .arrow{
    position: relative;
    float:right;
    width:13px;
    opacity: .6;
    margin-left:30px;
    margin-right:10px;
}
.choice-shape .arrow-up{
    display: none;
}


.shape-kind{
    position: absolute;
    width:100%;
    height:0;
    top:60px;
    left:0;
    z-index: 1;
    background: #fff;
    overflow: hidden;
    transition-duration: .2s;
}
.shape-kind p{
    position: relative;
    float:left;
    width:100%;
    padding:20px 0;
    border-bottom: 1px solid #888;
}
.shape-kind-box{
    position: relative;
    float:left;
    width:100%;
    transition-duration: .2s;
}
.shape-kind .shape-kind-box .txt-kor{
    position: absolute;
    text-align: right;
    right:50px;
    border-bottom:0;
}
.shape-kind .shape-kind-box .check{
    position: absolute;
    width:13px;
    right:10px;
    top:21px;
    opacity: 0;
    transition-duration: .2s;
}
.shape-kind .shape-kind-box .shape-img{
    position: absolute;
    width:25px;
    left:0;
    margin-left:60px;
    top:15px;
}






.choice-size{
    position: relative;
    float:left;
    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom:1px solid #888;
}
.choice-size .txt-eng-bold {
    position: relative;
    float:left;
}
.choice-size .size-select-wrap{
    position: relative;
    float:right;
    width:40%;
    text-align: right;
}
.choice-size .size-select-wrap p{
    color:#888;
}
.choice-size .arrow-down{
    position: relative;
    float:right;
    width:13px;
    opacity: .6;
    margin-left:30px;
    margin-right:10px;
}



.choice-color{
    position: relative;
    float:left;
    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom:2px solid #292929;
}
.choice-color .txt-eng-bold {
    position: relative;
    float:left;
}
.choice-color .color-select-wrap{
    position: relative;
    float:right;
    width:40%;
    text-align: right;
}
.choice-color .color-select-wrap p{
    color:#888;
}
.choice-color .arrow-down{
    position: relative;
    float:right;
    width:13px;
    opacity: .6;
    margin-left:30px;
    margin-right:10px;
}



.order-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:50px;
    
}
.ea-wrap{
    position: relative;
    float:left;
    border: 1px solid #292929;
}
.del-ea, .add-ea{
    width:35px;
    background: none;
    border:none;
    font-family: "AvenirLTStd-Roman";
    font-size: 20px;
    cursor: pointer;
}
.add-ea{
    color:#fff;
    background: #292929;
}
.num-ea{
    border:none;
    font-size: 18px;
    font-family: "AvenirLTStd-Roman";
    text-align: center;
}
.price-wrap{
    position: relative;
    float:right;
}
.price{
    position: relative;
    width:90px;
    border:none;
    font-size: 20px;
}
input:focus {outline:none;}

/* //product-box */










/* 태블릿 */
/*
@media screen and (max-width: 767px) and (min-width:701px) {

}
*/
/* //태블릿 */




/* 모바일 */
/*

@media screen and (max-width: 700px) and (min-width:551px) {
  
}









@media screen and (max-width: 549px) {
   
}
*/
/* //모바일 */
