@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@font-face {
    src: url("../fonts/Pretendard-Thin.ttf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.woff");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.woff2");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}





@font-face {
    src: url("../fonts/Pretendard-Regular.ttf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.woff2");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}



@font-face {
    src: url("../fonts/Pretendard-Medium.ttf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.woff2");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}




@font-face {
    src: url("../fonts/Pretendard-SemiBold.ttf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.woff2");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}



@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.woff");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.woff2");
    font-family: "Urbanist-Regular";
}

@font-face {
    src: url("../fonts/Urbanist-Regular.otf");
    font-family: "Urbanist-Regular";
}





@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.woff2");
    font-family: "Urbanist-Medium";
}

@font-face {
    src: url("../fonts/Urbanist-Medium.otf");
    font-family: "Urbanist-Medium";
}



@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.woff");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.woff2");
    font-family: "Urbanist-SemiBold";
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.otf");
    font-family: "Urbanist-SemiBold";
}





@font-face {
    src: url("../fonts/Urbanist-Bold.ttf");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.woff2");
    font-family: "Urbanist-Bold";
}

@font-face {
    src: url("../fonts/Urbanist-Bold.otf");
    font-family: "Urbanist-Bold";
}




@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff");
    font-family: "Urbanist-ExtraBold";
}


@font-face {
    src: url("../fonts/Urbanist-ExtraBold.woff2");
    font-family: "Urbanist-ExtraBold";
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.otf");
    font-family: "Urbanist-ExtraBold";
}




body::-webkit-scrollbar {
    display: none;
}

html{
    overflow-x: hidden!important;
}
body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden!important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}




.txt-eng {
    font-family: "Urbanist-Regular"!important;
}

.txt-eng-bold {
    font-family: "Urbanist-Bold"!important;
}

.txt-kor {
    font-family: "Pretendard-Regular"!important;
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold"!important;
}

#header{
    position: relative;
}







#mob-whole {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    animation-name: appEar;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 2!important;
}

@keyframes appEar{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.mob-whole-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 14px;
    box-sizing: border-box;
}


/* top-category */
.top-category-wrap {
    position: relative;
    float: left;
    width: 100%;
}

.top-category-wrap p {
    position: relative;
    float: left;
    width: auto;
    margin-right: 15px;
    font-size: 10px;
    color: #888;
}

/* //top-category */



/* mob-main-img-wrap */
.mob-main-img-wrap{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    background: #ddd;
    margin-top:20px;
    overflow: hidden;
}
.mob-main-img-slider{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    overflow: hidden;
}

.mob-main-img{
    position: absolute;
    float:left;
    width:100%;
    overflow: hidden;
}

.mob-main-img img{
    position: relative;
    float:left;
    width:100%;
    z-index: 2;
}
/* //mob-main-img-wrap */




/* mob-produc-info-wrap */
.mob-product-info-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
}
.mob-name-eng{
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 5px;
}
.mob-name-kor{
    position: relative;
    float:left;
    font-size: 11px;
    color:#767676;
}
.mob-price{
    position: relative;
    float:right;
    font-size: 11px;
}



.mob-product-info-txt{
    position: relative;
    float:left;
    width:100%;
    margin-top: 40px;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}
.mob-product-info-txt p{
    text-align: justify;
    font-size: 11px;
}

/* //mob-produc-info-wrap */






/* mob-product-img-wrap */
.mob-product-img-wrap{
    position: relative;
    float:left;
    width:100%;
    height:1200px;
    margin-top:30px;
    overflow: hidden;
}
.mob-product-img{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 100%;
    background: #ddd;
    margin-bottom: 10px;
    overflow: hidden;
}
.mob-product-more{
    position: absolute;
    float:left;
    width:100%;
    height:45px;
    background: #ebebeb;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob-more-img{
    position: relative;
    width:12px;
    margin-left:10px;
    margin-top:2px;
}
.mob-product-more a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
} 
/* //mob-product-img-wrap */




/* mob-information-wrap */
.mob-information-wrap{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    border-top:1px solid #767676;
    margin-top:100px;
}
.mob-information-wrap input[type="radio"]{
    display: none;
}

.mob-information-wrap label{
    position: relative;
    float:left;
    width:100%;
    height: 45px;
    border-bottom: 1px solid #767676;
    cursor: pointer;
    overflow: hidden;
    transition-duration: .3s;
}

.mob-information-wrap label p{
    position: relative;
    float:left;
    width: auto;
    top:50%;
    transform: translate(0,-50%);
    font-size: 11px;
    transition-duration: .3s;
}
.mob-information-wrap label p:nth-child(2){
    float:right;
    font-size: 18px;
    margin-right: 2px;
}



#mob-info:checked ~ .mob-information-button1,
#mob-delivery:checked ~ .mob-information-button2,
#mob-notice:checked ~ .mob-information-button3{
    height: 200px;
}


#mob-info:checked ~ .mob-information-button1 p,
#mob-delivery:checked ~ .mob-information-button2 p,
#mob-notice:checked ~ .mob-information-button3 p{
    top:10px;
    transform: translate(0,0);
}

#mob-info:checked ~ .mob-information-button1 p:nth-child(2),
#mob-delivery:checked ~ .mob-information-button2 p:nth-child(2),
#mob-notice:checked ~ .mob-information-button3 p:nth-child(2){
   display: none;
}

/* //mob-information-wrap */



/* mob-also-like */
.mob-also-like{
    position: relative;
    float:left;
    width:1000px;
    height: auto;
    margin-top:100px;
}
.mob-also-like div{
    position: relative;
    float:left;
    width:130px;
    height: 180px;
    background: #ddd;
    margin: 10px;
}
/* //mob-also-like */




 

/* mob-button */
.mob-button{
    position: fixed;
    width:100%;
    height:72px;
    bottom:0;
    left:0;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px -1px 15px 10px rgba(0,0,0,0.1);
}
.mob-cart-button{
    position: relative;
    width:200px;
    height:100%;
    border:2px solid #2F2F2F;
    border-right: 0;
    background: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    box-sizing: border-box;
}
.mob-buy-button{
    position: relative;
    width:100%;
    height:100%;
    background: #2f2f2f;
    border-right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 16px;
}
.mob-buy-button p{
    color:#fff;
}
.mob-button a{
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    z-index: 2;
}
/* //mob-button */



/* mob-option-wrap */
.mob-option-wrap{
    position: fixed;
    bottom:0;
    width:100%;
    height:80px;
    background: #fff;
    left:0;
    transition-duration: .3s;
    box-sizing: border-box;
    padding:0 12px;
}
.mob-option-show{
    position: absolute;
    width:50px;
    height:25px;
    background: #fff;
    top:-25px;
    left:50%;
    transform: translate(-50%);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}
.mob-option-show-arrow{
    position: absolute;
    width:15px;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.mob-option-down{
    display: none;
}


.mob-option{
    position: relative;
    float:left;
    width:100%;
    height:40px;
    margin-bottom: 5px;
    background: #f5f5f5;
}
.mob-leg-wrap{
    margin-top:50px;
}

.mob-option p{
    position: relative;
    float:left;
    margin-left:20px;
    top:50%;
    transform: translate(0,-50%);
    font-size: 12px;
}

.mob-option select{
    position: relative;
    float:right;
    width:100px;
    margin-right:20px;
    top:50%;
    transform: translate(0,-50%);
    background: none;
    border: none;
    color:#a0a0a0;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    font-size: 11px;
}



.mob-my-option{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
    height: 100px;
    border:1px solid #2f2f2f;
}
.mob-my-option-name{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
    margin-bottom:10px;
}
.my-option-title{
    position: relative;
    float:left;
    font-size: 10px;
    margin-left:10px;
    padding-left:10px;
    border-left:2px solid #0A57BF;
}
.my-option-txt{
    position: relative;
    float:left;
    width:auto;
    font-size: 11px;
    color:#a0a0a0;
    margin-left:20px;
}





.mob-ea-wrap{
    position: absolute;
    float:right;
    border: 1px solid #292929;
    border-radius: 40px;
    padding:1px 3px;
    bottom:10px;;
    right:10px;
}
.mob-ea-wrap .del-ea, .add-ea{
    width:13px;
    height:13px;
    padding:0;
    font-family: "Urbanist-Regular";
    font-size: 10px;
    cursor: pointer;
    border:none;
    border-radius: 40px;
    text-align: center;
    background: none;
    line-height: 1;
}
.mob-ea-wrap .del-ea{
    margin-top:-1px;
}
.mob-ea-wrap .add-ea{
    color:#2f2f2f;
    border:1px solid #2f2f2f;
    margin-top:-1px;
    margin-left:-.5px;
}
.mob-ea-wrap .num-ea{
    border:none;
    font-size: 10px;
    font-family: "Urbanist-Thin";
    text-align: center;
}
.mob-price-wrap{
    position:absolute;
    float:right;
    right:0;
    bottom:-30px;
}
.mob-price-wrap .price{
    position: relative;
    width:55px;
    border:none;
    font-size: 14px;
    font-family: "Urbanist-Regular";
}
.mob-ea-wrap input:focus {
    outline:none;
}
/* //mob-option-wrap */

 