@charset "utf-8";


@font-face {
    src: url("../fonts/Pretendard-Thin.otf");
    font-family: "Pretendard-Thin";
}

@font-face {
    src: url("../fonts/Pretendard-Light.otf");
    font-family: "Pretendard-Light";
}

@font-face {
    src: url("../fonts/Pretendard-Regular.otf");
    font-family: "Pretendard-Regular";
}

@font-face {
    src: url("../fonts/Pretendard-Medium.otf");
    font-family: "Pretendard-Medium";
}

@font-face {
    src: url("../fonts/Pretendard-SemiBold.otf");
    font-family: "Pretendard-SemiBold";
}

@font-face {
    src: url("../fonts/Pretendard-ExtraBold.otf");
    font-family: "Pretendard-ExtraBold";
}






@font-face {
    src: url("../fonts/Urbanist-Light.ttf");
    font-family: "Urbanist-Light"!important;
}

@font-face {
    src: url("../fonts/Urbanist-Regular.ttf");
    font-family: "Urbanist-Regular"!important;
}

@font-face {
    src: url("../fonts/Urbanist-Medium.ttf");
    font-family: "Urbanist-Medium"!important;
}

@font-face {
    src: url("../fonts/Urbanist-SemiBold.ttf");
    font-family: "Urbanist-SemiBold"!important;
}

@font-face {
    src: url("../fonts/Urbanist-ExtraBold.ttf");
    font-family: "Urbanist-ExtraBold"!important;
}



body::-webkit-scrollbar {
    display: none;
}

html{
    overflow-x: hidden!important;
}
body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-size: 14px;
    overflow-x: hidden!important;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}



.txt-eng {
    font-family: "Urbanist-Medium"!important;
}

.txt-eng-bold {
    font-family: "Urbanist-ExtraBold"!important;
}

.txt-kor {
    font-family: "Pretendard-Regular"!important;
}

.txt-kor-light {
    font-family: "Pretendard-Light"!important;
}

.txt-kor-bold {
    font-family: "Pretendard-SemiBold"!important;
}






#mob-whole {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    animation-name: appEar;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 2!important;
}

@keyframes appEar{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.mob-whole-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 0 14px;
    box-sizing: border-box;
}


/* top-category */
.top-category-wrap {
    position: relative;
    float: left;
    width: 100%;
}

.top-category-wrap p {
    position: relative;
    float: left;
    width: auto;
    margin-right: 15px;
    font-size: 10px;
    color: #888;
}

/* //top-category */



/* mob-main-img-wrap */
.mob-main-img-wrap{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    background: #ddd;
    margin-top:20px;
    overflow: hidden;
}
.mob-main-img-slider{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    overflow: hidden;
}

.mob-main-img{
    position: absolute;
    float:left;
    width:100%;
    overflow: hidden;
}

.mob-main-img img{
    position: relative;
    float:left;
    width:100%;
    z-index: 2;
}
/* //mob-main-img-wrap */




/* mob-produc-info-wrap */
.mob-product-info-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
}
.mob-name-eng{
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 5px;
}
.mob-name-kor{
    position: relative;
    float:left;
    font-size: 11px;
    color:#767676;
}
.mob-price{
    position: relative;
    float:right;
    font-size: 11px;
}



.mob-product-info-txt{
    position: relative;
    float:left;
    width:100%;
    margin-top: 40px;
    overflow: hidden;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f5f5;
}
.mob-product-info-txt p{
    text-align: justify;
    font-size: 11px;
}

/* //mob-produc-info-wrap */






/* mob-product-img-wrap */
.mob-product-img-wrap{
    position: relative;
    float:left;
    width:100%;
    height:1200px;
    margin-top:30px;
    overflow: hidden;
}
.mob-product-img{
    position: relative;
    float:left;
    width:100%;
    padding-bottom: 100%;
    background: #ddd;
    margin-bottom: 10px;
    overflow: hidden;
}
.mob-product-more{
    position: absolute;
    float:left;
    width:100%;
    height:45px;
    background: #ebebeb;
    bottom:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob-more-img{
    position: relative;
    width:12px;
    margin-left:10px;
    margin-top:2px;
}
.mob-product-more a{
    position: absolute;
    display: block;
    width:100%;
    height: 100%;
    z-index: 2;
} 
/* //mob-product-img-wrap */




/* mob-information-wrap */
.mob-information-wrap{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:100px;
}
.mob-information-wrap input[type="radio"]{
    display: none;
}

.mob-information-button-wrap{
      position: relative;
    float:left;
    width:100%;
    height: auto;
    margin-top:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mob-information-wrap label{
    position: relative;
    float:left;
    width:100%;
    height: 35px;
    border-bottom: 1px solid #767676;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mob-information-wrap label p{
    position: relative;
    float:left;
    width: 100%;
    font-size: 11px;
    transition-duration: .3s;
    text-align: center;
    opacity: .6;
     transition-duration: .3s;
}




#mob-info:checked ~ .mob-information-button-wrap .mob-information-button1 p,
#mob-standard:checked ~ .mob-information-button-wrap .mob-information-button2 p,
#mob-delivery:checked ~ .mob-information-button-wrap .mob-information-button3 p,
#mob-review:checked ~ .mob-information-button-wrap .mob-information-button4 p{
    opacity: 1;
}

#mob-info:checked ~ .mob-information-button-wrap .mob-information-button1,
#mob-standard:checked ~ .mob-information-button-wrap .mob-information-button2,
#mob-delivery:checked ~ .mob-information-button-wrap .mob-information-button3,
#mob-review:checked ~.mob-information-button-wrap .mob-information-button4{
    border-bottom: 3px solid #2f2f2f;
}


#mob-info:checked ~ .mob-show-product-info-box .mob-show-product-info1,
#mob-standard:checked ~ .mob-show-product-info-box .mob-show-product-info2,
#mob-delivery:checked ~ .mob-show-product-info-box .mob-show-product-info3,
#mob-review:checked ~ .mob-show-product-info-box .mob-show-product-info4{
    display: block;
}



/* mob-show-product-info-box */
.mob-show-product-info-box{
    position: relative;
    float:left;
    width:100%;
    height: auto;
}

.mob-show-product-info-box .mob-show-product-info{
    display: none;
}

.mob-show-product-info1-detail{
    position: relative;
    float:left;
    width:100%;
    height: auto;
}



.mob-product-info-img {
    position: relative;
    float:left;
    width:90%;
    left:50%;
    transform: translate(-50%);
    margin-top:50px;
}

.mob-shipping-info-img {
    position: relative;
    float:left;
    width:90%;
    left:50%;
    transform: translate(-50%);
    margin-top:50px;
}


.mob-show-product-info4-review{
    position: relative;
    float:left;
    width:100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding:15px;
    border-bottom: 1px solid #e8e8e8;
}

.mob-show-product-info4-id{
    position: relative;
    float:left;
    width:100%;
    margin-bottom: 10px;
    font-size: 11px;
    opacity: .7;
}

    
.mob-show-product-info4-content{
    position: relative;
    float:left;
    width:100%;
    max-width: 600px;
    height: 35px;
    text-align: justify;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    overflow: hidden;
    margin-top:10px;
    font-size: 12px;
    margin-bottom: 10px;
}

.mob-show-product-info4-myoption{
    position: relative;
    float:left;
    width:100%;
    max-width: 300px;
    font-size: 11px;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.mob-show-product-info4-review-right{
    position: relative;
    margin-left:20px;
}
.mob-show-product-info4-star{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    font-size: 11px;
    margin-bottom: 10px;
}
.mob-show-product-info4-img-box{
    position: relative;
    float:left;
    width:75px;
    height: 75px;
    background: #eee;
}

/* //mob-show-product-info-box */




/* //mob-information-wrap */



/* mob-also-like */
.mob-also-like{
    position: relative;
    float:left;
    width:1000px;
    height: auto;
    margin-top:100px;
}
.mob-also-like div{
    position: relative;
    float:left;
    width:130px;
    height: 180px;
    background: #ddd;
    margin: 10px;
}
/* //mob-also-like */




 

/* mob-button */
.mob-button{
    position: fixed;
    width:100%;
    height:72px;
    bottom:0;
    left:0;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px -1px 15px 10px rgba(0,0,0,0.1);
}
.mob-cart-button{
    position: relative;
    width:200px;
    height:100%;
    border:2px solid #2F2F2F;
    border-right: 0;
    background: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    box-sizing: border-box;
}
.mob-buy-button{
    position: relative;
    width:100%;
    height:100%;
    background: #2f2f2f;
    border-right: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 16px;
}
.mob-buy-button p{
    color:#fff;
}
.mob-button a{
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    z-index: 2;
}
/* //mob-button */



/* mob-option-wrap */
.mob-option-wrap{
    position: fixed;
    bottom:0;
    width:100%;
    height:80px;
    background: #fff;
    left:0;
    transition-duration: .3s;
    box-sizing: border-box;
    padding:0 12px;
    border:1px solid #f5f5f5;
}
.mob-option-show{
    position: absolute;
    width:50px;
    height:25px;
    background: #fff;
    top:-25px;
    left:50%;
    transform: translate(-50%);
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border:1px solid #f5f5f5;
    border-bottom: 0;
}
.mob-option-show-arrow{
    position: absolute;
    width:15px;
    top:70%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.mob-option-down{
    display: none;
}


.mob-option{
    position: relative;
    float:left;
    width:100%;
    height:40px;
    margin-bottom: 5px;
    background: #f5f5f5;
}
.mob-leg-wrap{
    margin-top:50px;
}

.mob-option p{
    position: relative;
    float:left;
    margin-left:20px;
    top:50%;
    transform: translate(0,-50%);
    font-size: 12px;
}

.mob-option select{
    position: relative;
    float:right;
    width:100px;
    margin-right:20px;
    top:50%;
    transform: translate(0,-50%);
    background: none;
    border: none;
    color:#a0a0a0;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
    font-size: 11px;
}



.mob-my-option{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
    height: 100px;
    border:1px solid #2f2f2f;
}
.mob-my-option-name{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
    margin-bottom:10px;
}
.my-option-title{
    position: relative;
    float:left;
    font-size: 10px;
    margin-left:10px;
    padding-left:10px;
    border-left:2px solid #0A57BF;
}
.my-option-txt{
    position: relative;
    float:left;
    width:auto;
    font-size: 11px;
    color:#a0a0a0;
    margin-left:20px;
}





.mob-ea-wrap{
    position: absolute;
    float:right;
    border: 1px solid #292929;
    border-radius: 40px;
    padding:1px 3px;
    bottom:10px;;
    right:10px;
}
.mob-ea-wrap .del-ea, .add-ea{
    width:13px;
    height:13px;
    padding:0;
    font-family: "Urbanist-Regular";
    font-size: 10px;
    cursor: pointer;
    border:none;
    border-radius: 40px;
    text-align: center;
    background: none;
    line-height: 1;
}
.mob-ea-wrap .del-ea{
    margin-top:-1px;
}
.mob-ea-wrap .add-ea{
    color:#2f2f2f;
    border:1px solid #2f2f2f;
    margin-top:-1px;
    margin-left:-.5px;
}
.mob-ea-wrap .num-ea{
    border:none;
    font-size: 10px;
    font-family: "Urbanist-Thin";
    text-align: center;
}
.mob-price-wrap{
    position:absolute;
    float:right;
    right:0;
    bottom:-30px;
}
.mob-price-wrap .price{
    position: relative;
    width:55px;
    border:none;
    font-size: 14px;
    font-family: "Urbanist-Regular";
}
.mob-ea-wrap input:focus {
    outline:none;
}
/* //mob-option-wrap */

 