@charset "utf-8";


@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}



body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "AppleSDGothicNeoUL";
    font-size: 14px;
    overflow-x: hidden;
    z-index: 1;
}

a,
p,
li {
    text-decoration: none;
    color:#292929;
}




/*nav*/
nav{
    position: fixed;
    float:left;
    width:100%;
    height:auto;
    top:0;
    z-index: 10;
}
.nav-wrap{
    position: relative;
    width:100%;
    height:50px;
    margin:0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
}
.nav-wrap ul{
    position: relative;
    max-width: 900px;
    margin:0 auto;
}
.nav-wrap ul li{
    float:left;
    width:11.1%;
    font-size: 14px;
    padding: 15px 0;
    color:#fff;
    opacity: .7;
    transition-duration: .2s;
}
.nav-wrap ul li:hover{
    opacity: 1;
}
.nav-wrap a{
    color:#fff;
    font-family: "AppleSDGothicNeoUL";
}
.nav-wrap .logo{
    width:18px;
}

.nav-wrap .login-img, .search-img{
    width:18px;
}


/* //nav */




#main{
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top:50px;
}
#main .main-wrap{
    position: relative;
    width:100%;
    margin: 0 auto;
}
#main .main-wrap .main1, .main2, .main3{
    position: relative;
    float:left;
    width:100%;
    margin-top:30px;
    padding-top:50px;
    text-align: center;
    overflow: hidden;
}
#main .mainimg{
    width:700px;
    margin-top:50px;
    z-index: 1;
}
#main .main-title{
    font-family: "AppleSDGothicNeoB";
    font-size: 50px;
    z-index: 5;
}
#main .main-txt{
    font-family: "AppleSDGothicNeoB";
    font-size: 20px;
    color:#666;
    z-index:5;
}
#main .main-txt-top{
    color:#292929;
    z-index: 5;
}

#main .main-button{
    position: relative;
    width:100px;
    margin: 0 auto;
    margin-top:30px;
    padding:7px;
    color:#292929;
    border:1px solid #292929;
    border-radius:40px;
    text-align: center;
    transition-duration: .2s;
    cursor: pointer;
}
#main .main-button:hover{
    border:1px solid #bab86c;
    background: #bab86c;
}
#main .main-button:hover a{
    color:#fff;
}

#main .main2{
    position: relative;
    height:450px;
    background: #fcfbf9;
}
#main .cloud-sofa-img{
    width:1000px;
    margin:0 auto;
}

#main .main3{
    height:450px;
}
#main .mate-stool-img{
    width:900px;
}





#main .main-bottom{
    position: relative;
    float:left;
    width:100%;
    text-align: center;
    box-sizing: border-box;
    padding:15px 30px 15px 15px;
}

#main .main-bottom .main-title{
    font-size: 40px;
}
#main .main-bottom .main-bottom-left{
    position: relative;
    float:left;
    width:50%;
    text-align: center;
    padding-right: 7.5px;
    box-sizing: border-box;
}
#main .main4, .main5{
    float:left;
    width:100%;
    height:500px;
    padding-top:50px;
    overflow: hidden;
    margin-bottom: 15px;
}
#main .main4{
    background: #EEEFF1;
}
#main .main5{
    background: #fcfbf9;
}


#main .main-bottom .main-bottom-right{
    position: relative;
    float:right;
    width:50%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    padding-left:7.5px;
}

#main .main6, .main7{
    position: relative;
    width:100%;
    height:500px;
    padding-top:50px;
    overflow: hidden;
    margin-bottom:15px;
}
#main .main6{
    background: #fcfbf9;
}
#main .oblong-table-img{
    width:800px;
}

#main .main7{
    background: #EEEFF1;
}
#main .our-sofa-img{
    width:800px;
}