@charset "utf-8";


@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}




@font-face {
    src: url("../fonts/Jost-400-Book.ttf");
    font-family: "Jost-400-Book";
}

@font-face {
    src: url("../fonts/Jost-400-Book.woff");
    font-family: "Jost-400-Book";
}

@font-face {
    src: url("../fonts/Jost-400-Book.woff2");
    font-family: "Jost-400-Book";
}
@font-face {
    src: url("../fonts/Jost-400-Book.otf");
    font-family: "Jost-400-Book";
}


@font-face {
    src: url("../fonts/Jost-500-Medium.ttf");
    font-family: "Jost-500-Medium";
}

@font-face {
    src: url("../fonts/Jost-500-Medium.woff");
    font-family: "Jost-500-Medium";
}

@font-face {
    src: url("../fonts/Jost-500-Medium.woff2");
    font-family: "Jost-500-Medium";
}
@font-face {
    src: url("../fonts/Jost-500-Medium.otf");
    font-family: "Jost-500-Medium";
}

@font-face {
    src: url("../fonts/Jost-600-Semi.ttf");
    font-family: "Jost-600-Semi";
}

@font-face {
    src: url("../fonts/Jost-600-Semi.woff");
    font-family: "Jost-600-Semi";
}

@font-face {
    src: url("../fonts/Jost-600-Semi.woff2");
    font-family: "Jost-600-Semi";
}
@font-face {
    src: url("../fonts/Jost-600-Semi.otf");
    font-family: "Jost-600-Semi";
}



body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "AppleSDGothicNeoUL";
    font-size: 14px;
    overflow-x: hidden;
    z-index: 1;
    
}

a,
p,
li {
    text-decoration: none;
    color: #292929;
}




/*nav*/
nav {
    position: fixed;
    float: left;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 10;
}

.nav-wrap {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
}

nav .nav-wrap .pc-tablet-menu {
    display: block;
}

nav .nav-wrap .mobile-menu {
    display: none;
}

.nav-wrap .pc-tablet-menu {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.nav-wrap ul li {
    float: left;
    width: 11.1%;
    font-size: 14px;
    padding: 15px 0;
    color: #fff;
    opacity: .7;
    transition-duration: .2s;
}

.nav-wrap ul li:hover {
    opacity: 1;
}

.nav-wrap a {
    color: #fff;
    font-family: "AppleSDGothicNeoUL";
}

.nav-wrap .logo {
    width: 18px;
}

.nav-wrap .login-img,
.search-img {
    width: 18px;
}

.spread-mobile-menu{
    display: none;!important
}
/* //nav */




#main {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#main .main-wrap {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

#main .main-wrap .main1,
.main2,
.main3 {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
    padding-top: 50px;
    text-align: center;
    overflow: hidden;
}

#main .mainimg {
    width: 700px;
    margin-top: 50px;
    z-index: 1;

}

#main .main-title {
    font-family: "AppleSDGothicNeoB";
    font-size: 50px;
    z-index: 5;
}

#main .main-txt {
    font-family: "AppleSDGothicNeoB";
    font-size: 20px;
    color: #666;
    z-index: 5;
}

#main .main-txt-top {
    color: #292929;
    z-index: 5;
}

#main .main-button {
    position: relative;
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 7px;
    color: #292929;
    border: 1px solid #292929;
    border-radius: 40px;
    text-align: center;
    transition-duration: .2s;
    cursor: pointer;
}

#main .main-button:hover {
    border: 1px solid #bab86c;
    background: #bab86c;
}

#main .main-button:hover a {
    color: #fff;
}

#main .main1 {
    height: 800px;
    background-image: url(../plantlance-img/bespoke4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main .main1 .bespoke-img{
        display: none;
    }

#main .main2 {
    position: relative;
    height: 450px;
    background: #fcfbf9;
}

#main .cloud-sofa-img {
    width: 1000px;
    margin: 0 auto;
}

#main .main3 {
    height: 450px;
}

#main .mate-stool-img {
    width: 900px;
}





#main .main-bottom {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px 30px 15px 15px;
}

#main .main-bottom .main-title {
    font-size: 40px;
}



#main .main-bottom .main-bottom-left {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    padding-right: 7.5px;
    box-sizing: border-box;
    transition-duration: .5s;
}

#main .main4,
.main5 {
    position: relative;
    float: left;
    width: 100%;
    height: 500px;
    margin-bottom: 15px;
    padding-top: 50px;
    overflow: hidden;
    transition-duration: .5s;
}

#main .main4 {
    background: #EEEFF1;
}

#main .main5 {
    background: #fcfbf9;
}


#main .main-bottom .main-bottom-right {
    position: relative;
    float: right;
    width: 50%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 7.5px;
    transition-duration: .5s;
}

#main .main6,
.main7 {
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 50px;
    overflow: hidden;
    margin-bottom: 15px;
    transition-duration: .5s;
}

#main .main6 {
    background: #fcfbf9;
    /*transition-duration: .5s;*/
    background-image: url(../plantlance-img/oblong4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main .main6 .main-title {
    color: #fff;
}

#main .main6 .main-txt {
    color: #ddd;
}

#main .main6 .main-button {
    border: 1px solid #fff;
}

#main .main6 .main-button a {
    color: #fff;
}

#main .main6 .main-button:hover {
    border: 1px solid #bab86c;
}

#main .main6 .main-button:hover a {
    color: #fff;
}

#main .main7 {
    background: #EEEFF1;
}

#main .our-sofa-img {
    width: 800px;
}

footer{
    position: relative;
    float:left;
    width:100vw;
    height:240px;
    background: #292929;
    box-sizing: border-box;
    padding:25px 30px 15px 15px;
}
footer .footer-logo{
    color:#fff;
    font-family: "Jost-500-Medium";
    font-size: 20px;
    padding-bottom:25px;
    border-bottom:1px solid #fff;
}
footer ul{
    position: relative;
    float: left;
    width:100%;
    margin: 0 auto;
    margin-bottom:20px;
    padding-top:25px;
    
    text-align: center;
}

footer ul li{
    position: relative;
    float:left;
    color:#fff;
    font-family: "AppleSDGothicNeoM";
    margin-right:25px;
    margin-bottom:10px;
}
footer ul li:hover{
    text-decoration: underline;
}
.footer-bottom{
    position: relative;
    float:left;
    width:100%;
}
.footer-bottom p{
    font-size: 11px;
    color:#fff;
    margin:0 2px;
}
.company, .address, .tel-number{
    float:left;
} 










/* 태블릿 */
@media screen and (max-width: 767px) and (min-width:701px) {
    nav .nav-wrap .pc-tablet-menu {
        display: block;
    }

    nav .nav-wrap .mobile-menu {
        display: none;
    }



    #main .main-title {
        font-size: 40px;
    }

    #main .main-txt {
        font-size: 18px;
    }

    #main .main1 {
        height: 500px;
    }
    
    #main .main1 .bespoke-img{
        display: none;
    }

    #main .main2,
    #main .main3 {
        height: 400px;
    }

    #main .main2 .cloud-sofa-img {
        position: absolute;
        width: 700px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    #main .main3 .mate-stool-img {
        position: absolute;
        width: 600px;
        top: 56%;
        left: 50%;
        transform: translate(-50%);
    }



    #main .main-bottom .main-title {
        font-size: 35px;
    }

    #main .main-bottom .main-txt {
        font-size: 16px;
    }

    #main .main-bottom .main-button {
        padding: 5px 0;
    }

    #main .main-bottom .main-bottom-left .main4,
    #main .main-bottom .main-bottom-left .main5 {
        height: 400px;
    }

    #main .main-bottom .main-bottom-right .main6,
    #main .main-bottom .main-bottom-right .main7 {
        height: 400px;
    }

    #main .main-bottom .main-bottom-left .main4 .willy-table-img {
        position: absolute;
        width: 320px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #main .main-bottom .main-bottom-left .main5 .flex-sofa-img {
        position: absolute;
        width: 420px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    #main .main-bottom .main-bottom-right .main7 .our-sofa-img {
        position: absolute;
        width: 420px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* //태블릿 */




/* 모바일 */
@media screen and (max-width: 700px) and (min-width:551px){

    nav .nav-wrap .pc-tablet-menu {
        display: none;
    }

    nav .nav-wrap .mobile-menu {
        display: block;
        position: relative;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    nav .nav-wrap .mobile-menu a li {
        float: left;
        width: 40px;
        font-size: 14px;
        padding: 15px 0;
        color: #fff;
        opacity: .7;
        transition-duration: .2s;
        text-align: center;
    }

    nav .nav-wrap .mobile-menu a li .mobile-menu-img {
        position: absolute;
        float: left;
        width: 15px;
        left: 0;
        display: block;
        padding-top:2px;
    }
    .close-img {
        position: absolute;
        float: left;
        width: 13px;
        left: 0;
        display: none;
        padding-top:3px;
    }

    nav .nav-wrap .mobile-menu a li .logo-img {
        position: absolute;
        width: 20px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    nav .nav-wrap .mobile-menu a li .bag-img {
        position: absolute;
        width: 20px;
        right: 0;

    }

    .nav-wrap ul a li:hover {
        opacity: 1;
    }

    .nav-wrap a {
        color: #fff;
        font-family: "AppleSDGothicNeoUL";
    }


    .spread-mobile-menu {
        display: block;
        position: absolute;
        width: 100vw;
        height: 0vh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        -moz-backdrop-filter: blur(20px);
        transition-duration: .4s;
        z-index: 9;
        margin-top:50px;
        overflow: hidden;
    }
    .spread-mobile-menu ul a{
        font-size: 16px;
        font-family: "AppleSDGothicNeoUL";
    }
    .spread-mobile-menu ul a li{
        position: relative;
        width:85%;
        margin:0 auto;
        padding:15px 0; 
        border-bottom: 1px solid #ddd;
    }
    .spread-mobile-menu ul a li .mobile-next{
        position: absolute;
        width:12px;
        top:19px;
        right:0;
    }





    #main {
        box-sizing: border-box;
        padding: 15px 15px 15px 15px;
        margin-top: 35px;
    }




    #main .main-title {
        font-size: 40px;
    }

    #main .main-txt {
        font-size: 18px;
    }

    #main .main1 {
        height: 500px;
        
    }
    #main .main1 .bespoke-img{
        display: none;
    }

    #main .main2,
    #main .main3 {
        height: 400px;
    }

    #main .main2 .cloud-sofa-img {
        position: absolute;
        width: 700px;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    #main .main3 .mate-stool-img {
        position: absolute;
        width: 600px;
        top: 56%;
        left: 50%;
        transform: translate(-50%);
    }


    #main .main-bottom {
        padding: 0;
        margin-top: 15px;
    }

    #main .main-bottom .main-bottom-left {
        width: 100%;
        padding: 0;
    }

    #main .main-bottom .main-bottom-right {
        width: 100%;
        padding: 0;
    }

    #main .main-bottom .main-title {
        font-size: 35px;
    }

    #main .main-bottom .main-txt {
        font-size: 16px;
    }

    #main .main-bottom .main-button {
        padding: 5px 0;
    }

    #main .main-bottom .main-bottom-left .main4,
    #main .main-bottom .main-bottom-left .main5 {
        height: 400px;
    }

    #main .main-bottom .main-bottom-right .main6,
    #main .main-bottom .main-bottom-right .main7 {
        height: 400px;
    }

    #main .main-bottom .main-bottom-left .main4 .willy-table-img {
        position: absolute;
        width: 500px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #main .main-bottom .main-bottom-left .main5 .flex-sofa-img {
        position: absolute;
        width: 520px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
    }


    #main .main-bottom .main-bottom-right .main7 .our-sofa-img {
        position: absolute;
        width: 550px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
    }
    
    
    footer{
        height:270px;
    }
}









@media screen and (max-width: 549px){
    nav .nav-wrap .pc-tablet-menu {
        display: none;
    }

    nav .nav-wrap .mobile-menu {
        display: block;
        position: relative;
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }

    nav .nav-wrap .mobile-menu a li {
        float: left;
        width: 40px;
        font-size: 14px;
        padding: 15px 0;
        color: #fff;
        opacity: .7;
        transition-duration: .2s;
        text-align: center;
    }

    nav .nav-wrap .mobile-menu a li .mobile-menu-img {
        position: absolute;
        float: left;
        width: 15px;
        left: 0;
        display: block;
        padding-top:2px;
    }
    .close-img {
        position: absolute;
        float: left;
        width: 13px;
        left: 0;
        display: none;
        padding-top:3px;
    }

    nav .nav-wrap .mobile-menu a li .logo-img {
        position: absolute;
        width: 20px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
    }

    nav .nav-wrap .mobile-menu a li .bag-img {
        position: absolute;
        width: 20px;
        right: 0;

    }

    .nav-wrap ul a li:hover {
        opacity: 1;
    }

    .nav-wrap a {
        color: #fff;
        font-family: "AppleSDGothicNeoUL";
    }


    .spread-mobile-menu {
        display: block;
        position: absolute;
        width: 100vw;
        height: 0vh;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        -moz-backdrop-filter: blur(20px);
        transition-duration: .4s;
        z-index: 9;
        margin-top:50px;
        overflow: hidden;
    }
    .spread-mobile-menu ul a{
        font-size: 16px;
        font-family: "AppleSDGothicNeoUL";
        color:#fff;
    }
    .spread-mobile-menu ul a li{
        position: relative;
        width:85%;
        margin:0 auto;
        padding:15px 0; 
        border-bottom: 1px solid #ddd;
        color:#ddd;
    }
    .spread-mobile-menu ul a li .mobile-next{
        position: absolute;
        width:12px;
        top:19px;
        right:0;
    }





    #main {
        box-sizing: border-box;
        padding: 15px 15px 15px 15px;
        margin-top: 35px;
    }




    #main .main-title {
        font-size: 35px;
    }

    #main .main-txt {
        font-size: 15px;
    }
    #main .main-wrap .main1 .main-txt-wrap{
        position: absolute;
        width:100%;
        z-index: 2;
        text-align: center;
        margin:0 auto;
    }
    #main .main1 {
        height: 500px;
        background-image: none;
    }
    #main .main1 .bespoke-img{
        display: block;
        position: absolute;
        width:700px;
        margin:0;
        top:0;
        left:50%;
        transform: translate(-50%);
        
    }

    #main .main2,
    #main .main3 {
        height: 400px;
    }

    #main .main2 .cloud-sofa-img {
        position: absolute;
        width: 450px;
        top: 60%;
        left: 50%;
        transform: translate(-50%);
    }

    #main .main3 .mate-stool-img {
        position: absolute;
        width: 400px;
        top: 56%;
        left: 50%;
        transform: translate(-50%);
    }


    #main .main-bottom {
        padding: 0;
        margin-top: 15px;
    }

    #main .main-bottom .main-bottom-left {
        width: 100%;
        padding: 0;
    }

    #main .main-bottom .main-bottom-right {
        width: 100%;
        padding: 0;
    }

    #main .main-bottom .main-title {
        font-size: 30px;
    }

    #main .main-bottom .main-txt {
        font-size: 15px;
    }

    #main .main-bottom .main-button {
        padding: 5px 0;
    }

    #main .main-bottom .main-bottom-left .main4,
    #main .main-bottom .main-bottom-left .main5 {
        height: 400px;
    }

    #main .main-bottom .main-bottom-right .main6,
    #main .main-bottom .main-bottom-right .main7 {
        height: 400px;
    }

    #main .main-bottom .main-bottom-left .main4 .willy-table-img {
        position: absolute;
        width: 300px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #main .main-bottom .main-bottom-left .main5 .flex-sofa-img {
        position: absolute;
        width: 420px;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
    }


    #main .main-bottom .main-bottom-right .main7 .our-sofa-img {
        position: absolute;
        width: 380px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 20px;
    }
    
    
    footer{
        height:290px;
    }
}

/* //모바일 */
