@charset "utf-8";


@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}



body {
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0 auto;
    color: #292929;
    transition-duration: .3s;
    font-family: "AppleSDGothicNeoUL";
    font-size: 14px;
    background: #fffef3;
    overflow: hidden;
}

a,
p,
li {
    color:#fff;
    text-decoration: none;
}
button{
    border:none;
    background: none;
}

nav{
    position: fixed;
    float:left;
    width:240px;
    height:100vh;
    padding:0;
    left:0;
    top:0;
    overflow: hidden;
}
nav .nav-wrap{
    position: relative;
    width:100%;
    
}

nav video{
    position: absolute;
    top:0;
    z-index: 1;
}
.menu-wrap{
    position: relative;
    width:100%;
    height:100vh;
    text-align: center;
    z-index: 2;

}
.logo{
    position: relative;
    z-index: 2;
    width:140px;
    margin-top:220px;
}
ul{
    margin-top:50px;
}
ul li{
    width:50px;
    margin:0 auto;
    margin-bottom:10px;
    font-size: 16px;
    transition-duration: .3s;
}
ul li:hover{
    text-decoration: underline;
}
ul li:nth-child(5){
    margin-top: 200px;
}

/* //nav */

.cart-alarm{
    position: fixed;
    top:-30px;
    width:100%;
    height:30px;
    background-color: #292929;
    z-index: 10;
    text-align: center;
    font-size: 15px;
}
.cart-alarm p{
    line-height: 1.8;
}

@keyframes cartSlide{
    0%{
        top:-30px;
    }
    10%,
    30%,
    40%,
    60%{
        top:0px;
    }
    70%,
    80%,
    90%,
    100%{
        top:-30px;
    }
    
}






.swiper-container{
    position: relative;
    float:right;
    width:70%;
    height:100%;
    overflow: hidden;
}
.mouse{
    position: absolute;
    width:20px;
    top:30px;
    left:40%;
    z-index: 2;
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-iteration-count:infinite;
    animation-direction: alternate;
}
@keyframes fadeIn{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.swiper-wrapper{
    position: relative;
    float:left;
    width:100%;
    height:100%;
    display: flex;
}
.swiper-slide{
    position: relative;
    width:100%;
    height: 100%;
    background: #fffef3;
}
.swiper-slide .title{
    color:#292929;
    font-size: 25px;
    margin-top:100px;
    margin-bottom:30px;
}
.swiper-slide .txt{
    color:#292929;
    font-size: 15px;
    margin-bottom:10px;
}
.swiper-slide video{
    float:left;
    width: 900px;
    margin-top:50px;
}
.swiper-slide .main-img{
    float:left;
    width:900px;
    margin-top:50px;
}
.swiper-slide .button-wrap{
    position: relative;
    float:left;
    width:100%;
}
.swiper-slide button{
    position: relative;
    float:left;
    padding:15px 60px 15px 15px;
    border:0.5px solid #ccc;
    margin-top:25px;
    color:#292929;
    text-align: right;
    cursor: pointer;
    transition-duration: .2s;
}
.swiper-slide button:hover{
    background: #292929;
    color:#fff;
    border:1px solid #292929;
}

.swiper-slide button:hover > .arrow-white{
    opacity:1;
}

.swiper-slide .arrow{
    position: absolute;
    width:12px;
    right:12px;
    top:16px;
    opacity: 1;
    transition-duration: .2s;
}
.swiper-slide .arrow-white{
    opacity: 0;
}
.swiper-slide .slide4-txt-box{
    position: relative;
    width:100%;
    top:45%;
    left:40%;
    transform: translate(-50%,-50%);
}
.slide4-txt-box p{
    text-align: center;
    color:#292929;
    font-size: 30px;
}

.slide4-txt-box .slide4-txt{
    font-size: 13px;
    margin-top:30px;
    font-family: "AppleSDGothicNeoB";
}

/* slide */


