@charset "utf-8";


@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}



body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    color: #292929;
    font-family: "AppleSDGothicNeoUL";
    font-size: 14px;
    background: #fffef3;
    overflow: hidden;
}

a,
p,
li {
    color: #fff;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

nav {
    position: fixed;
    float: left;
    width: 240px;
    height: 100vh;
    padding: 0;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 10;
}

nav .nav-wrap {
    position: relative;
    width: 100%;

}

nav video {
    position: absolute;
    top: 0;
    z-index: 1;
}

.menu-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 2;

}

.logo {
    position: relative;
    z-index: 2;
    width: 140px;
    margin-top: 220px;
}

ul {
    margin-top: 50px;
}

ul li {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 16px;
    transition-duration: .3s;
}

ul li:hover {
    text-decoration: underline;
}

ul #login {
    margin-top: 200px;
}

/* //nav */




/* store */
.store-place {
    position: relative;
    float: right;
    width: 70%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0;
}

@keyframes storefadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.store-place .store-title {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 220px;
    color: #292929;
    font-size: 24px;
}

.store-search {
    position: relative;
    float: left;
    width: 400px;
    margin-top: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #292929;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

input:focus {
    outline: none;
}

.store-box {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
}

.store-info-txt {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

.store-name {
    float: left;
    width: 100%;
    color: #292929;
    font-size: 17px;
    text-align: left;
}

.store-address {
    float: left;
    width: 100%;
    margin-top: 10px;
    color: #666;
    font-size: 12px;
    text-align: left;
}

.number {
    margin-top: 5px;
}

.store-info-img {
    position: relative;
    float: left;
    width: 73%;
    margin-left: 10px;
}

.store-info-img .store1 {
    width: 100%;
    max-width: 800px;
}

/* //store */



.bg-black {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}



/* search */
input {
    font-family: "AppleSDGothicNeoUL"
}


.search-place-mob {
    display: none;
}

.search-place {
    position: absolute;
    width: 400px;
    height: 100vh;
    top: 0;
    left: -240px;
    background: #fffef3;
    z-index: 5;
    transition-duration: .4s;
    display: block;
}

.search-wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.search-wrap .search-title {
    float: left;
    width: 100%;
    color: #292929;
    font-size: 26px;
    margin-top: 175px;
    margin-bottom: 20px;
}

.search-wrap .prev {
    width: 20px;
    margin-top: 30px;
}

.search-wrap input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #292929;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    background: #fffef3;
}

.search-wrap .popular-search {
    float: left;
    width: 100%;
    color: #999;
    font-size: 20px;
}

.search-wrap .popular1 {
    font-size: 14px;
    color: #292929;
    margin-bottom: 10px;
}


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}
/* //search */




/* cart */
#cart-alarm {
    position: fixed;
    top: -30px;
    width: 100%;
    height: 30px;
    background-color: #292929;
    z-index: 10;
    text-align: center;
    font-size: 15px;
}

#cart-alarm p {
    line-height: 1.8;
}
/* //cart */






















/* slide */
.swiper-container {
    position: relative;
    float: right;
    width: 70%;
    height: 100%;
    overflow: hidden;
    transition-duration: .4s;
    display: block;
    z-index: 2;
}

@keyframes otherfadeOut {
    from {
        display: block;
        z-index: 1;
    }

    to {
        display: none;
        z-index: -1;
    }
}

.mouse {
    position: absolute;
    width: 20px;
    top: 30px;
    left: 40%;
    z-index: 2;
    animation-name: fadeIn;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes fadeIn {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}





.swiper-wrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
}

.swiper-slide {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fffef3;
}

.swiper-slide .title {
    color: #292929;
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.swiper-slide .txt {
    color: #292929;
    font-size: 15px;
    margin-bottom: 10px;
}

.swiper-slide video {
    float: left;
    width: 900px;
    margin-top: 50px;
}

.swiper-slide .main-img {
    float: left;
    width: 900px;
    margin-top: 50px;
}

.swiper-slide .button-wrap {
    position: relative;
    float: left;
    width: 100%;
}

.swiper-slide button {
    position: relative;
    float: left;
    padding: 15px 60px 15px 15px;
    border: 0.5px solid #ccc;
    margin-top: 25px;
    color: #292929;
    text-align: right;
    cursor: pointer;
    transition-duration: .2s;
}

.swiper-slide button:hover {
    background: #292929;
    color: #fff;
    border: 1px solid #292929;
}

.swiper-slide button:hover > .arrow-white {
    opacity: 1;
}

.swiper-slide .arrow {
    position: absolute;
    width: 12px;
    right: 12px;
    top: 16px;
    opacity: 1;
    transition-duration: .2s;
}

.swiper-slide .arrow-white {
    opacity: 0;
}

.swiper-slide .slide4-txt-box {
    position: relative;
    width: 100%;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.slide4-txt-box p {
    text-align: center;
    color: #292929;
    font-size: 30px;
}

.slide4-txt-box .slide4-txt {
    font-size: 13px;
    margin-top: 30px;
    font-family: "AppleSDGothicNeoB";
}

/* //slide */

















@media screen and (max-width: 1020px) and (min-width:550px) {

    /* nav */
    nav {
        position: fixed;
        float: left;
        width: 100%;
        height: 90px;
        top: 0;
        z-index: 10;
    }

    nav .nav-wrap {
        position: relative;
        width: 100%;
        float: left;
    }

    nav video {
        position: absolute;
        width: 100%;
        top: -80px;
        z-index: 1;
    }

    .menu-wrap {
        position: relative;
        float: left;
        width: 100%;
        height: 50px;
        text-align: center;
        z-index: 2;

    }

    .logo {
        position: relative;
        float: left;
        z-index: 2;
        width: 140px;
        margin-top: 20px;
        margin-left: 20px;
    }

    ul {
        position: relative;
        float: right;
        width: 380px;
        margin-top: 0px;
    }

    ul li {
        width: 50px;
        float: left;
        margin: 0 auto;
        margin-top: 30px;
    }

    ul li:hover {
        text-decoration: underline;
    }

    ul #login {
        margin-top: 30px;
        margin-left: 70px;
    }







    /* //nav */

    .swiper-container {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 90px;
        text-align: center;
    }

    .swiper-slide {
        padding-top: 80px;
    }

    .swiper-slide .title {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 30px;
    }

    .swiper-slide .txt {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        margin-bottom: 15px;
    }

    .swiper-slide .main-img {
        width: 100%;
        margin-top: 90px;
    }

    .swiper-slide .button-wrap {
        float: none;
        width: 90%;
        margin: 0 auto;
    }

    .swiper-slide .slide4-txt-box {
        position: relative;
        width: 100%;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .mouse {
        display: none;
    }





    .store-place {
        position: absolute;
        float: right;
        width: 90%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .store-info-txt {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .store-name {
        position: relative;
        float: left;
        width: 100px;
        margin-left: 10px;
    }

    .store-address {
        position: absolute;
        width: 150px;
        margin-top: 10px;
        right: 80px;
    }

    .number {
        float: right;
        width: 70px;
        right: 0px;
    }

    .store-info-img {
        width: 100%;
        max-width: none;
    }





    /* search-mob */
    .search-place{
        display: none;
    }
    
    .search-place-mob {
        position: absolute;
        width: 100%;
        height: 380px;
        top: -460px;
        left: 0px;
        background: #fffef3;
        z-index: 5;
        transition-duration: .4s;
        display: block;
    }

    .search-wrap {
        position: relative;
        width: 60%;
        margin: 0 auto;
    }

    .search-wrap .search-title {
        float: left;
        width: 100%;
        color: #292929;
        font-size: 26px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .search-wrap .prev {
        width: 20px;
        margin-top: 30px;
    }

    .search-wrap input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid #292929;
        margin-bottom: 40px;
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        background: #fffef3;
    }

    .search-wrap .popular-search {
        float: left;
        width: 100%;
        color: #999;
        font-size: 20px;
    }

    .search-wrap .popular1 {
        font-size: 14px;
        color: #292929;
        margin-bottom: 10px;
    }
     /* //search-mob */




}
