@charset "utf-8";


@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}





@font-face {
    src: url("../fonts/OptimaMedium.ttf");
    font-family: "OptimaMedium";
}

@font-face {
    src: url("../fonts/OptimaMedium.woff");
    font-family: "OptimaMedium";
}

@font-face {
    src: url("../fonts/OptimaMedium.woff2");
    font-family: "OptimaMedium";
}




@font-face {
    src: url("../fonts/OPTIMA.ttf");
    font-family: "OPTIMA";
}

@font-face {
    src: url("../fonts/OPTIMA.woff");
    font-family: "OPTIMA";
}

@font-face {
    src: url("../fonts/OPTIMA.woff2");
    font-family: "OPTIMA";
}



body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    color: #292929;
    transition-duration: .3s;
    font-family: "AppleSDGothicNeoUL";
    font-size: 14px;
    background: #fffef3;
    overflow-x: hidden;
}

a,
p,
li {
    color: #fff;
    text-decoration: none;
}

button {
    border: none;
    background: none;
}

nav {
    position: fixed;
    float: left;
    width: 240px;
    height: 100vh;
    padding: 0;
    left: 0;
    top: 0;
    overflow: hidden;
}

nav .nav-wrap {
    position: relative;
    width: 100%;

}

nav video {
    position: absolute;
    top: 0;
    z-index: 1;
}

.menu-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    z-index: 2;

}

.logo {
    position: relative;
    z-index: 2;
    width: 140px;
    margin-top: 220px;
}

ul {
    margin-top: 50px;
}

ul li {
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 16px;
    transition-duration: .3s;
}

ul li:hover {
    text-decoration: underline;
}

ul #login {
    margin-top: 200px;
}

/* //nav */


#search-place {
    position: relative;
    opacity: 1;
    transition-duration: .3s;
    width: 80%;
    height: 0px;
    margin: 0 auto;
    overflow: hidden;
}

.close-img {
    position: absolute;
    width: 10px;
    bottom: 15px;
    z-index: 2;
}

.search-img {
    position: absolute;
    bottom: 15px;
    right: 13px;
    z-index: 2;
}

#search-place input {
    position: relative;
    background: none;
    border: 0;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    z-index: 1;
}



#cart-alarm {
    position: fixed;
    top: -30px;
    width: 100%;
    height: 30px;
    background-color: #292929;
    z-index: 10;
    text-align: center;
    font-size: 15px;
}

#cart-alarm p {
    line-height: 1.8;
}

@keyframes cartSlide {
    0% {
        top: -30px;
    }

    10%,
    30%,
    40%,
    60% {
        top: 0px;
    }

    70%,
    80%,
    90%,
    100% {
        top: -30px;
    }

}

.slideInAnimation {
    animation-name: cartSlide;
    animation-duration: 3s;
}





/* top-menu */
.top-menu {
    position: relative;
    float: right;
    width: 80%;
    height: 150px;
    text-align: center;
    transition-duration: .4s;
}

.top-menu .menu-wrap {
    position: relative;
    width: 470px;
    height: 200px;
    margin: 0 auto;
    overflow-y: hidden;
}

.menu-circle {
    position: relative;
    float: left;
    background: #d5d2b4;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin: 35px 13px 0 13px;
    text-align: center;
    transition-duration: .3s;
}

.menu-circle:hover {
    background: #a6a387;
}

.menu-circle:hover > .circle-txt {
    color: #fff;
}

.menu-circle .menu-title {
    position: absolute;
    width: 100%;
    bottom: -35px;
    font-family: "AppleSDGothicNeoM";
    font-size: 14px;
    color: #292929;
}

.menu-circle .circle-txt {
    position: absolute;
    font-family: "optima";
    font-size: 16px;
    color: #292929;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: .2s;

}

.menu-circle img {
    position: absolute;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-circle img:nth-child(2) {
    opacity: 0;
}

.menu-circle:hover > img:nth-child(2) {
    opacity: 1;
}

.menu-circle:hover > img:nth-child(1) {
    opacity: 0;
}

.menu-wrap a:nth-child(1) .menu-circle {
    background: #a6a387;
}

.menu-wrap a:nth-child(1) .menu-circle .circle-txt {
    color: #fff;
}

/* //top-menu */


@keyframes otherfadeOut {
    from {
        display: block;
        z-index: 1;
    }

    to {
        display: none;
        z-index: -1;
    }
}




/* athenaeum */
.athenaeum {
    position: relative;
    float: right;
    width: 80%;
    margin-top: 70px;
    transition-duration: .4s;
}

.athenaeum-wrap {
    position: relative;
    width: 840px;
    margin: 0 auto;
}

.athenaeum-wrap .title-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 auto;
}

.athenaeum-wrap .title-wrap .title {
    width: 720px;
    margin: 0 auto;
    color: #292929;
    font-size: 30px;
}

.athenaeum-wrap .sub-title {
    width: 720px;
    margin: 0 auto;
    color: #292929;
    font-size: 14px;
    margin-top: 18px;
}

.athenaeum-wrap .img-wrap {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 40px;
}

.img-wrap .img-box {
    position: relative;
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 70px;
}

.img-wrap .img-box img {
    width: 300px;
}

.read-txt-box {
    width: 300px;
    margin: 0 auto;
}

.read-title {
    float: left;
    color: #292929;
    font-size: 20px;
}

.read-minute {
    float: right;
    color: #999;
    margin-top: 5px;
}

.read-kind {
    float: left;
    width: 100%;
    color: #292929;
    text-align: left;
    margin-top: 5px;
    font-size: 12px;
}

/* //athenaeum */






/*

.swiper-container{
    position: relative;
    float:right;
    width:70%;
    height:100%;
    overflow: hidden;
}
.swiper-wrapper{
    position: relative;
    float:left;
    width:100%;
    height:100%;
    display: flex;
}
.swiper-slide{
    position: relative;
    width:100%;
    height: 100%;
    background: #fffef3;
}
.swiper-slide .title{
    color:#292929;
    font-size: 25px;
    margin-top:100px;
    margin-bottom:30px;
}
.swiper-slide .txt{
    color:#292929;
    font-size: 15px;
    margin-bottom:10px;
}
.swiper-slide video{
    float:left;
    width: 900px;
    margin-top:50px;
}
.swiper-slide .main-img{
    float:left;
    width:900px;
    margin-top:50px;
}
.swiper-slide .button-wrap{
    position: relative;
    float:left;
    width:100%;
}
.swiper-slide button{
    position: relative;
    float:left;
    padding:15px 60px 15px 15px;
    border:0.5px solid #ccc;
    margin-top:25px;
    color:#292929;
    text-align: right;
    cursor: pointer;
}

.swiper-slide .arrow{
    position: absolute;
    width:12px;
    right:12px;
    top:16px;
}

*/


/* slide */

/* store */
.store-place {
    position: absolute;
    float: right;
    width: 70%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    top: 0;
    right: 0;
    opacity: 0;
}

@keyframes storefadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.store-place .store-title {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 220px;
    color: #292929;
    font-size: 24px;
}

.store-search {
    position: relative;
    float: left;
    width: 400px;
    margin-top: 20px;
    background: none;
    border: none;
    border-bottom: 1px solid #292929;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 5px;
}

input:focus {
    outline: none;
}

.store-box {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 60px;
}

.store-info-txt {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

.store-name {
    float: left;
    width: 100%;
    color: #292929;
    font-size: 17px;
    text-align: left;
}

.store-address {
    float: left;
    width: 100%;
    margin-top: 10px;
    color: #666;
    font-size: 12px;
    text-align: left;
}

.number {
    margin-top: 5px;
}

.store-info-img {
    position: relative;
    float: left;
    width: 73%;
    margin-left: 10px;
}

.store-info-img .store1 {
    width: 100%;
    max-width: 800px;
}

/* //store */






@media screen and (max-width: 900px) and (min-width:550px) {

    /* nav */
    nav {
        position: fixed;
        float: left;
        width: 100%;
        height: 90px;
        top: 0;
        z-index: 4;
    }

    nav .nav-wrap {
        position: relative;
        width: 100%;
        float: left;

    }

    nav video {
        position: absolute;
        top: -80px;
        width: 100%;
        z-index: 1;

    }

    .nav-wrap .menu-wrap {
        position: relative;
        float: left;
        width: 100%;
        height: 50px;
        text-align: center;
        z-index: 2;

    }

    .logo {
        position: relative;
        float: left;
        z-index: 2;
        width: 140px;
        margin-top: 20px;
        margin-left: 20px;
    }

    ul {
        position: relative;
        float: right;
        width: 380px;
        margin-top: 0px;
    }

    ul li {
        width: 50px;
        float: left;
        margin: 0 auto;
        margin-top: 30px;
    }

    ul li:hover {
        text-decoration: underline;
    }

    ul #login {
        margin-top: 30px;
        margin-left: 70px;
    }

    #search-place {
        position: absolute;
        top: 50px;
        width: 100%;
    }

    #search-place input {
        width: 350px;
        right: 4px;
    }

    #search-place .search-img {
        right: 22px;
    }

    /* //nav */




    /**/
    .top-menu {
        position: relative;
        float: left;
        width: 100%;
        height: 150px;
        margin-top: 90px;
        text-align: center;
        z-index: 1;
    }

    .top-menu .menu-wrap {
        position: relative;
        width: 480px;
        height: 200px;
        margin: 0 auto;
        overflow-y: auto;
        text-align: center;
    }

    .menu-circle {
        position: relative;
        float: left;
        background: #d5d2b4;
        width: 90px;
        height: 90px;
        border-radius: 100%;
        margin: 35px 13px 0 13px;
        text-align: center;
        transition-duration: .3s;
    }

    /**/






    /* athenaeum */
    .athenaeum {
        position: relative;
        float: left;
        width: 100%;
        margin-top: 70px;
    }

    .athenaeum-wrap {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    .img-wrap .img-box img {
        width: 90%;
    }
    .athenaeum .athenaeum-wrap .img-wrap a:nth-child(3) .img-box img{
        width:90%;
    }

    /* //athenaeum */


    /* store */
    .store-place {
        position: absolute;
        float: right;
        width: 90%;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    .store-info-txt {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

    .store-name {
        position: relative;
        float: left;
        width: 100px;
        margin-left: 10px;
    }

    .store-address {
        position: absolute;
        width: 150px;
        margin-top: 10px;
        right: 80px;
    }

    .number {
        float: right;
        width: 70px;
        right: 0px;
    }

    .store-info-img {
        width: 100%;
        max-width: none;
    }

    /* //store */

}
