@charset "utf-8";


/*   Apple SD Gothic Neo(폰트)   */
@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@keyframes disappear {
    from {
        opacity: 0;
        bottom: -610px;
    }

    to {
        opacity: 1;
        bottom: 0;
    }
}


/*  //Apple SD Gothic Neo(폰트)  */

body {
    margin: 0 auto;
    padding: 0;
    width: 100vw;
    height:100vh;
    font-family: "AppleSDGothicNeoB";
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../greencar-img/greencar-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

a,
p,
li {
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    color: #3A4E58;
}

/* nav */
nav {
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
    z-index: 10;
}

nav .nav-wrap {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    width: 80%;
}

nav .nav-wrap .logo {
    position: relative;
    float: left;
    width: 120px;
    margin-top: 20px;
}

nav .nav-wrap .nav-menu {
    position: relative;
    float: right;
}

nav .nav-wrap .nav-menu .menu-title {
    float: left;
    width: 100px;
    height: 60px;
    margin-right: 67px;
    font-family: "AppleSDGothicNeoM";
    font-size: 18px;
    line-height: 3.4;
}

nav .nav-wrap .nav-menu .menu-title:hover {
    color: #56B37A;
    transition: .1s;
}

nav .nav-wrap .nav-menu .log-out {
    position: relative;
    float: right;
    width: 30px;
    margin-top: 15px;
}



nav .nav-second-menu {
    position: relative;
    width: 100%;
    height: 0px;
    margin-top: 61px;
    background-color: #fff;
    text-align: center;
    z-index: 2;
}

nav .nav-second-menu .nav-second-menu-wrap {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: none;
}

nav .nav-second-menu .nav-second-menu-wrap .nav-second-title-wrap {
    float: right;
    width: 100px;
    margin-top: 20px;
    margin-right: 67px;
    font-family: "AppleSDGothicNeoM";
    font-size: 18px;

}

nav .nav-second-menu .nav-second-menu-wrap .nav-second-title-wrap:nth-child(1) {
    margin-right: 97px;
}

nav .nav-second-menu .nav-second-menu-wrap .nav-second-title-wrap .second-title {
    line-height: 2.3;
}

nav .nav-second-menu .nav-second-menu-wrap .nav-second-title-wrap .second-title p:hover {
    color: #56B37A;
    transition: .1s;
}

/* //nav 종료*/





/* main */
/*#main{
    position: relative;
    float:left;
    width:100vw;
    height:100vh;
    background-image: url(../greencar-img/greencar-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
#main .main-wrap{
    position: relative;
    margin:0 auto;
    width: 960px;
    height:740px;
    overflow: hidden;
}
#main .main-wrap .greencar-main{
    position: absolute;
    width:100%;
    height:320px;
    bottom:-620px;
    background-color: #56B37A;
    border-radius: 40px;
    animation-name: disappear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    opacity: 0;
}
#main .main-wrap .greencar-main .main-title{
    position: absolute;
    top:68px;
    left:68px;
    color:#fff;
    font-size: 55px;
}
#main .main-wrap .greencar-main .main-txt{
    position: absolute;
    bottom:88px;
    left:68px;
    font-family: "AppleSDGothicNeoM";
    color:#fff;
    font-size: 25px;
}
#main .main-wrap .greencar-main .greencar-mobile{
    position: absolute;
    width:276px;
    bottom:68px;
    right:68px;
}
#main .slogan-kr{
    position:absolute;
    top:40px;
    right:150px;
    width:150px;
}
#main .slogan-en{
    position:absolute;
    top:55px;
    right:150px;
    width:170px;
}*/


.swiper-container {
    position: relative;
    width: 960px;
    height: 720px;
    margin-top:220px;
    z-index: 1;
    border-radius: 40px;
    overflow: hidden;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.swiper-slide .slide-wrapper {
    position: absolute;
    width: 100%;
    height: 280px;
    bottom: 0px;
    background-color: #56B37A;
    border-radius: 40px;
    /*animation-name: disappear;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    opacity: 0;*/
}
.swiper-slide{
    position: relative;
    margin:0 auto;
    padding:0;
}

.swiper-slide .slide-wrapper .main-title {
    position: relative;
    top: 40px;
    left: 68px;
    color: #fff;
    font-size: 55px;
}

.swiper-slide .slide-wrapper .main-txt {
    position: relative;
    top:70px;
    left: 68px;
    font-family: "AppleSDGothicNeoM";
    color: #fff;
    font-size: 25px;
}

.swiper-slide .slide-wrapper .greencar-mobile {
    position: absolute;
    width: 276px;
    bottom: 40px;
    right: 30px;
}

.swiper-container-vertical > .swiper-pagination-bullets {
    position: absolute;
    top:80%;
}
.swiper-pagination-bullet{
    opacity: 1;
    background: #fff;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: #000;
}
.pagination-wrapper{
    position: absolute;
    width:16px;
    height:60px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    top:75.8%;
    right:6px;
    z-index: 10;
}



/* //main 종료 */
