@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900|Comfortaa:wght@300;400;500;600;700|Syncopate|Questrial&display=swap');

/*   Apple SD Gothic Neo(폰트)   */
@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}





@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}

/*  //Apple SD Gothic Neo(폰트)  */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: -600px;
    }
}

@keyframes disappear {
    from {
        height: 100%;
        opacity: 1;
        z-index: 10;
        overflow-y: hidden;

    }

    to {
        height: 0;
        opacity: 0;
        z-index: 0;

    }
}




body {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    animation: fadeIn 2s forwards;
    margin: 0 auto;
    -ms-overflow-style: none;
    -webkit-overflow-style: none;
    -moz-overflow-style: none;
    overflow-y: hidden;
    font-family: "AppleSDGothicNeoUL";
    font-size: 14px;
}

::-webkit-scrollbar {
    display: none;
}

::-ms-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

a,
p,
li {
    color: #292929;
    text-decoration: none;
}


input{
    -webkit-appearance: none;
   -webkit-border-radius: 0;
}

/* 지도 */
#naverMap {
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    top: 0px;
    z-index: 1;

}

/* //지도 */


/* 왼쪽 사이드 메뉴 */
.left-menu {
    position: absolute;
    width: 60px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-5px, -50%);
    left: 20px;
    z-index: 2;
    text-align: center;
}

.left-menu-wrap {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-color: rgba(100, 100, 100, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border-radius: 15px;
}

.all-img-wrap {
    position: relative;
    float: left;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.menu-img {
    position: relative;
    float: left;
    width: 90%;
    height: 25%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.all-img-wrap img {
    position: relative;
    width: 50%;
    text-align: center;
    transition-duration: .2s;
}

.all-img-wrap .menu-white {
    opacity: 1;
    z-index: 2;
}

.all-img-wrap .menu-black {
    position: absolute;
    width: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    z-index: 1;
}

.all-img-wrap .home-black {
    opacity: 01;
    z-index: 2;
}

.all-img-wrap p {
    margin-top: 5px;
    margin-bottom: 18px;
    color: #292929;
    font-size: 12px;
}

/* //왼쪽 사이드 메뉴 */




/* 스타트 */
.starting{
    position: absolute;
    z-index: 2;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.starting p{
    font-size: 14px;
    background: #292929;
    color:#fff;
    padding:4px 10px 5px 10px;
    border-radius: 10px;
    font-family: "AppleSDGothicNeoM";
    animation-name: spendStart;
    animation-delay: 3s;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    
}
@keyframes spendStart{
    from{
        padding:4px 10px 5px 10px;
    }
    to{
        padding: 4px 20px 5px 20px;
    }
}
/* //스타트 */



/* 모바일 */
@media screen and (max-width:500px) and (min-width:100px) {
    
    .left-menu{
        display: none;
    }
    
    /* 홈 - 하단 */
.home-bottom {
    position: absolute;
    float: left;
    width: 100%;
    height: 80px;
    bottom: 10px;
    left:0;
}

.home-bottom .home-bottom-wrap {
    position: relative;
    width: 95vw;
    height: 80px;
    margin:0 auto;
    background-color: rgba(100, 100, 100, 0.1);
    border-radius: 15px;
    
    
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border-radius: 15px;
    
    
    z-index: 2;
}
.bottom-title-wrap{
    position: relative;
    width:90%;
    height:80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/* //홈 - 하단 */

}

/* //모바일 */
