@charset "utf-8";
@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

@font-face {
    font-family: "Druk Wide Bold";
    src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot");
    src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg");
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.ttf");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoT.woff2");
    font-family: "AppleSDGothicNeoT";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Druk Wide Bold";
    color: #292929;
    overflow-x: hidden;
    transition-duration: .3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ebf9ff;
}

a,
p,
li {
    text-decoration: none;
    color: #292929;
}

nav {
    position: relative;
    float: left;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    padding: 0;

}

nav .nav-wrap {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

nav .logo {
    font-size: 25px;
    color: #0073a3;
    margin-top: 30px;
    text-align: center;
}
nav .logo-img{
    width:70px;
    margin:0 auto;
    text-align: center;
}





.main-box {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding: 0;
}

.main-box .main-wrap {
    position: relative;
    width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}



/* left */
.left {
    position: relative;
    float: left;
    width: 530px;
    margin-bottom: 35px;
}

/* txt-box */
.txt-box {
    position: relative;
    background-color: #fff;
    border-radius: 40px;
    transition-duration: .2s;
    overflow: hidden;
}

.txt-box:hover {
    box-shadow: 4px 10px 40px 1px rgba(0, 0, 0, 0.1);
    transition-duration: .5s;
}


/* info */
.info {
    float: left;
    width: 100%;
    height: 300px;
    margin-bottom: 35px;
    text-align: center;
}

.info .info-wrap {
    position: relative;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 100px;
    font-family: "AppleSDGothicNeoM";
    font-size: 16px;
    text-align: left;
    margin-top: 55px;
    line-height: 1.6;
}

.info img {
    position: absolute;
    width: 100px;
    left: 45px;
    top: 30px;
    animation-name: handshake;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    
}
@-webkit-keyframes handshake{
   0%{
        -webkit-transform: rotate(0deg);
    }
    20%,
    40%,
    60%,
    80%{
       -webkit-transform: rotate(10deg);
    }
    10%,
    30%,
    50%{
        -webkit-transform: rotate(-10deg);
    }
    70%,
    100%{
        -webkit-transform: rotate(0);
    }
}


.info .info-wrap p:nth-child(1) {
    font-family: "AppleSDGothicNeoB";
    font-size: 25px;
}

/* //txt-box */


/* github */
.github {
    position: relative;
    float: left;
    width: 47%;
    height: 250px;
    margin-bottom: 35px;
    transition-duration: .4s;
    cursor: pointer;
    text-align: center;
    /*background-color: #ddb4ff;*/
    background-color: #f3d9fa;
}

.github .github-logo {
    position: absolute;
    width: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.github .github-logo:nth-child(2){
    opacity: 0;
}

.btn {
    position: absolute;
    width: 90%;
    height: 50px;
    margin:0 auto;
    left:12px;
    bottom:-100px;
    border-radius: 40px;
    background: #fff;
    transition-duration: .3s;
    overflow: hidden;
    z-index: 10;
    box-shadow: 1px 10px 30px 1px rgba(0, 0, 0, 0.07);
}

.btn .txt {
    float: left;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 15px;
}

.btn .arrow {
    float: right;
    width: 35px;
    margin-right: 15px;
    margin-top:7px;
}

/* //github */


/* email,call */
.email {
    float: right;
    width: 46%;
    height: 250px;
    overflow: hidden;
    /*background-color: #ffe5b9;*/
    background-color: #ffe3e3;
}

.email .email-img {
    position: absolute;
    z-index: 3;
    width: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //email,call */

/* taxi */
.taxi {
    float: left;
    width: 100%;
    height: 300px;
    overflow: hidden;
    /*background-color: #fffcd8;*/
    background-color: #fff3bf;
    margin-bottom: 35px;
}

.taxi .taxi-main {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 4px 10px 30px 1px rgba(0, 0, 0, 0.1);
}
/* //taxi */




/* tool */
.tool{
    float: left;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.tool img{
    width:100%;
}
.tool .tool-wrap {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tool .tool-wrap p {
    float: left;
    background-color: rgba(10, 10, 10, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    padding: 5px 10px;
    border-radius: 40px;
    margin: 4px;
    font-size: 20px;
    color:#fff;
}
/* //tool */

/* //left */
















/* right */
.right {
    position: relative;
    float: right;
    width: 530px;
}

/* mode */
.mode {
    float: left;
    width: 46%;
    height: 135px;
    margin-bottom: 35px;
}

.mode .button-wrap {
    position: relative;
    width: 100px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    border: 2px solid #ccc;
    background-color: #fff;
    transition-duration: .6s;
    z-index: 5;
}

.mode .button-wrap .button {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #292929;
    border-radius: 40px;
    left: 5px;
    top: 5px;
    z-index: 10;
    cursor: pointer;
}

.mode .button-wrap .dark-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #292929;
    border-radius: 40px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 11;
    transition-duration: .2s;
}

.mode .button-wrap .light-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fafafa;
    border-radius: 40px;
    left: 0px;
    top: 0px;
    transition-duration: .8s;
    z-index: -1;
}

@keyframes darkMode {
    from {
        left: 5px;
        background-color: #292929;
    }

    to {
        left: 55px;
        background-color: #fafafa;
    }
}

@keyframes lightMode {
    from {
        left: 55px;
        background-color: #fafafa;
    }

    to {
        left: 5px;
        background-color: #292929;
    }
}

.mode .button-wrap .mode-txt {
    position: absolute;
    font-size: 10px;
    right: 9px;
    top: 17px;
    transition-duration: .3s;
}

.mode .button-wrap .dark {
    opacity: 1;
}

.mode .button-wrap .light {
    left: 9px;
    top: 17px;
    opacity: 0;
}

.mode-pc {
    display: block;
}

.mode-mobile {
    display: none;
}

/* //mode */


/* skill */
.skill {
    float: right;
    width: 46%;
    height: 135px;
    text-align: center;

}

.skill .skill-wrap {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill .skill-wrap p {
    float: left;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 40px;
    margin: 4px;
    font-size: 11px;
}

/* //skill */






/* ford */

.ford {
    float: left;
    width: 100%;
    height: 415px;
    margin-bottom: 35px;
    overflow: hidden;
    /*background-color: #b9d7ff;*/
    background-color: #a5d8ff;
}

.ford .ford-pc {
    position: absolute;
    width: 320px;
    top: 20px;
    left: 15px;
    box-shadow: 4px 10px 30px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.ford .ford-mobile {
    position: absolute;
    width: 140px;
    top: 20px;
    right: 15px;
    box-shadow: 4px 10px 30px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.intro {
    position: absolute;
    width: 95%;
    /*height:165px;*/
    height:50px;
    padding-top:10px;
    bottom:12px;
    margin:0 2.5%;
    background-color: rgba(10, 10, 10, 0.2);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    transition-duration: .3s;
    /*background-color: #fff;*/
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 1px 10px 30px 1px rgba(0, 0, 0, 0.07);
}


/*
.intro-ford{
    /*top:220px;
    top:345px;
    height:50px;
}
*/


.intro-txt-box {
    width: 90%;
    margin:0 auto;
    text-align: center;
    
}
.intro-txt-box-top{
    float: left;
    width:100%;
    margin-bottom:15px;
}
.intro-txt-box-top .arrow{
    float:right;
    width:40px;
}
.intro-txt-box .title {
    float: left;
    text-align: left;
    font-size: 25px;
    color:#fff;
    margin-top:3px;
}
.intro-txt-box-wrap {
    position: absolute;
    float:left;
    width:90%;
    bottom:10px;
    opacity: 0;
    transition-duration: .5s;
}
.intro-txt-box-wrap .txt-explain{
    float:left;
    width: 100%;
    text-align: left;
    margin:0px 0px 5px 0;
    font-family: "AppleSDGothicNeoM";
    font-size: 16px;
    color:#fff;   
}


/* //ford */


/* klairs */
.klairs{
    position: relative;
    float:right;
    width:100%;
    height:300px;
    margin-bottom:35px;
    background-color: #ffe8cc;
}

/* //klairs */



/* call */
.call{
    float:left;
    width:46%;
    height:250px;
    /*background-color: #8ce99a;*/
    background-color: #d3f9d8;
    text-align: center;
}
.call .call-img{
    position: absolute;
    width:70px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition-duration: .3s
}
.call .call-img:nth-child(1){
    opacity: 1;
}
.call .call-img:nth-child(2){
    opacity: 0;
}
.call-btn .txt{
   position: absolute;
    width:100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-left: 0;
    margin-top: 0;
}

@-webkit-keyframes shake{
    0%{
        -webkit-transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
       -webkit-transform: translate(3px);
    }
    10%,
    30%,
    50%{
        -webkit-transform: translate(-3px);
    }
    70%,
    100%{
        -webkit-transform: translate(0);
    }
}

@keyframes shake{
    0%{
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
       transform: translate(3px);
    }
    10%,
    30%,
    50%{
        transform: translate(-3px);
    }
    70%,
    100%{
        transform: translate(0);
    }
}
/* //call */





/* map */
#map{
    float:right;
    width:46%;
    height:250px;
    margin-bottom: 35px;
}
/* //map */




/* //right */







/* tablet */
@media screen and (max-width:1150px) and (min-width:531px) {

    .main-box .main-wrap {
        width: 530px;
    }

    .left,
    .right {
        width: 100%;
    }

}

/* //tablet */




/* mobile */
@media screen and (max-width:530px) and (min-width:100px) {

    .main-box .main-wrap {
        width: 350px;
    }

    .left,
    .right {
        width: 100%;
    }

    .info img {
        width: 90px;
    }

    .info .info-wrap {
        margin-top: 30px;
    }

    .info .info-wrap p {
        font-size: 14px;
    }

    .info .info-wrap p:nth-child(1) {
        font-size: 26px;
    }


    .github,
    .email {
        width: 44.5%;
        height: 150px;
    }

    .btn {
        border-radius: 30px;
        left:8px;
    }

    .btn .txt {
        font-size: 10px;
        width: 70px;
        margin-top: 12px;
    }

    .git-btn .txt {
        margin-top: 18px;
    }







    .ford {
        height: 350px;
    }

    .ford .ford-pc {
        width: 220px;
        top: 20px;
        left:-20px;
    }

    .ford .ford-mobile {
        width: 120px;
        right: 10px;
    }

    .intro-txt-box-top .title{
        font-size: 25px;
    }
    .intro-txt-box-wrap .txt-explain{
        font-size: 15px;
    }


}

/* //mobile */
