@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Anton|Montserrat|Noto+Sans+KR|Noto+Serif+KR|Gothic+A1|Cormorant+Garamond|Poiret+One|Syncopate&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


body {
    width: 100%;
    height:auto;
    color: #212529;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

a {
    color: #212529;
    text-decoration: none;
}

.home {
    width: 100%;
    float: left;
    position: relative;
    height:auto;
}

.home .logo {
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 20;
    position: relative;
}

.home .logo img {
    width: 100px;
    z-index: 20;
    margin-top: 20px;
}

/*.login img{
    width:20px;
}
.login{
    text-align: right;
    position:relative;
    top:-65px;
    margin-right:20px;
}*/

.menu {
    margin: 0 auto;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    top: 70px;
    opacity: .8;
}

.menu .menu-list {
    width: 500px;
    margin: 0 auto;
}

.menu ul li {
    width: 20%;
    float: left;
    padding: 10px 0 10px 0;
}

.menu ul li a {
    font-family: 'Syncopate', sans-serif;
    font-size: .7em;
    font-weight: 800;
    color: #868e96;
}

.menu ul li:hover {
    transition: .3s linear;
    border-bottom: 1px solid #212529;
}

.menu ul li:hover a {
    color: #212529;
    transition: .3s linear;
}


.home .banner {
    width: 100%;
    height: auto;
    text-align: center;
    float: left;
    position: relative;
    margin-top:40px;
}

.home .banner .img-wrap {
    width: 500px;
    margin: 0 auto;
    position: relative;
    height:auto;
}

.home .banner .banner-img {
    width: 500px;
    z-index: 6;
    margin: 0 auto;
    text-align: center;
    transition-duration: 1s;
    position: relative;
    top:0px;
    left:0px;
}
.home .banner .outer-wrap{
    width:500px;
    height:auto;
    position: absolute;
    top:70px;
    z-index: 3;
    transition-duration:7s;
    opacity: 0;
    overflow:hidden;
}
.home .banner .outer-wrap img{
    z-index: 4;
    width:230px;
    float:left;
    margin-bottom:30px;
    margin-left:7.5px;
    margin-right:7.5px;
    cursor: pointer;
    background-color: #ccc;
    
}
