@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.ttf");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff2");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}






html{
    overflow-x: hidden;!important
}

body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    overflow: hidden;
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}

nav{
    position: fixed;
    float:left;
    width:100%;
    top:0;
    z-index: 10;
    /*background: #fff;*/
}
nav .nav-wrap{
    position: relative;
    width:100%;
    height:50px;
    margin:0 auto;
    padding-top:10px;
    /*background: #eeeff1;*/
    transition-duration: .3s;
    /*box-shadow: 10px 1px 20px 10px rgba(0,0,0,0.1);*/
    overflow: hidden;
}
nav .nav-wrap .main-logo{
    position: relative;
    float: left;
    width:100px;
    margin-top:10px;
    margin-left:10px;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

.nav-menu{
    position: relative;
    float:left;
    width:200px;
}
.nav-menu li{
    position: relative;
    float:right;
    padding:10px;
    font-weight: 500;
}

/* spread-menu */
#spread-menu{
    position:absolute;
    width:0px;
    height:100vh;
    top:0;
    right:0px;
    padding:25px 0px;
    background: #fff;
    transition-duration: .5s;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    z-index: 12;
}
.spread-menu-wrap{
    position: relative;
    width:100%;
    margin:0 auto;
}
.close-button{
    position: relative;
    float:left;
    width:100%;
    margin-left:30px;
    font-weight: 500;
    color:#640000;
}

#spread-menu .top-menu{
    position: relative;
    float:left;
    width:100%;
    margin-top:50px;
}
#spread-menu ul li{
    position: relative;
    float:left;
    width:100%;
    padding:15px 30px;
    font-size: 16px;
}
#spread-menu .bottom-wrap{
    position: relative;
    float:left;
    width:100%;
    height:100vh;
    background: #fcfbf9;
}


/* //spread-menu */



/* click-to-black */
#click-to-black{
    position: absolute;
    z-index: 4;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    transition-duration: .5s;
    opacity: 0;
}
/* //click-to-black */




/* main */
#main{
    position: relative;
    float: left;
    width:100%;
    height:100vh;
    box-sizing: border-box;
    z-index: 5;
}
#main .main-wrap{
    position: relative;
    width:100%;
    height:100%;
    margin:0 auto;
}
#main .main-title{
    position: absolute;
    top:50%;
    left:0;
    transform: translate(0,-50%);
    font-size:50px;
    font-weight: 500;
}
#main .main-bespoke{
    position: relative;
    float:left;
    width:100%;
}
#main .main-wrap .sub-wrap{
    position: relative;
    float:left;
    width:100%;
}
#main .main-wrap .sub-wrap{
    position: relative;
    float:left;
    width:100%;
    padding:10px 10px 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}
/*
#main .main-wrap .sub-wrap .sub-img-wrap:nth-child(1){
    padding:15px 7.5px 0px 0px;
}
#main .main-wrap .sub-wrap .sub-img-wrap:nth-child(2){
    padding:15px 0px 0px 0px;
}
#main .main-wrap .sub-wrap .sub-img-wrap:nth-child(3){
    padding:15px 0px 0px 7.5px;
}
*/
#main .main-wrap .sub-wrap img{
    position: relative;
    float:left;
    width: 33%;
    padding-right:10px;
}



/*first-wrap*/
.first-wrap{
    position: absolute;
    width: 100%;
    height:100vh;
    left:0;
    background: #D7D6AA;
    overflow: hidden;
    z-index: 20;
    animation-name: firstShow;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    
}
.first-wrap .main1{
    position: absolute;
    width:500px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.first-wrap .say-hello-txt{
    position: absolute;
    width:100%;
    text-align: center;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 150px;
    font-weight: 500;
    color:#fff;
    opacity: .8;
}
@keyframes firstShow{
    from{
        opacity: 1;
        z-index: 20;
    }
    to{
        opacity: 0;
        z-index: -1;
    }
}
/*//first-wrap*/




/* 태블릿 */
/*
@media screen and (max-width: 767px) and (min-width:701px) {

}
*/
/* //태블릿 */




/* 모바일 */
/*

@media screen and (max-width: 700px) and (min-width:551px) {
  
}









@media screen and (max-width: 549px) {
   
}
*/
/* //모바일 */
