@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.ttf");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoB.woff2");
    font-family: "AppleSDGothicNeoB";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.ttf");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoR.woff2");
    font-family: "AppleSDGothicNeoR";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.ttf");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoM.woff2");
    font-family: "AppleSDGothicNeoM";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.ttf");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff");
    font-family: "AppleSDGothicNeoUL";
}

@font-face {
    src: url("../fonts/AppleSDGothicNeoUL.woff2");
    font-family: "AppleSDGothicNeoUL";
}


@font-face {
    src: url("../fonts/AvenirLTStd-Black.ttf");
    font-family: "AvenirLTStd-Black";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Black.woff");
    font-family: "AvenirLTStd-Black";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Black.woff2");
    font-family: "AvenirLTStd-Black";
}



@font-face {
    src: url("../fonts/AvenirLTStd-Roman.ttf");
    font-family: "AvenirLTStd-Roman";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Roman.woff");
    font-family: "AvenirLTStd-Roman";
}

@font-face {
    src: url("../fonts/AvenirLTStd-Roman.woff2");
    font-family: "AvenirLTStd-Roman";
}







body {
    width: 100vw;
    height: 100vh;
    color: #292929;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    /*-ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
    /*background-image: url(../plantlance-img/main-bespoke1.jpg);*/
}


a,
p,
li {
    text-decoration: none;
    color: #292929;
}





/* nav */


/* //nav */



/* top-info-section */
#top-info-section{
    position: relative;
    float:left;
    width:100%;
    height:30px;
    background: #292929;
    top:0;
    z-index: 10;
    display: none;
}
.top-info-wrap{
    position: relative;
    width:700px;
    display: flex;
    justify-content: space-around;
    left:50%;
    transform: translate(-50%);
}
.top-info-wrap p{
    position: relative;
    color:#fff;
    margin-top:5px;
}
.top-info-wrap p img{
    position: absolute;
    width:15px;
    left:-20px;
    top:3px;
}
/* //top-info-section */



/* nav */
nav{
    position: relative;
    float:left;
    width:95%;
    height:100px;
    left:50%;
    transform: translate(-50%);
    z-index: 10;
}
.nav-wrap{
    position: relative;
    width:100%;
    max-width: 1440px;
    height:100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.nav-wrap .logo-img{
    position: relative;
    float:left;
    width:150px;
    margin-top:45px;
    flex-shrink: 1;
}
.nav-wrap .search-bg{
    position: relative;
    float:left;
    width:100%;
    height:90px;
    margin-top:5px;
    border-radius: 7px;
    transition-duration: .5s;
    overflow: hidden;
    z-index: 11;
}

.nav-wrap .whole-search{
    position: relative;
    width:95%;
    height:55px;
    margin:0 auto;
    margin-top:20px;
    padding-left:20px;
    border:none;
    background: #eee;
    border-radius: 40px;
    font-family: "AppleSDGothicNeoB";
    left:50%;
    transform: translate(-50%);
    transition-duration: .2s;
}

.nav-wrap .whole-search:focus{
    outline: none;
}
input::-ms-clear,
input::-ms-reveal{
	display:none;width:0;height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}


.nav-wrap .close-wrap{
    position: absolute;
    left:0;
    width:7.5%;
    height:40px;
    top:27px;
}
.nav-wrap .close-btn{
    position: relative;
    width:10px;
    padding: 10px;
    border-radius: 40px;
    display: none;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
     transition-duration: .3s;
}
.nav-wrap .close-btn:hover{
    background: #eee;
}


.nav-wrap .search-btn-wrap{
    position: absolute;
    right:0;
    width:7.5%;
    height:40px;
    top:27px;
}
.nav-wrap .search-btn{
    position: relative;
    width:16px;
    padding: 10px;
    border-radius: 40px;
    display: block;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    transition-duration: .3s;
    display: none;
}
.nav-wrap .search-btn:hover{
    background: #eee;
}
.nav-wrap .popluar-searcher{
    position: relative;
    float:left;
    width:90%;
    padding:20px;
    left:50%;
    transform: translate(-50%);
}
.nav-wrap .popluar-searcher .popular-title{
    position: relative;
    float:left;
    width:100%;
    font-family: "AppleSDGothicNeoB";
    font-size: 25px;
    margin-bottom:20px;
    margin-left:40px;
    
}
.nav-wrap .popluar-searcher .popular-searcher-product{
    position: relative;
    float:left;
    width:100%;
    font-family: "AppleSDGothicNeoM";
    font-size: 16px;
    margin-left:50px;
    margin-bottom:18px;
    color:rgba(0,0,0,0.6);
}



.nav-button-wrap{
    position: relative;
    float:left;
    width:170px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}
.nav-button-wrap img{
    position: relative;
    width:22px;
    top:50%;
    transform: translate(0%,-50%);
}


/* //nav */




/* main-menu-slide */
#main-menu-slide{
    position: absolute;
    top:0;
    right:0;
    width:0px;
    height:100vh;
    background: #fff;
    z-index: 12;
    transition-duration: .3s;
    overflow-y: scroll;
    overflow-x: hidden;
}
.main-menu-slide-wrap{
    position: relative;
    width:100%;
    overflow: hidden;
    margin-left:10px;
    margin-bottom:30px;
    opacity: 0;
}

.main-menu-close-btn{
    position: relative;
    float:left;
    width:13px;
    margin-top:45px;
    margin-left: 20px;
    margin-bottom: 40px;
    background: #eee;
    padding:10px;
    border-radius: 40px;
}


.main-menu-slide-wrap p{
    position: relative;
    float:left;
    width:100%;
    font-size: 25px;
    margin-left:20px;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.main-menu-slide-wrap .new-object{
    margin-bottom:20px;
}
.main-menu-slide-wrap .sofa{
    width:40%;
}
.main-menu-slide-wrap .kind-of{
    position: relative;
    float:right;
    width:45%;
    margin-top:10px;
}
.main-menu-slide-wrap .kind-of p{
    margin-left:0;
    margin-bottom: 20px;
    font-size: 15px;
    color:rgba(0,0,0,0.6);
    transition-duration: .3s;
}
.main-menu-slide-wrap .kind-of p:hover{
    color:rgba(0,0,0,1);
}
.main-menu-slide-wrap .table-wrap, .bottom-eng-menu-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
}
.main-menu-slide-wrap .table{
    width:40%;
}

.main-menu-slide-wrap .bottom-title{
    font-family: 'Jost',sans-serif;
    font-weight: 500;
    font-size: 22px;
    width:40%;
}
.main-menu-slide-wrap .bottom-eng-menu-wrap .kind-of p{
    font-family: 'Jost',sans-serif;
    font-weight: 500;
}


.main-menu-slide-wrap .menu-sns{
    position: absolute;
    float:left;
    width:100px;
    height:40px;
    top:43px;
    right:50px;
    display: flex;
    justify-content: space-between;
}
.main-menu-slide-wrap .menu-sns img{
    width:35px;
    opacity: .7;
    transition-duration: .3s;
}
.main-menu-slide-wrap .menu-sns img:hover{
    opacity: 1;
}
/* //main-menu-slide */




/* bg-black */
.bg-black{
    position: absolute;
    top:0;
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    z-index: 10;
    display: none;
}
/* bg-black */




/* kakao */
.open-chat-wrap{
    position: fixed;
    z-index: 9;
    bottom:50px;
    right:40px;
    border-radius: 40px;
    box-shadow:1px 1px 16px 11px rgba(0,0,0,0.12);
}

.open-chat{
    position: relative;
    float: left;
    width:60px; 
}

/* //kakao */


/* main-section */

#main-section{
    position: relative;
    float:left;
    width:95%;
    height: auto;
    padding:10px;
    left:50%;
    transform: translate(-50%);
    margin-top:0px;
}
.main-section-wrap{
    position: relative;
    width:100%;
    max-width: 1440px;
    height:730px;
     margin:0 auto;
    background: #ddd;
    overflow: hidden;
}
.main-section-wrap .main-bespoke-img{
    position: relative;
    width:100%;
    min-width: 1100px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.main-section-wrap .txt-box{
    position: absolute;
    width:350px;
    height:350px;
    bottom:0px;
    right:0px;
    background: #e6c191;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.txt-box .main-section-title{
    position: relative;
    float:left;
    width:100%;
    font-family: "AppleSDGothicNeoB";
    font-size: 30px;
    margin-top:40px;
    margin-left:100px;
}
.txt-box .main-section-title2{
    margin-top:-3px;
}
.txt-box .main-section-txt{
    position: relative;
    float:left;
    width:200px;
    font-family: "AppleSDGothicNeoM";
    font-size: 16px;
    margin-top:40px;
    margin-left:100px;
    text-align: justify;
}
.txt-box .bespoke-button{
    position: absolute;
    float:left;
    padding:10px 20px 10px 20px;
    bottom:30px;
    right:50px;
    color:#fff;
    background: #292929;
    border:1px solid #292929;
    border-radius: 30px;
    transition-duration: .3s;
    opacity: .8;
   
    
}
.txt-box .bespoke-button:hover{
    opacity: 1;
}
/* //main-section */











/* main-product */

#main-product-view{
    position: relative;
    float:left;
    width:95%;
    height: auto;
    margin-top:40px;
    padding:10px;
    left:50%;
    transform: translate(-50%);
}

.main-product-view-wrap{
    position: relative;
    width:100%;
    max-width: 1440px;
    margin:0 auto;
    
}

.main-product-view-wrap .product-title{
    position: relative;
    float:left;
    width:100%;
    font-family:"AppleSDGothicNeoB";
    font-size: 30px;
    margin-left:45px;
}
.main-product-view-wrap .title-circle{
    position: absolute;
    width:70px;
    height:70px;
    background: #fad02c;
    border-radius: 40px;
    z-index: -1;
    left:35px;
    top:-13px;
}
.product-whole-wrap{
    position: relative;
    float:left;
    width:100%;
    height:auto;
    margin-top:50px;
}
.product-box{
    position: relative;
    float:left;
    width:100%;
    display: flex;
    justify-content: space-around;
    
}
.product-box .product-img-box{
    position: relative;
    width:50%;
    height:500px;
    overflow: hidden;
    margin-bottom:20px;
    box-shadow: 1px 10px 30px 1px rgba(0,0,0,0.03);
}
.product-box .product-img-box .product-name{
    position: absolute;
    float:left;
    font-size: 22px;
    top:25px;
    left:30px;
    font-weight: 500;
    text-transform: uppercase;
}
.product-box .product-img-box .view-button{
    position:absolute;
    bottom:25px;
    right:20px;
    background: #eee;
    padding:10px 20px;
    font-size: 12px;
    border-radius: 40px;
    transition-duration: .3s;
    opacity: .6;
    font-weight: 500;
}
.product-box .product-img-box .view-button:hover{
    opacity: 1;
}
.product-box .product-img-box:nth-child(1){
    margin-right:20px;
}
.product-box .product-img-box:nth-child(2){
    height:450px;
}
.product-box .product-img-box img{
    position: absolute;
    bottom: 0;
}


.product-box .wily-box{
    background-color: #fff;
    width:100%;
    box-shadow: 1px 10px 30px 1px rgba(0,0,0,0.03);
}
.product-box:nth-child(1) .product-img-box{
    margin-right:0;
}
.product-box .wily-box img{
    width:1000px;
    top:100px;
    left:50%;
    transform: translate(-50%);
}
.product-box .flex-box{
    /*background-color: #f9f6f0;*/
    background: #292929;
}
.product-box .flex-box .product-name{
    color:#fff;
}
.product-box .flex-box img{
    width:800px;
    right:-30px;
    top:80px;
}



.product-box:nth-child(3) .product-img-box:nth-child(2){
    margin-top:-50px;
}
.product-box:nth-child(4) .product-img-box:nth-child(2){
    margin-top:-100px;
}

.product-box .momo-box{
    background: #fff;
}
.product-box .momo-box img{
    width:500px;
    top:-80px;
    left:50%;
    transform: translate(-50%);
}
.product-box .our-box{
    background: #e6e5ca;
}
.product-box .our-box img{
    width:900px;
    bottom:0;
}

.product-box .cloud-box{
    background: #f8f9f7;
}
.product-box .cloud-box img{
    width:1000px;
    bottom:-40px;
    left:-150px;
}
.product-box .mate-box{
    background: #fff;
}

.product-box .mate-box img{
    width:600px;
    bottom:-120px;
    left:50%;
    transform: translate(-50%);
}

.product-box:nth-child(3) .product-img-box:nth-child(2){
    height:550px;
    background: #292929;
}
.product-box:nth-child(3) .product-img-box:nth-child(2) .product-name{
    color:#fff;
}
.product-box .etc-box img{
    width: 550px;
    left:0;
}
/* //main-product */






/* donation-section */
#donation-section{
    position: relative;
    float:left;
    width:95%;
    height: auto;
    margin-top:40px;
    padding:10px;
    left:50%;
    transform: translate(-50%);
    margin-bottom:35px;
}
.donation-wrap{
    position: relative;
    width:100%;
    height:200px;
    max-width: 1440px;
     margin:0 auto;
    overflow: hidden;
    background-color: #fd7f20;
}
.donation-wrap .donation-txt{
    position: relative;
    float:left;
    width:100%;
    color:#fff;
    font-family: "AppleSDGothicNeoB";
    font-size: 24px;
    margin-top:67px;
    margin-left:50px;
}
.donation-wrap p:nth-child(2){
    margin-top:2px;
    font-size: 18px;
}
.donation-wrap .donation-view-button{
    position: absolute;
    right:0;
    top:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding:10px 20px;
    font-size: 12px;
    border-radius: 40px;
    transition-duration: .3s;
    font-weight: 500;
    opacity: .7;
}
.donation-wrap .donation-view-button:hover{
    opacity: 1;
}
/* //donation-section */





/* showroom-section */


#showroom-section2{
    position: relative;
    float:left;
    width:95%;
    max-width: 1440px;
    height: auto;
    margin-top:40px;
    margin-bottom: 10px;
    padding:10px;
    left:50%;
    transform: translate(-50%);
}
.showroom-section-wrap2{
    overflow-x: scroll;
    padding-bottom:40px;
}
.showroom-section-wrap2::-webkit-scrollbar{
    background-color: #fff;
    width:10px;
}
.showroom-section-wrap2::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
    background-clip: padding-box;
    border:4px solid transparent;
    margin:0 auto;
}
.showroom-section-wrap2::-webkit-scrollbar-track{
    border-radius: 10px;
}
#showroom-section2 .showroom-txt-box{
    width:100%;
    height:50px;
    background: none;
}
#showroom-section2 .showroom-txt-box p{
    position: relative;
    float:left;
    font-family: "AppleSDGothicNeoB";
    font-size: 30px;
}
#showroom-section2 .showroom-txt-box p:nth-child(1){
    margin-left:50px;
    color:#fff;
}
#showroom-section2 .showroom-circle{
    position: absolute;
    float:left;
    width:70px;
    height:70px;
    background: #ddd;
    z-index: -11;
    left:50px;
    top:-4px;
    border-radius: 40px;
    background: #548cd8;
}
#showroom-section2 .showroom-img-box{
    position: relative;
    width:2800px;
    height:auto;
    margin-top:30px;
    padding-bottom: 50px;
    padding-top:30px;
}
#showroom-section2 .showroom-img-box .showroom{
    position: relative;
    float:left;
    width:400px;
    height:400px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 1px 15px 20px 10px rgba(0,0,0,0.05);
    margin-left:20px;
    margin-right:30px;
    overflow: hidden;
}
#showroom-section2 .showroom-img-box .showroom p{
    font-family: "AppleSDGothicNeoB";
    font-size: 20px;
    margin-top:15px;
    margin-left:20px;
    z-index: 2;
}
#showroom-section2 .showroom-img-box .showroom .title{
    position: absolute;
    top:0px;
    background: #292929;
    width:auto;
    color:#fff;
    padding:20px 10px;
    border-radius:100%;
    font-size: 18px;
}
#showroom-section2 .showroom-img-box .showroom .address{
    position: absolute;
    font-size: 14px;
    margin-top:10px;
    bottom:45px;
}
#showroom-section2 .showroom-img-box .showroom .call-wrap{
    position: absolute;
    width:50px;
    height:50px;
    background: #548cd8;
    border-radius: 40px;
    bottom:30px;
    right:30px;
    box-shadow: 1px 5px 40px 3px rgba(0,0,0,0.2);
    z-index: 2;
}
#showroom-section2 .showroom-img-box .showroom .call-wrap img{
    position: absolute;
    width:25px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#showroom-section2 .showroom-img-box .showroom .map{
    position: relative;
    width:500px;
    z-index: 1;
    left:50%;
    transform: translate(-50%);
    
}
/* //showroom-section */








/* footer */
footer{
    position: relative;
    float:left;
    width:100%;
    background: #eeeff1;
}
footer .footer-container{
    position: relative;
    width:95%;
    height:200px;
    padding:10px;
    padding-top:30px;
    /*background:#eeeff1;*/
    left:50%;
    bottom:0;
    transform: translate(-50%,0);
}
.footer-wrap{
    position: relative;
    width:100%;
    max-width: 1440px;
    margin:0 auto;
}
.footer-wrap .footer-logo{
    position: relative;
    float:left;
    font-size: 25px;
    font-weight: 500;
}
.footer-txt-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:0px;
    border-bottom: 1px solid #ddd;
    padding-bottom:10px;
    padding-top:20px;
}
.footer-txt-wrap p{
    position: relative;
    float:left;
    font-family: "AppleSDGothicNeoB";
    font-size: 16px;
    margin-bottom:10px;
    color:#666;
    text-align: left;
    margin-right:30px;
}
.footer-txt-wrap .number,.footer-txt-wrap  .mail{

    font-family: 'Jost', sans-serif;
    font-weight: 500;
    margin-top:-1px;
}
.footer-txt-wrap p:hover{
    text-decoration: underline;
}

.footer-bottom-txt-wrap{
    position: relative;
    float:left;
    width:100%;
    margin-top:20px;
}
.footer-bottom-txt-wrap p{
    position: relative;
    float:left;
    font-family: "AppleSDGothicNeoM";
    font-size: 12px;
    color:#666;
    margin-right:10px;
}
.footer-bottom-txt-wrap .copyright{
    width:100%;
    margin-top:30px;
}
/* //footer */








/* 태블릿 */
/*
@media screen and (max-width: 767px) and (min-width:701px) {

}
*/
/* //태블릿 */




/* 모바일 */
/*

@media screen and (max-width: 700px) and (min-width:551px) {
  
}









@media screen and (max-width: 549px) {
   
}
*/
/* //모바일 */
